{% extends "base1.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
  <div class="row">
    <div class="col s12 md6 l6 xl6">
      <div class="pass-c-svg">
        <img src="{% static 'img/c_password.svg'%}" alt="change password">
      </div>
    </div>
    <div class="col s12 md6 l6 xl6">
      <div class="pass-ch-page">
        <h1>{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
