{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}<title>{% trans "Change Password" %}|Rehgien</title>{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
    <div class="Pass-chElWrapper">
      <div class="pass-ch-page">
        <a href="{%url 'listings:homepage'%}">
          <div class="loginLogo" style="background-image:url({%static 'img/rhg_logo1.png' %});">
          </div>
        </a>
        <h1>{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
      </div>
    </div>
{% endblock %}
