{% extends "base.html" %}
{%load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="pass-changedPageWrapper">
  <div class="pass-changedBox">
      <div class="pass-changed-svg" style="background-image:url({%static 'img/successCheck.svg' %});">
      </div>
      <div class="pass-changed">
        <h1>{% trans "Change Password" %}</h1>
        <p>{% trans 'Your password is now changed.' %}</p>
      </div>
  </div>

</div>
{% endblock %}
