{% extends 'chat/chat_base.html'%}
{% load static %}

{% block content %}

<div class="stMessages" style="margin-top:50px; border:1px solid red;">

  <!-- <div class="stMessageInForm">
    <form id="message-form" name="message-form">
      <div class="msgBox">
        <textarea name="ChatTextMessage" id="message-input" rows="8" cols="80"></textarea>
        <div class="fileBox">
          <div class="flsSelected">

          </div>
          <div class="msgbttns">
            <div class="msFileInput">
              <label for="MsFile" class="msfileLabel"><span></span><i class="fas fa-paperclip"></i></label>
            </div>
            <div class="msgBtn">
              <button type="submit" name="button"><i class="far fa-paper-plane"></i></button>
            </div>
          </div>
        </div>
      </div>
  </form>
  </div> -->
</div>

{% endblock %}
