{% extends 'base1.html' %}
{% load static %}

{% block content %}
<div class="chtRmsBanner" style="background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url({% static 'img/chatroom.jpg'%})">
  <div class="chtRmsBrCt">
      <h6>Discover other proffesionals in the network</h6>
      <p>Join a chat room and explore what others are talking about, connect and network.</p>
  </div>
  <div class="chtRmsBrImg"></div>
</div>

<section>
  <div class="container">
    <div class="row">
      <div class="roomRow">
        {% for chat_room in rooms%}
        <div class="ChtRmsCard">
          <div class="ChtRmsCnt">
            <h6>{{chat_room.name}}</h6>
            <li>{{chat_room.description}}</li>
            <li>{{chat_room.slug}}</li>
          </div>
          <div class="ChtRmsbtn">
            <a href="/chat/rooms/{{chat_room.slug}}"><button type="button" name="button">Join</button></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
