{% extends 'chat/chat_base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
  function loadPopUp(){
    // Get the modal
    var modal = document.getElementById('msMediaModal');

    // Get the image and insert it inside the modal
    var img = document.getElementsByClassName('mediaMsg')
    var modalImg = document.getElementById("msimg01");

    for (var i = 0; i < img.length; ++i) {
      img[i].onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
      }

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("msModalclose")[0];

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }
    }
  }
</script>
  <div class="container" style="width:100%;">
    <div class="roomMsgsWrapper">
    <div class="sidebarPanel">

          <div class="roomCardD card ">
            <div class="roomCtD">
              <h6>{{room.name}}</h6>
              <p>{{room.description}}</p>
            </div>
            <button type="button" name="button"><i class="far fa-edit"></i></button>
          </div>
            <div class="roomInD">
            <div class="PublicChannels">
              <div class="CDiscHr">
                <h6>Channels</h6>
                <button class="modal-trigger" href="#crtChannelModal" type="button" name="button"><i class="fas fa-plus"></i></button>
              </div>
              <div id="channelList">

              </div>
            </div>

            <div class="DirectMessages">
              <div class="DMsgHr">
                <h6>Direct Messages</h6>
                <button type="button" name="button"><i class="fas fa-plus"></i></button>
              </div>
              <div id="roomMembers">

              </div>

            </div>
          </div>
    </div>
    <div class="msInpBox">
      <div class="msInBHeader">
        <div class="rmBasicInfo">
          <div class="rmNm">
          </div>
          <div class="rmDs">
            <div class="rmMbrs">
            <i class="far fa-user"></i>
            </div>
            <div class="rmDescrption">

            </div>
          </div>
        </div>
        <div class="rmInfoBtns">
          <ul id="rm_collapsible" class="collapsible">
           <li>
             <div id="rm_collapsible-header" class="collapsible-header"><i class="fas fa-info-circle"></i></div>
             <div id="rm_collapsible-body" class="collapsible-body">
               <div class="ch_actionbtns">
                 <button type="button" name="button"><i class="fas fa-phone"></i></button>
                 <button class="modal-trigger" href="#ch_InviteModal" type="button" name="button"><i class="fas fa-user-plus"></i></button>
               </div>
               <div class="ch_details">
                 <ul id="ch_details-collapsible" class="collapsible">
                  <li class="active">
                    <div id="ch_details-collapsible-header" class="collapsible-header">About<i class="fas fa-chevron-right"></i></div>
                    <div id="ch_details-collapsible-body" class="collapsible-body">
                      <div class="ch_details-inf">
                        <div class="ch_details-chDesc">
                          <h6>Description</h6>
                          <p>this is a description</p>
                        </div>
                        <div class="ch_details-chCreatedInf">
                          <p>Created on 12-June-2020</p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div id="ch_details-collapsible-header" class="collapsible-header">Members<i class="fas fa-chevron-right"></i></div>
                    <div id="ch_details-collapsible-body" class="collapsible-body">
                      <div class="ch_details-inf">
                        <div class="ch_details-Members">
                          <ol>
                            <li>mikey Kimey</li>
                          </ol>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div id="ch_details-collapsible-header" class="collapsible-header">Files<i class="fas fa-chevron-right"></i></div>
                    <div id="ch_details-collapsible-body" class="collapsible-body">
                      <div class="ch_details-inf">
                        <div class="ch_details-Files">
                          <ol>
                            <li>No files</li>
                          </ol>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
               </div>
               <div class="ch_deletebtn">
                 <button type="submit" name="button">Delete</button>
               </div>
             </div>
           </li>
           </ul>
        </div>
      </div>
        <div class="msgHistory">
          <div class="msgInBox">
            <div id="messages">
                <div id="info-box">

                </div>
            </div>
          </div>
        </div>
        <footer class='msgRm-footer'>
              <form id="message-form" name="message-form">
                <div class="msgPrfImg" style='display:none;'>
                  {%if request.user.agent_profile.profile_image%}
                  <img id="senderProfileImage" src="{{request.user.agent_profile.profile_image.url}}">
                  {% else %}
                  <img id="senderProfileImage" src="{%static 'img/avatar.png'%}">
                  {% endif %}
                </div>
                <div class="msgBox">
                  <textarea name="ChatTextMessage" id="message-input" rows="8" cols="80"></textarea>
                  <div class="fileBox">
                    <div class="flsSelected">

                    </div>
                    <div class="msgbttns">
                      <div class="msFileInput">
                        <input id="MsFile" type="file" name="ChatFile" onChange="filePreview(this)" data-multiple-caption="{count} files" multiple>
                        <label for="MsFile" class="msfileLabel"><span></span><i class="fas fa-paperclip"></i></label>
                      </div>
                      <div class="msgBtn">
                        <button type="submit" name="button"><i class="far fa-paper-plane"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
            </form>
        </footer>
    </div>
    </div>
    <div id="msMediaModal" class="modal">
      <span class="msModalclose">&times;</span>
      <img class="modal-content" id="msimg01">
    </div>

    <div id="crtChannelModal" class="modal">
      <form class="createChannelForm" action="{% url 'chat:create_channel'%}" method="post">
        {%csrf_token%}
        <span class="cFormModalclose modal-close">&times;</span>
        <div class="cChnHeader">
          <h6>Create channel</h6>
          <div class="cChnHrDtl">
            <p>
              Channels are room where you can communicate with other pros.
              They can be based on discussions or just user groups.
            </p>
          </div>
        </div>
        <div class="channelNm">
          <label for="uniqueName">Name</label>
          <div class="uqNameWrapper">
            <input id="uniqueName" type="text" name="uniqueName" value="" placeholder="e.g. client-leads ">
          </div>
        </div>
        <div class="channelDesc">
          <label for="chDescription">Description</label>
          <div class="chDesWrapper">
            <input id="chDescription" type="text" name="chDescription" value="" placeholder="What is this channel about?">
          </div>
        </div>
        <div id="stateSwitch" class="switch">
          <div class="stSwchDsc">
            <h6>Make private</h6>
            <p>Private channels can only be joined or viewed via an invite.</p>
          </div>
           <label>
             <input name="channelStatus" type="checkbox">
             <span class="lever"></span>
           </label>
        </div>
        <div class="chSbBtn">
            <button type="submit" name="button">Create</button>
        </div>
      </form>
    </div>

    <div id="ch_InviteModal" class="modal">
      <span class="cFormModalclose modal-close">&times;</span>
      <form class="ch_InviteForm" action="{% url 'chat:channel_invite'%}" method="post">
        {%csrf_token%}
        <div class="ch_InviteDs">
          <h6>Invite Members</h6>
        </div>
        <br>
        <label for="ch_username">Username</label>
        <div class="ch_InviteNmSearch">
          <select id="ch_username" name="ch_username"  placeholder="Select user" theme="google" data-search='true' multiple='multiple'>
          </select>
        </div>

        <div class="ch_InviteSBWrapper">
          <button id="ch_InviteSB" type="submit" name="button">Invite</button>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript" >
    function filePreview(input) {
      if (input.files && input.files[0]) {
        for (var i = 0; i < input.files.length; i++) {
          (function(file) {
            var reader = new FileReader();
              reader.onload = function (e) {
                $('.flsSelected').append(
                "<img class='iImagePreview'" + "src=' " + e.target.result + "'" + "alt='image' width='50px' height='50px'>"
                );
              };
            reader.readAsDataURL(file);
          })(input.files[i]);
        }
      }
    }

  </script>

{% endblock %}
