{% load static%}
<form class="ProSaveForm"  action="{% url 'profiles:request_connection'%}" method="post">
  {% csrf_token %}
  {% if request_exists %}
     <button id="_proTeam" type="submit" value="{{receiver}}" style="color:#1100ff;">
       <span class="material-icons" style="color:#2cb2ea;">check</span>
       {% if connection.receiver_accepted == 'Yes'%}
         Connection
      {% else%}
        Waiting approval
      {% endif %}
     </button>
  {% else %}
    <button class="{% if request.user == receiver %} team_iconDisabled{% endif %}" id="_proTeam" {% if request.user == receiver %} disabled {%endif%} type="submit"  value="{{receiver}}"
    style="{% if request.user == receiver %} color:#ddd !important; {%else%} color:#2cb2ea  {% endif %}"
    >
      <span class="material-icons {% if request.user == receiver %} team_iconDisabled{% endif %}" style="{% if request.user == receiver %} color:#ddd; {%else%} color:#2cb2ea {% endif %}">group_add</span>Connect
    </button>
  {% endif%}
</form>
