{% load static%}
<form class="ProSaveForm"  action="{% url 'profiles:request_connection'%}" method="post">
  {% csrf_token %}
  {% if request_exists %}
     <button class="tooltipped" id="_proTeam" type="submit" value="{{user_2}}" data-position="top"
     data-tooltip="
      {% if connection.receiver_accepted == 'Yes'%}
        leave team
      {%else %}
        Request sent. Waiting for approval
      {% endif %}
     "
     style="color:#1100ff;"
     >
       <span class="material-icons" style="color:#2cb2ea;">group_add</span>
       {% if connection.receiver_accepted == 'Yes'%}
         Connection
      {% else%}
        Waiting approval
      {% endif %}
     </button>
  {% else %}
    <button class="tooltipped {% if user_1 == user_2 %} team_iconDisabled{% endif %}" id="_proTeam" {% if user_1 == user_2 %} disabled {%endif%} type="submit"  value="{{user_2}}" data-position="top"
    data-tooltip="
      Get added to this pro's network as a teammate
    "
    style="{% if user_1 == user_2 %} color:#ddd !important; {%else%} color:#000 {% endif %}"
    >
      <span class="material-icons {% if user_1 == user_2 %} team_iconDisabled{% endif %}" style="{% if user_1 == user_2 %} color:#ddd; {%else%} color:#2cb2ea {% endif %}">group_add</span>Connect
    </button>
  {% endif%}
</form>
