{% extends 'base1.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="ag-banner" style="background-image:url({%static 'img/nairobi.jpg'%});" >
  </div>
</div>
<div class="container">
  <h5 class="ag-title">Find an agent today. Our agents are verified</h5>
  <hr style="width:20px;height:5px; background-color:black;">
  <div class="row">
    <div class="filter-fields valign-wrapper ">
      <div id='ag-input-wrapper' class="col s12 md4 l4 xl4">
        <label for="loc_filter"><b>Location</b></label>
        <input id= "loc_filter" type="search" name="loc-input">
      </div>
      <div id='ag-input-wrapper' class="col s12 md4 l4 xl4">
        <label for="loc_filter"><b>Name</b></label>
      <input id= "name_filter" type="search" name="name-input">
      </div>
      <div id='ag-input-wrapper' class="col s12 md4 l4 xl4">
        <label for="loc_filter"><b>Service</b></label>
        <input id= "service_filter" type="search" name="service-input">
      </div>
      <div id='ag-bt-wrapper' class="col s12 md4 l4 xl4">
        <button id= "ag_f_button" type="button" name="button"> Search</button>
      </div>
    </div>
    <hr>
  </div>
</div>

<div class="container">
  <div class="row">
    {% for agent in agents %}
    <div id="agent-card" class="card">
      <div class="row">
        <div class="col s12 md6 l4 xl4">
          <div class="ag-img">
            {% if agent.profile_image %}
            <img src="{{agent.profile_image.url}}" style='width:120px;height120px' alt="{{agent.user.first_name}}">
            {% else %}
            <img src="{% static 'img/avatar.png'%}" style='width:120px;height120px' alt="{{agent.user.first_name}}">
            {% endif%}
          </div>
        </div>
        <div class="col s12 md6 l4 xl4">
          <div class="ag-details">
            <p> <b>{{agent.user.first_name}} {{agent.user.last_name}}</b></p>
            <p>{{agent.user.email}}</p>
            <p>{{agent.phone}}</p>
            <p><a href="{% url 'profiles:agent_detail' agent.pk%}">View More</a></p>
          </div>
        </div>
        <div class="col s12 md6 l4 xl4">
          <div class='ag-review'>
            <p>No review available for this agent!</p>
            <a href="#"><button type="button" name="button"> Review</button></a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- paginator for agent list-->
  {% include 'profiles/pagination.html' with listings=agents %}
</div>
{% endblock %}
