{% extends 'base1.html'%}
{% load static%}
{% block content %}
<script src="{% static 'js/jquery.min.js' %}"></script>

<section>
  <div class="container">
    <nav class="breadc-nav">
      <div class="nav-wrapper-bread">
        <div class="col s12">
          <a href="{% url 'listings:homepage'%}" class="breadcrumb">Home</a>
          <a href="{% url 'homepage'%}" class="breadcrumb">Find Professionals</a>
          <a href="{{pro.get_absolute_url}}" class="breadcrumb">{{pro.business_name}}</a>
          <a href="#!" class="breadcrumb">Review</a>
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="col s12 md4 l4 xl4">
        <div id="review_p_ag_card" class="card">

          <div class="rvw-p-img-box">

            <img src="
              {% if pro.business_profile_image %}
                {{pro.business_profile_image.url}}
              {% else %}
                {%static 'img/avatar.png'%}
              {% endif %}
            " alt="{{pro.business_name}}" style="width:70px; height:70px; border-radius:50%;object-fit:cover;">
          </div>
          <div class="rvw-p-dtls-box">
            <li><b>{{pro.business_name}}</b></li>
            <li><span class="material-icons">star_rate</span>{{recommendation_rating_avg}}/5 <a href="#" style='color:#cc0000;'>&nbsp ({{reviews_count}}) reviews</a></li>
            <li><a href="{{pro.get_absolute_url}}"><span style="font-weight:100; color:#cc0000;">View Profile</span></a></li>
          </div>
        </div>
      </div>
      <div class="col s12 md8 l8 xl8">
        <div class="review-form-wrapper">
          <div class="w-review-header">
            <h1>Write your review</h1>
          </div>
          <form class="ag-review-form" action="{% url 'profiles:business_review'%}" method="post">
            {% csrf_token %}
            <h3>How Likely are you to recomend <b>{% if pro.business_name %}{{pro.business_name}}{% else %}pro{% endif %}</b>.</h3>
            <input type="text" name="pro_id" hidden value="{{pro.pk}}">
            <div class='rating-stars text-center r_starsSelection'>
              <ul id='gb-stars'>
                <li class='star rating-1' title='Never' data-value='1' data-inputClass='rt-in1' value='1'>
                  <span class="material-icons">star_rate</span>
                </li>
                <li class='star rating-2' title='Not likely' data-value='2' data-inputClass='rt-in1' value="2">
                  <span class="material-icons">star_rate</span>
                </li>
                <li class='star rating-3' title='Mybe' data-value='3' data-inputClass='rt-in1' value="3">
                  <span class="material-icons">star_rate</span>
                </li>
                <li class='star rating-4' title='Likely' data-value='4' data-inputClass='rt-in1' value="4">
                  <span class="material-icons">star_rate</span>
                </li>
                <li class='star rating-5' title='Highly likely' data-value='5' data-inputClass='rt-in1' value="5">
                  <span class="material-icons">star_rate</span>
                </li>
              </ul>
              <input class="rt-in1" type="text" hidden name="rating-1" value="" errortext='Please select a rating by clicking 1-5 stars.'>
            </div>
            <div class="oth-ratings-box r_starsSelection">
              <div class="oth-ratings-wrapper">
                <div class="oth-ratings-header">
                  <h4>Responsiveness</h4>
                </div>

                <div class='rating-stars text-center'>
                  <ul id='ot-stars-1'>
                    <li class='star' title='Very Poor' data-value='1' data-inputClass='rt-in2'>
                      <span class="material-icons">star_rate</span>
                    </li>
                    <li class='star' title='Poor' data-value='2' data-inputClass='rt-in2'>
                    <span class="material-icons">star_rate</span>
                    </li>
                    <li class='star' title='Average' data-value='3' data-inputClass='rt-in2'>
                      <span class="material-icons">star_rate</span>
                    </li>
                    <li class='star' title='Good' data-value='4' data-inputClass='rt-in2'>
                      <span class="material-icons">star_rate</span>
                    </li>
                    <li class='star' title='Very Good' data-value='5' data-inputClass='rt-in2'>
                      <span class="material-icons">star_rate</span>
                    </li>
                  </ul>
                  <input class="rt-in2" type="text" hidden name="rating-2" value="" errortext='Please select a rating by clicking 1-5 stars.'>
                </div>
              </div>
              <div class="oth-ratings-wrapper">
                <div class="oth-ratings-header">
                  <h4>Professionalism</h4>
                </div>

                <div class='rating-stars text-center'>
                  <ul id='ot-stars-2'>
                    <li class='star' title='Very Poor' data-value='1' data-inputClass='rt-in3'>
                      <span class="material-icons">star_rate</span>
                    </li>
                    <li class='star' title='Poor' data-value='2' data-inputClass='rt-in3'>
                      <span class="material-icons">star_rate</span>
                    </li>
                    <li class='star' title='Average' data-value='3' data-inputClass='rt-in3'>
                      <span class="material-icons">star_rate</span>
                    </li>
                    <li class='star' title='Good' data-value='4' data-inputClass='rt-in3'>
                      <span class="material-icons">star_rate</span>
                    </li>
                    <li class='star' title='Very Good' data-value='5' data-inputClass='rt-in3'>
                      <span class="material-icons">star_rate</span>
                    </li>
                  </ul>
                  <input class="rt-in3" type="text" hidden name="rating-3" value="" errortext='Please select a rating by clicking 1-5 stars.'>
                </div>
              </div>
              <div class="oth-ratings-wrapper">
                <div class="oth-ratings-header">
                  <h4>Quality of service</h4>
                </div>
                <div class='rating-stars text-center'>
                  <ul id='ot-stars-3'>
                    <li class='star' title='Very Poor' data-value='1' data-inputClass='rt-in4'>
                      <span class="material-icons">star_rate</span>
                    </li>
                    <li class='star' title='Poor' data-value='2' data-inputClass='rt-in4'>
                      <span class="material-icons">star_rate</span>
                    </li>
                    <li class='star' title='Average' data-value='3' data-inputClass='rt-in4'>
                      <span class="material-icons">star_rate</span>
                    </li>
                    <li class='star' title='Good' data-value='4' data-inputClass='rt-in4'>
                      <span class="material-icons">star_rate</span>
                    </li>
                    <li class='star' title='Very Good' data-value='5' data-inputClass='rt-in4'>
                      <span class="material-icons">star_rate</span>
                    </li>
                  </ul>
                  <input class="rt-in4" type="text" hidden name="rating-4" value="" errortext='Please select a rating by clicking 1-5 stars.'>
                </div>
              </div>
              <div class="oth-ratings-wrapper">
                <div class="oth-ratings-header">
                  <h4>Service knowledge</h4>
                </div>
                <div class='rating-stars text-center'>
                  <ul id='ot-stars-4'>
                    <li class='star' title='Very Poor' data-value='1' data-inputClass='rt-in5'>
                    <span class="material-icons">star_rate</span>
                    </li>
                    <li class='star' title='Poor' data-value='2' data-inputClass='rt-in5'>
                      <span class="material-icons">star_rate</span>
                    </li>
                    <li class='star' title='Average' data-value='3' data-inputClass='rt-in5'>
                      <span class="material-icons">star_rate</span>
                    </li>
                    <li class='star' title='Good' data-value='4' data-inputClass='rt-in5'>
                      <span class="material-icons">star_rate</span>
                    </li>
                    <li class='star' title='Very Good' data-value='5' data-inputClass='rt-in5'>
                      <span class="material-icons">star_rate</span>
                    </li>
                  </ul>
                  <input class="rt-in5" type="text" hidden name="rating-5" value="" errortext='Please select a rating by clicking 1-5 stars.'>
                </div>
              </div>
            </div>
            <div class="comment-box">
              <h4>Describe in detail your experience with {{pro.business_name}}.</h4>
              <textarea name="comment" rows="80" cols="50"></textarea>
            </div>
            <div class="review-submit">
            <button type="submit">Submit Review</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function(){
  $('.r_starsSelection li').on('mouseover', function(){
    var onStar = parseInt($(this).data('value'), 10);
    $(this).parent().children('li.star').each(function(e){
      if (e < onStar) {
        $(this).addClass('hover');
      }
      else {
        $(this).removeClass('hover');
      }
    });

  }).on('mouseout', function(){
    $(this).parent().children('li.star').each(function(e){
      $(this).removeClass('hover');
    });
  });


  $('.r_starsSelection li').on('click', function(){
    var onStar = parseInt($(this).data('value'), 10);
    var stars = $(this).parent().children('li.star');
    var targetInputClass = $(this).attr('data-inputClass');

    for (i = 0; i < stars.length; i++) {
      $(stars[i]).removeClass('selected');
    }

    for (i = 0; i < onStar; i++) {
      $(stars[i]).addClass('selected');
      var value = i+1
      $('.'+targetInputClass).attr("value", value);
    }

  });

});

</script>
{% endblock %}
