{% load static%}
<form class="ProSaveForm"  action="{% url 'profiles:follow_pm'%}" method="post">
  {% csrf_token %}
  {% if is_following %}
     <button class="tooltipped" id="proFollow" type="submit" value="{{agent.pk}}" data-position="top"
     data-tooltip="
       Unfollow this pro
     "
     style="color:#1100ff;"
     >
       <span class="material-icons" style="color:#fff">add</span>Following
     </button>
  {% else %}
    <button class="tooltipped {%if agent.user == request.user %} team_iconDisabled {%endif%}" {%if agent.user == request.user %} disabled {%endif%} id="proFollow" type="submit" value="{{agent.pk}}" data-position="top"
    data-tooltip="
      Follow this pro to recieve notifications
    ">
      <span class="material-icons" style="color:#fff;">add</span>Follow
    </button>
  {% endif%}
</form>
