{% extends 'base.html' %}
{% load static %}
{% block head_title %} <title>Rehgien | Add project to portfolio</title>{% endblock %}
{% block content %}
{% load crispy_forms_tags%}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'dropzone/dropzone.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    // Disable auto discover for all elements:
    Dropzone.autoDiscover = false;
    var myDropzone = new Dropzone("div#fdksfDy", {
      url: "/professionals/portfolio_item/add/",
      paramName: "photo",
      maxFilesize: 2,
      autoProcessQueue: false,
      uploadMultiple: true,
      parallelUploads: 5,
      maxFiles: 10,
      acceptedFiles: 'image/*',
      addRemoveLinks: true,
      previewsContainer:'div#ptfl-drop_previews',
      dictDefaultMessage:'Click or drag files here to upload',
      dictFallbackMessage: "Your browser does not support drag and drop file uploads.",
      dictInvalidFileType: "You can't upload files of this type.",
      init: function() {
             dzClosure = this; // Makes sure that 'this' is understood inside the functions below.

             // for Dropzone to process the queue (instead of default form behavior):
             document.getElementById("add_project").addEventListener("click", function(e) {
                 // Make sure that the form isn't actually being sent.
                 e.preventDefault();
                 e.stopPropagation();
                 dzClosure.processQueue();
             });

             //send all the form data along with the files:
             this.on("sendingmultiple", function(data, xhr, formData) {
               $(".ptfl_frm_loader").css('display','flex');
                 $(":input[name]", $("form")).each(function () {
                        formData.append(this.name, $(':input[name=' + this.name + ']', $("form")).val());
                      })
             });

             this.on("success",function(file) {
               $(".ptfl_frm_loader_wrp").html(
                " <span class='material-icons'>check_circle_outline</span>" +
                " <p> Save Sucessfull! <span> " +
                "   <a href='" + "{% url 'profiles:portfolio_item_create'%}" +"'><button type='button' name='button'>Add another</button></a>" +
                "   <a href='" + "{% url 'profiles:account'%}" + "'><button type='button' name='button'>Back to account</button></a>" +
                "  </span></p>"
                );

             })
         }
    });
})
</script>
<div id="porfolio-form-Box">
  <div class="ptfl_frm_loader">
    <div class="ptfl_frm_loader_wrp">
        <img src="{% static 'img/ajax-loader.gif'%}" alt="Saving">
        <p>Saving..</p>
    </div>
  </div>
  <div class="container">
    <div class="porfolio-form-Logo">
      <img src="{% static 'img/rehgien_logo_r.png'%}" alt="rehgien-home">
        <h1>Add project to your portfolio.</h1>
    </div>
    <div class="row">
      <div class="_portfolio_form_Elm">
          <div class="_portfolio_form_header">
            <a href="{% url 'profiles:account'%}">
              <button type="button" class="modal-close">
                <span class="material-icons">west</span> &nbsp
                Back to account
              </button>
            </a>
          </div>
          <form class="_portfolio_form_ " autocomplete='off' action="{% url 'profiles:portfolio_item_create'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="_portfolio_form_details">
              {{PortfolioForm.media}}
              <div class="_pf-fieldWrappers">
                <div class="_pf-list-step">
                    <h5>General</h5>
                    <div class="_pf-property_name">
                      <p>Give this project a name.</p>
                      {{PortfolioForm.name}}
                    </div>
                </div>
                 <div class="_pf-list-step">
                   <h5>Photos</h5>
                    <div id="fdksfDy" class="_pf-property_image dropzone">
                       <div id="ptfl-drop_previews"class="dropzone-previews">
                       </div>
                    </div>
                    <div class="_pf-project_video">
                      <p>Have a video? Paste the youtube link to it here. Click share button from the youtube video and copy the url.</p>
                      {{PortfolioForm.video}}
                    </div>
                </div>
                <div class="_pf-list-step">
                  <h5>Describe this project</h5>
                  <div class="_pf-project_description">
                    <p>Keep it short, brief and include key details only.</p>
                    {{PortfolioForm.description}}
                  </div>
                </div>
              </div>
                <div class="_pf-StepBtns">
                  <button type="button" id="_pf-prevStepBtn" onclick="nextPrev(-1)">Previous</button>
                  <button type="button" id="_pf-nextStepBtn" onclick="nextPrev(1)">Next</button>
                  <input id="add_project" type="submit" value="Finish & post">
                </div>
            </div>
            <div class="_pf-StepIndicators">
              <span class="_pf-StepIndicator">
                <div class="_pf-StepIndicatorElm">
                  <span class="material-icons _pf-StepIcon">fact_check</span>
                  <div class="_pf-BgStepIndicatorStrike"></div>
                </div>
                <h5>
                  <span class="material-icons _stepInprogress">donut_large</span>
                  <span class="material-icons _stepDone">check_circle</span>
                   &nbsp General</h5>
              </span>
              <span class="_pf-StepIndicator">
                <div class="_pf-StepIndicatorElm">
                  <span class="material-icons _pf-StepIcon">add_photo_alternate</span>
                  <div class="_pf-StepIndicatorStrike"></div>
                </div>
                <h5>
                  <span class="material-icons _stepInprogress">donut_large</span>
                  <span class="material-icons _stepDone">check_circle</span>
                   &nbsp Media</h5>
              </span>
              <span class="_pf-StepIndicator">
                <div class="_pf-StepIndicatorElm">
                  <span class="material-icons _pf-StepIcon">pending_actions</span>
                  <div class="_pf-EnStepIndicatorStrike"></div>
                </div>
                <h5>
                  <span class="material-icons _stepInprogress">donut_large</span>
                  <span class="material-icons _stepDone">check_circle</span>
                   &nbsp Final step</h5>
              </span>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>

<script>
  var currentTab = 0; // Current tab is set to be the first tab (0)
  showTab(currentTab); // Display the current tab

  function showTab(n) {
    // This function will display the specified tab of the form...
    var x = document.getElementsByClassName("_pf-list-step");
    x[n].style.display = "block";
    //... and fix the Previous/Next buttons:
    if (n == 0) {
        $("#_pf-prevStepBtn").css('display','none')
    } else {
      $("#_pf-prevStepBtn").css('display','inline')
    }
    if (n == (x.length - 1)) {
      $("#_pf-nextStepBtn").css('display','none');
      $("._pf-StepBtns input").css('display','inline');
    } else {
      $("#_pf-nextStepBtn")
      .css('display','inline')
      .attr('type','button')
      .html("Next");
      $("._pf-StepBtns input").css('display','none');
    }
  fixStepIndicator(n)
  }

  function nextPrev(n) {
    // This function will figure out which tab to display
    var x = document.getElementsByClassName("_pf-list-step");
    // Exit the function if any field in the current tab is invalid:
    if (n == 1 && !validateForm()) return false;
    // Hide the current tab:
    x[currentTab].style.display = "none";
    // Increase or decrease the current tab by 1:
    currentTab = currentTab + n;
    // Otherwise, display the correct tab:
    showTab(currentTab);
  }

  function validateForm() {
    // This function deals with validation of the form fields
    var x, y, i, valid = true;
    x = document.getElementsByClassName("_pf-list-step");
    y = x[currentTab].getElementsByTagName("input");
    // A loop that checks every input field in the current tab:
    for (i = 0; i < y.length; i++) {
      // If a field is empty...
        if (y[i].value == "") {
          // add an "invalid" class to the field:
          y[i].className += " invalid";
          // and set the current valid status to false
          valid = false;
        }
    }
    if (valid) {
      document.getElementsByClassName("_pf-StepIndicator")[currentTab].className += " finish";
    }
    return valid; // return the valid status
  }

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("_pf-StepIndicator");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
</script>

{% endblock %}
