{% extends 'base1.html'%}
{% load static%}
{% block content %}
<script src="{% static 'js/jquery.min.js' %}"></script>

<section>
  <div class="container">
    <nav class="breadc-nav">
      <div class="nav-wrapper-bread">
        <div class="col s12">
          <a href="{% url 'listings:homepage'%}" class="breadcrumb">Home</a>
          <a href="{% url 'profiles:pm_list'%}" class="breadcrumb">Property Managers</a>
          <a href="{% url 'profiles:pm_detail' agent.pk%}" class="breadcrumb">{{agent.user.get_full_name}}</a>
          <a href="#!" class="breadcrumb">Review</a>
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="col s12 md4 l4 xl4">
        <div id="review_p_ag_card" class="card">
          <div class="rvw-p-blank-box">

          </div>
          <div class="rvw-p-img-box">
            {% if agent.profile_image%}
            <img src="{{agent.profile_image.url}}" alt="{{agent.get_full_name}}" style="width:100px; height:100px;object-fit:cover;" class="circle">
            {% else %}
            <img src="{%static 'img/avatar.png'%}" alt="{{agent.get_full_name}}" style="width:100px; height:100px;object-fit:cover;" class="circle">
            {% endif %}
          </div>
          <div class="rvw-p-dtls-box">
            <li>{{agent.user.get_full_name}}</li>
            <li><i class="far fa-star" style='color:#1BFF00;'></i>{{average_rating.rating__avg|floatformat}}/5 <a href="#reviews">({{reviews_count}} reviews)</a></li>
            <li><a href="#"><span style="font-weight:300;">View Profile</span></a></li>
          </div>
        </div>
      </div>
      <div class="col s12 md8 l8 xl8">
        <div class="w-review-header">
          <h1>Write your review</h1>
        </div>
        <div class="review-form-wrapper">
          <form class="ag-review-form" action="{% url 'profiles:pm_review'%}" method="post">
            {% csrf_token %}
            <h3>How Likely are you to recomend <b>{{agent.user.get_full_name}}</b>.</h3>
            <input type="text" name="subject-agent" hidden value="{{agent.pk}}">
            <div class='rating-stars text-center'>
              <ul id='gb-stars'>
                <li class='star rating-1' title='Never' data-value='1'>
                  <i class='fa fa-star fa-2x'></i>
                </li>
                <li class='star rating-2' title='Not likely' data-value='2' value="2">
                  <i class='fa fa-star fa-2x'></i>
                </li>
                <li class='star rating-3' title='Mybe' data-value='3' value="3">
                  <i class='fa fa-star fa-2x'></i>

                </li>
                <li class='star rating-4' title='Likely' data-value='4' value="4">
                  <i class='fa fa-star fa-2x'></i>
                </li>
                <li class='star rating-5' title='Highly likely' data-value='5' value="5">
                  <i class='fa fa-star fa-2x'></i>
                </li>
              </ul>
              <input class="rt-in1" type="text" hidden name="rating-1" value="" errortext='Please select a rating by clicking 1-5 stars.'>
            </div>

            <div class="oth-ratings-box">
              <div class="oth-ratings-wrapper">
                <div class="oth-ratings-header">
                  <h4>Responsiveness</h4>
                </div>

                <div class='rating-stars text-center'>
                  <ul id='ot-stars-1'>
                    <li class='star' title='Very Poor' data-value='1'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Poor' data-value='2'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Average' data-value='3'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Good' data-value='4'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Very Good' data-value='5'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                  </ul>
                  <input class="rt-in2" type="text" hidden name="rating-2" value="" errortext='Please select a rating by clicking 1-5 stars.'>
                </div>
              </div>
              <div class="oth-ratings-wrapper">
                <div class="oth-ratings-header">
                  <h4>Communication skills</h4>
                </div>

                <div class='rating-stars text-center'>
                  <ul id='ot-stars-2'>
                    <li class='star' title='Very Poor' data-value='1'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Poor' data-value='2'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Average' data-value='3'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Good' data-value='4'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Very Good' data-value='5'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                  </ul>
                  <input class="rt-in3" type="text" hidden name="rating-3" value="" errortext='Please select a rating by clicking 1-5 stars.'>
                </div>
              </div>
              <div class="oth-ratings-wrapper">
                <div class="oth-ratings-header">
                  <h4>Attention to detail</h4>
                </div>
                <div class='rating-stars text-center'>
                  <ul id='ot-stars-3'>
                    <li class='star' title='Very Poor' data-value='1'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Poor' data-value='2'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Average' data-value='3'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Good' data-value='4'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Very Good' data-value='5'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                  </ul>
                  <input class="rt-in4" type="text" hidden name="rating-4" value="" errortext='Please select a rating by clicking 1-5 stars.'>
                </div>
              </div>
            </div>
            <div class="comment-box">
              <h4>Describe in detail your experience with this agent.</h4>
              <textarea name="comment" rows="80" cols="50"></textarea>
            </div>

            <div class="services0ch">
              <h4>Service offered</h4>
              <div class="input-field col s12">
              <select name="service-dlv">
                <option value="" disabled selected>Choose service offered.</option>
                <option value="1">Helped me find tenants.</option>
                <option value="2">Helped me find a rental.</option>
                <option value="3">Consultation.</option>
                <option value="4">Listed my property on Rehgien.</option>
                <option value="5">None. Reached out but agent never responded.</option>
                <option value="6">Managed(s) my property.</option>
                <option value="7">Other real estate service.</option>
              </select>
            </div>
            </div>
            <div class="date-of-svc">
              <h4>Select date of service.</h4>
              <input type="text" name='dos' class="datepicker">
            </div>
            <div class="review-submit">
            <button type="submit">Submit Review</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function(){

    // Global Rating function handler

  /* 1. Visualizing things on Hover - See next part for action on click */
  $('#gb-stars li').on('mouseover', function(){
    var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

    // Now highlight all the stars that's not after the current hovered star
    $(this).parent().children('li.star').each(function(e){
      if (e < onStar) {
        $(this).addClass('hover');
      }
      else {
        $(this).removeClass('hover');
      }
    });

  }).on('mouseout', function(){
    $(this).parent().children('li.star').each(function(e){
      $(this).removeClass('hover');
    });
  });


  /* 2. Action to perform on click */
  $('#gb-stars li').on('click', function(){
    var onStar = parseInt($(this).data('value'), 10); // The star currently selected
    var stars = $(this).parent().children('li.star');

    for (i = 0; i < stars.length; i++) {
      $(stars[i]).removeClass('selected');
      // $("#rating-input").attr("value", i);
    }

    for (i = 0; i < onStar; i++) {
      $(stars[i]).addClass('selected');
      var value = i+1
      $(".rt-in1").attr("value", value);
    }

  });

   //  oth-ratings-1 Function

   /* 1. Visualizing things on Hover - See next part for action on click */
   $('#ot-stars-1 li').on('mouseover', function(){
     var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

     // Now highlight all the stars that's not after the current hovered star
     $(this).parent().children('li.star').each(function(e){
       if (e < onStar) {
         $(this).addClass('hover');
       }
       else {
         $(this).removeClass('hover');
       }
     });

   }).on('mouseout', function(){
     $(this).parent().children('li.star').each(function(e){
       $(this).removeClass('hover');
     });
   });


   /* 2. Action to perform on click */
   $('#ot-stars-1 li').on('click', function(){
     var onStar = parseInt($(this).data('value'), 10); // The star currently selected
     var stars = $(this).parent().children('li.star');

     for (i = 0; i < stars.length; i++) {
       $(stars[i]).removeClass('selected');
     }

     for (i = 0; i < onStar; i++) {
       $(stars[i]).addClass('selected');
       var value = i+1
       $(".rt-in2").attr("value", value);
     }

   });

   //  oth-ratings-2 Function

   /* 1. Visualizing things on Hover - See next part for action on click */
   $('#ot-stars-2 li').on('mouseover', function(){
     var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

     // Now highlight all the stars that's not after the current hovered star
     $(this).parent().children('li.star').each(function(e){
       if (e < onStar) {
         $(this).addClass('hover');
       }
       else {
         $(this).removeClass('hover');
       }
     });

   }).on('mouseout', function(){
     $(this).parent().children('li.star').each(function(e){
       $(this).removeClass('hover');
     });
   });


   /* 2. Action to perform on click */
   $('#ot-stars-2 li').on('click', function(){
     var onStar = parseInt($(this).data('value'), 10); // The star currently selected
     var stars = $(this).parent().children('li.star');

     for (i = 0; i < stars.length; i++) {
       $(stars[i]).removeClass('selected');
     }

     for (i = 0; i < onStar; i++) {
       $(stars[i]).addClass('selected');
       var value = i+1
       $(".rt-in3").attr("value", value);
     }

   });

   //  oth-ratings-3 Function

   /* 1. Visualizing things on Hover - See next part for action on click */
   $('#ot-stars-3 li').on('mouseover', function(){
     var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

     // Now highlight all the stars that's not after the current hovered star
     $(this).parent().children('li.star').each(function(e){
       if (e < onStar) {
         $(this).addClass('hover');
       }
       else {
         $(this).removeClass('hover');
       }
     });

   }).on('mouseout', function(){
     $(this).parent().children('li.star').each(function(e){
       $(this).removeClass('hover');
     });
   });


   /* 2. Action to perform on click */
   $('#ot-stars-3 li').on('click', function(){
     var onStar = parseInt($(this).data('value'), 10); // The star currently selected
     var stars = $(this).parent().children('li.star');

     for (i = 0; i < stars.length; i++) {
       $(stars[i]).removeClass('selected');
     }

     for (i = 0; i < onStar; i++) {
       $(stars[i]).addClass('selected');
       var value = i+1
       $(".rt-in4").attr("value", value);
     }

   });

   //  oth-ratings-4 Function

   /* 1. Visualizing things on Hover - See next part for action on click */
   $('#ot-stars-4 li').on('mouseover', function(){
     var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

     // Now highlight all the stars that's not after the current hovered star
     $(this).parent().children('li.star').each(function(e){
       if (e < onStar) {
         $(this).addClass('hover');
       }
       else {
         $(this).removeClass('hover');
       }
     });

   }).on('mouseout', function(){
     $(this).parent().children('li.star').each(function(e){
       $(this).removeClass('hover');
     });
   });


   /* 2. Action to perform on click */
   $('#ot-stars-4 li').on('click', function(){
     var onStar = parseInt($(this).data('value'), 10); // The star currently selected
     var stars = $(this).parent().children('li.star');

     for (i = 0; i < stars.length; i++) {
       $(stars[i]).removeClass('selected');
     }

     for (i = 0; i < onStar; i++) {
       $(stars[i]).addClass('selected');
       var value = i+1
       $(".rt-in5").attr("value", value);
     }

   });
});

</script>
{% endblock %}
