{% load static %}
{% load cloudinary %}
<div class="container main_home_cCotainer">
  <div class="row">
      <div class="col s12">
        <h2>Professional Services you may like</h2>
        <div class="owl-carousel">
          {% for service in recommended_services %}
            <a href="{% url 'profiles:business_list'%}?q_service={{service.slug}}">
              <div class="card">
                {% cloudinary service.service_image ImageTransformation %}
                <div class="DtsWrapper_">
                <h6>{{service.service_name|capfirst}}</h6>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
    </div>
  </div>
</div>
