{% load static%}
<form class="ProSaveForm"  action="{% url 'profiles:save_company'%}" method="post">
  {% csrf_token %}
  {% if is_saved %}
     <button class="tooltipped" id="proSave" type="submit" value="{{business.pk}}" data-position="top"
     data-tooltip="
       Remove this page from saved
     "
     style="color:#1100ff;"
     >
       <i class="fas fa-heart" style="color:#1100ff;"></i>
     </button>
  {% else %}
    <button class="tooltipped {%if business.user == request.user %} team_iconDisabled {%endif%}" {%if business.user == request.user %} disabled {%endif%} id="proSave" type="submit" value="{{business.pk}}" data-position="top"
    data-tooltip="
      Save this page to easily access it later from your dashboard
    ">
      <i class="fas fa-heart" style="color:#9e9e9e;"></i>
    </button>
  {% endif%}
</form>
