{% extends 'base1.html' %}
{% block title %} <title>My followers and following @{{request.user.username}} | Rehgien</title>{% endblock %}
{% load static %}
{% block content %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">
  $(document).on('click','._add-to-following', function(event){
     event.preventDefault();
     var pk = $(this).attr('value');
     var successmsgBody = $('#upfPageAcScs')
     var errmsgBody = $('#upfPageAcScs')
     var formBox = $('._uMyFnFAbtnPk'+pk)
     $.ajax({
       type : 'post',
       url : '{% url "profiles:follow_pro"%}',
       data : {
          'pk':pk,
          'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
       },
       dataType: 'json',
       // success
       success: function(response) {
         formBox.html(response['form']);
         successmsgBody.html("<span class='material-icons'>check_circle_outline</span>" + response['message'])
         successmsgBody.css({'display': 'flex','bottom':'10px'})
         $('#_rmvdAlertTip').html("<p><span class='material-icons'>check_circle</span>" + response['alert_message'] + "</p>" ).css('display','flex')
         $('#_rmvdAlertTip p').css('top','5px')

         setTimeout(function(){
            successmsgBody.css('bottom','-100px');
            $('#_rmvdAlertTip').css('display','none');
         }, 6000);
       },
       error: function(response,e){
           errmsgBody.html("<span class='material-icons'>error_outline</span>" + response['err_message'])
           errmsgBody.css({'display': 'flex','bottom':'10px'})
           setTimeout(function(){
              errmsgBody.css('bottom', '-100px');
           }, 6000);
       },
     });
  });
</script>

<div class="container _connectionsPgCont">
  <div id="upfPageAcScs" class="_upfPageAcScs">
  </div>
  <div id="upfPageAcErr" class="_upfPageAcErr">
  </div>
  <div class="row">
    <div class="_connectionsHeader">
      <div class="_connectionsHrow">
          <div class="_backToActs">
             <a href="{% url 'profiles:account'%}"><span class="material-icons">keyboard_backspace</span></a>
          </div>
          <a href="{% url 'profiles:account'%}">
            <div class="_CHeadPrCD">
              <div class="_CHeadPrCDImg">
                <img src="
                {% if request.user.profile_image %}
                  {{request.user.profile_image.url}}
                {% else %}
                  {%static 'img/avatar.png'%}
                {% endif %}
                " alt="avatar">
              </div>
              <div class="_CHeadPrCDDts">
                <h5>{{request.user.get_full_name}}</h5>
                <h6>@{{request.user.username}}</h6>
              </div>
            </div>
          </a>
      </div>
      <div class="_uFrFgTabs">
        <div class="_uFrFg-swc-wrp">
          <ul id="_uFrFg-switch" class="tabs">
            {% if request.user.user_type == 'CLIENT' %}
              <li class="tab col s3"><a href="#_u-Following-vw">Following</a></li>
              <li class="tab col s3"><a href="#_u-Followers-vw">Followers</a></li>
            {% else %}
              <li class="tab col s3"><a href="#_u-Followers-vw">Followers</a></li>
              <li class="tab col s3"><a href="#_u-Following-vw">Following</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div id="_rmvdAlertTip"></div>
    </div>
    <div id="_u-Following-vw">
        <div class="_uMyFollowing">
          <div class="_uFrFgHdr">
            <div class="_uFrFgHdrTwrp">
              <h1>Pages you are following <span>{{my_following|length}}</span></h1>
              <h6>Showing {{my_following|length}} results</h6>
            </div>
          </div>
            <div class="_uMyFollowingRow">
              {% if my_following %}
                {% for following in my_following %}
                  <div id="_uMyFollowingcard{{forloop.counter}}" class="card _uMyFollowingcard">
                        <div class="_uMyFollowingCTop">
                          <a href="{{following.get_absolute_url}}">
                            <div class="_uMyFollowingImg">
                              <img src="
                              {% if following.business_profile_image %}
                                {{following.business_profile_image.url}}
                              {% else %}
                                {%static 'img/avatar.png'%}
                              {% endif %}
                              " alt="avatar">
                            </div>
                            <div class="_uMyFollowingOvw">
                                <div class="_uMyFollowingOvwT">
                                    <h3>{% if following.business_name %}{{following.business_name}} {% else %} {{following.user.username}} {% endif %}<span class="material-icons" style="color:green;">verified</span></h3>
                                    <h4>@{{following.user.username}}</h4>
                                    <p>{{following.user.user_type}}</p>
                                </div>
                            </div>
                          </a>
                        </div>
                        <div class="_ProFollower">
                          <a href="{{following.get_absolute_url}}">Business Page
                            <span class='material-icons'>expand_more</span>
                          </a>
                        </div>
                        <div class="_uMyFollowingCMd">
                            <img src="
                            {% if following.business_profile_image %}
                              {{following.business_profile_image.url}}
                            {% else %}
                              {%static 'img/avatar.png'%}
                            {% endif %}
                            " alt="avatar">
                            {{following.user.pro_business_profile.followers.all.count}} follower{{following.user.pro_business_profile.followers.all.count|pluralize}}
                        </div>
                        <div class="_uMyFollowingAbtn _uMyFnFAbtnPk{{following.user.pro_business_profile.pk}}">
                              {% include 'profiles/pro-follow-section.html' with pro=following.user.pro_business_profile %}
                        </div>
                  </div>
                {% endfor %}
              {% else %}
                  <div class="_connectionsEmpty">
                    It appears you are not following any pros yet.
                    Pros you follow will appear here.<br>
                    You can find pros to follow in the Pro finder section. <br>
                    Learn more about who followers are on rehgien by <a href="#"><u>Clicking here.</u></a>
                  </div>
              {% endif %}
            </div>
        </div>
    </div>
    <div id="_u-Followers-vw">
      <div class="_uMyFollowing">
          <div class="_uFrFgHdr">
            {% if request.user.user_type == 'PRO' %}
            <div class="_uFrFgHdrTwrp">
              <h1>People following you<span>{{followers.count}}</span></h1>
              <h6>Showing {{followers.count}} results</h6>
            </div>
            {% endif %}
          </div>
          <div class="_uMyFollowingRow">
            {% if request.user.user_type == 'PRO' %}
              {% if followers %}
                  {% for follower in followers %}
                    <div class="card _uMyFollowingcard">
                            <div class="_uMyFollowingCTop">
                                  <div class="_uMyFollowingImg">
                                    <img src="
                                    {% if follower.profile_image %}
                                      {{follower.profile_image.url}}
                                    {% else %}
                                      {%static 'img/avatar.png'%}
                                    {% endif %}
                                    " alt="avatar">
                                  </div>
                                  <div class="_uMyFollowingOvw">
                                      <div class="_uMyFollowingOvwT">
                                          <h3>{% if follower.get_full_name %}{{follower.get_full_name}} {% else %} {{follower.username}} {% endif %}<span class="material-icons" style="color:green;">verified</span></h3>
                                          <h4>@{{follower.username}}</h4>
                                          <p>{{follower.user_type}}</p>
                                      </div>
                                  </div>
                            </div>
                            <div class="_ProFollower">
                              {% if follower.user_type == 'PRO' %}
                              <a href="{{follower.pro_business_profile.get_absolute_url}}">
                                Business Page
                                <span class='material-icons'>expand_more</span>
                              </a>
                              {% endif %}
                            </div>
                          <div class="_uMyFollowingCMd">
                              <img src="
                              {% if follower.pro_business_profile.business_profile_image %}
                                {{follower.pro_business_profile.business_profile_image.url}}
                              {% else %}
                                {%static 'img/avatar.png'%}
                              {% endif %}
                              " alt="{{follower.pro_business_profile.business_name}}">
                            {% if follower.user_type == 'PRO'%}
                              {{follower.pro_business_profile.followers.all.count}} follower{{follower.pro_business_profile.followers.all.count|pluralize}}
                            {%endif%}
                          </div>

                          <div class="_uMyFollowerAbtn _uMyFnFAbtnPk{{follower.pro_business_profile.pk}}">
                            {% if request.user.user_type == 'PRO' %}
                                {% include 'profiles/pro-follow-section.html'  with pro=follower.pro_business_profile %}
                            {% endif %}
                          </div>
                    </div>
                  {% endfor %}
              {% else %}
                  <div class="_connectionsEmpty">
                    It appears you don't have any followers yet.
                    Clients or pros who follow you will appear here.<br>
                    Learn more about who followers are on rehgien by <a href="#"><u>Clicking here.</u></a>
                  </div>
              {% endif %}
            {% else %}
                <div class="_connectionsEmpty">
                  Only pros are allowed to have followers.<br>
                  Learn more about who followers are on rehgien by <a href="#"><u>Clicking here.</u></a>
                </div>
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
