{% extends 'base1.html' %}
{% load static %}
{% block content %}

<section>
  <div id="pfl-pg-cont" class="container">
        <div id="pfl-page-row" class="row">
          <div id='cd-wrap' class="col s12 md6 l6 xl4">
            <div id="profile-view" class="card">
              {% for pfl in profile_list %}
                  {% if pfl.profile_image%}
                  <div class="pfl-card-img center">
                    <img src="{{ pfl.profile_image.url}}" alt="{{pfl.last_name}}">
                  </div>
                  {% else %}
                  <div class="pfl-card-img center">
                    <img src="{% static 'img/avatar.png'%}" alt="{{pfl.last_name}}">
                  </div>
                  {% endif %}
                    <div class="user-details center">
                      <div class="pfl-act-inf">
                        <h6>{{pfl.first_name}} {{pfl.last_name}}</h6>
                        <h6>{{pfl.email}}</h6>
                        <h6>{{pfl.phone}}</h6>
                        <a href="{% url 'profiles:edit_profile' pfl.pk%}"><h6>Edit profile</h6></a>
                      </div>
                  {%  endfor %}
                </div>
            </div>
            <div id="profile-view" class="card">
                <div class="user-details">
                  <div class="pfl-act-inf">
                    <h6>Saved Listings: 2</h6><hr>
                    <h6>Change password </h6>
                    <h6>Email: mutuakennedy81@gmail.com</h6>

                  </div>
                </div>
            </div>
          </div>
            <div class="pfl-d col s12 md6 l6 xl4">
              <div  id="pfl-d-sw" class="col s12">
                <ul id="pfl-pg-switch" class="tabs tabs-fixed-width">
                    <li class="tab col s3"><a href="#MyListings">My listings</a></li>
                    <li class="tab col s3"><a href="#Analytics">Analytics</a></li>
                    <li class="tab col s3"><a href="#AdInteractions">Ad Interactions</a></li>
                    <li class="tab col s3"><a href="#Advertise">Advertise</a></li>
                </ul>
              </div>
              <div class="pfl-dtl">
                  <div id="MyListings" class="pfl-listings">
                        <p class="profile-title">Active for sale listings</p>
                      <div class="profile-sale">
                          <div id="pfl-sal" class="row">
                                {% if user_sale_posts%}
                                {% for onsale_listings in user_sale_posts %}

                                  <div class="col s12 md6 l6 xl4">
                                    <div id="rec-card" class="card">
                                      <div id="rec-img" class="card-image">
                                        <a href="{% url 'listings:onsale_detail' onsale_listings.id %}"><img src="{{onsale_listings.thumb.url}}" alt="nai"></a>
                                        <span id="rec-date" class="card-title"><p>{{onsale_listings.publishdate}}</p></span>
                                        <i id="rec-fav-button" class="material-icons right">favorite_border</i>

                                      </div>
                                      <div id="rec-content" class="card-content">
                                        <ol>
                                          <li class="rec-h-name">{{onsale_listings.property_name}}</li>
                                          <li class="rec-h-features"> {{onsale_listings.bathrooms}} ba| {{onsale_listings.bedrooms}} bds| {{onsale_listings.floor_area}} {{onsale_listings.size_units}}</li>
                                          <li class="rec-h-price">Ksh: {{onsale_listings.price}}</li>
                                          <li class="rec-h-location">{{onsale_listings.location_name}}</li>
                                        </ol>
                                      </div>

                                      <div class="card-links">
                                        <a href="{% url 'listings:s_delete' onsale_listings.pk%}"><button id="link-del" type="button" name="button"><img src="{% static 'img/delete-forever-active.svg' %}"></button></a>
                                        <a href="{% url 'listings:update' onsale_listings.pk%}"><button id="link-edit" type="button" name="button"><img src="{% static 'img/mark-upgrade.svg' %}"></button></a>

                                      </div>
                                      </div>
                                    </div>

                          <!-- pop up warning-delete-->
                          <!-- <div id="del" class="modal">
                            <p>Are you sure you want to delete this item!!</p>
                            <a href="#"><button class="delete" type="submit" name="button"> Delete</button></a>
                          </div> -->
                          <!-- pop up warning-edit-->
                          <!-- <div id="edit" class="modal">
                            <p>Are you sure you wish to edit this listing</p>
                            <a href="#"><button class="update" type="submit" name="button"> Edit</button></a>
                          </div> -->

                        {% endfor %}
                    {% else %}
                    <div class="empty-list">
                      <p>No active for sale listings for <b>{{user}}</b>. Posts you list will appear here.</p>
                      <img src="{% static 'img/search_SVG.svg'%}" alt="No rentals">
                    </div>
                    {% endif%}
                </div>
                <!-- paginator for onsale listings-->
                <div id="profile-paginator" class="pagination">
                    <span class="step-links">
                        {% if user_sale_posts.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ user_sale_posts.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="current">
                        Page {{ user_sale_posts.number }} of {{ user_sale_posts.paginator.num_pages }}.
                        </span>
                        {% if user_sale_posts.has_next %}
                        <a href="?page={{ user_sale_posts.next_page_number }}">next</a>
                        <a href="?page={{ user_sale_posts.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>

                </div>



                <p class="profile-title">Active Rental Listings</p>
                <div class="profile-rentals">
                    <div class="row">
                      {% if user_rental_posts%}
                      {% for rentals in user_rental_posts %}
                      <div class="col s12 md6 l6 xl4">

                            <div id="rec-card" class="card" name="rec-card">
                              <div id="rec-img" class="card-image">
                                <a href="{% url 'listings:rental_detail' rentals.id %}"><img src="{{rentals.thumb.url}}" alt="nai"></a>
                                <span id="rec-date" class="card-title"><p>{{rentals.publishdate}}</p></span>
                                <i id="rec-fav-button" class="material-icons right">favorite_border</i>

                              </div>
                              <div id="rec-content" class="card-content">
                                <ol>
                                  <li class="rec-h-name">{{rentals.property_name}}</li>
                                  <li class="rec-h-features"> {{rentals.bathrooms}} ba| {{rentals.bedrooms}} bds| {{rentals.floor_area}} {{rentals.size_units}}</li>
                                  <li class="rec-h-price">Ksh: {{rentals.price}} p/m</li>
                                  <li class="rec-h-location">{{rentals.location_name}}</li>
                                </ol>
                              </div>

                              <div class="card-links">
                                <a href="{% url 'listings:r_delete' rentals.pk%}"><button id="link-del" type="button" name="button"><img src="{% static 'img/delete-forever-active.svg' %}"></button></a>
                                <a href="{% url 'listings:rental_update' rentals.pk%}"><button id="link-edit" type="button" name="button"><img src="{% static 'img/mark-upgrade.svg' %}"></button></a>

                              </div>
                            </div>
                      </div>

                      <!-- pop up warning-delete-->
                      <!-- <div id="del" class="modal">
                        <p>Are you sure you want to delete this item!!</p>
                        <a href="#"><button class="delete" type="submit" name="button"> Delete</button></a>
                      </div> -->
                      <!-- pop up warning-edit-->
                      <!-- <div id="edit" class="modal">
                        <p>Are you sure you wish to edit this listing</p>
                        <a href="#"><button class="update" type="submit" name="button"> Edit</button></a>
                      </div> -->

                      {% endfor%}

                      {% else %}
                      <div class="empty-list">
                        <p>No active rentals for <b>{{user}}</b>. Rentals you list will appear here.</p>
                        <img src="{% static 'img/search_SVG.svg'%}" alt="No rentals">
                      </div>
                      {%endif%}
                    </div>
                    <!-- paginator for rentals-->
                    <div id="profile-paginator" class="pagination">
                        <span class="step-links">
                            {% if user_rental_posts.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ user_rental_posts.previous_page_number }}">previous</a>
                            {% endif %}
                            <span class="current">
                            Page {{ user_rental_posts.number }} of {{ user_rental_posts.paginator.num_pages }}.
                            </span>
                            {% if user_rental_posts.has_next %}
                            <a href="?page={{ user_rental_posts.next_page_number }}">next</a>
                            <a href="?page={{ user_rental_posts.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                  </div>
                </div>
                  </div>
                  <div id="Analytics" class="analytics-sc">
                    <div class="a-content">
                      <img src="{%static 'img/under_construction.svg'%}" alt="under_construction">
                      <h6><b>Under Construction</b></h6>
                    </div>
                  </div>
                  <div id="Advertise" class="advertising-sc">
                    <div class="a-content">
                      <img src="{%static 'img/under_construction.svg'%}" alt="under_construction">
                      <h6><b>Under Construction</b></h6>
                    </div>
                  </div>
                  <div id="AdInteractions" class="adInt-sc">
                    <div class="a-content">
                      <img src="{%static 'img/under_construction.svg'%}" alt="under_construction">
                      <h6><b>Under Construction</b></h6>
                    </div>
                  </div>
              </div>
            </div>

        </div>

  </div>
</section>

{% endblock %}
