{% extends 'pro_base.html' %}
{% load static %}
{% block header%} {% include 'pro_header2.html' %} {% endblock %}
{% block content %}
<script src="{% static 'js/jquery.min.js' %}"></script>

<script type="text/javascript">
  $(document).on("submit", "#jpReplyForm", function(event){
    event.preventDefault()
    var successmsgBody = $('#jbdtPageAcScs');
    var errmsgBody = $('#jbdtPageAcErr');
    $(".jpReplyBtn button").css('background-color','#f1f9f1')
    $(".jpReplyBtn img").css('display','block')
     $.ajax({
         type: "POST",
         url: "{% url 'markets:submit_proposal' pk=job.pk %}",
         data:{
             'post_reply':$('#jpReplyForm textarea').val(),
             'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
         },
         success: function (response) {
               $('.jbdt_respMsg').html(response['replied_section']);
               if (response['success'] === 'True') {
                 successmsgBody.html("<span class='material-icons'>check_circle_outline</span>" + response['message'])
                 successmsgBody.css({'display': 'flex','bottom':'10px'})

                 setTimeout(function(){
                    successmsgBody.css('bottom','-100px');
                 }, 6000);

               }else {
                 errmsgBody.html("<span class='material-icons'>error_outline</span>" + response['message'])
                 errmsgBody.css({'display': 'flex','bottom':'10px'})

                 setTimeout(function(){
                    errmsgBody.css('bottom','-100px');
                 }, 6000);
               }
               $(".jpReplyBtn button").css('background-color','#cc0000')
               $(".jpReplyBtn img").css('display','none')
             }
         });
  });
</script>
<div class="jbdtl_wrapper">
  <div id="jbdtPageAcScs" class="_upfPageAcScs">
  </div>
  <div id="jbdtPageAcErr" class="_upfPageAcErr">
  </div>
  <div class="container">
    <div class="row">
      <div class=" col s12 md9 l9 xl9">
          <div class="card">
            <div class="jbdtl_head">
                <h4>Project Details</h4>
                {% if job.verified %}
                  <h6>
                    <span class="material-icons" style="color:#4caf50;">done_all</span>
                    Verified
                  </h6>
                {% endif %}
            </div>
            <div class="jbdtl_head_dsc">
              <div class="jdtlUser">
                <img src="
                 {% if job.job_poster.profile_image %}
                  {{job.job_poster.profile_image.url }}
                 {% else %}
                  {% static 'img/avatar.png' %}
                 {% endif %}
                 " alt="">
                <div class="jdtlUserDt">
                    <h5>{{job.job_poster.username|capfirst}}</h5>
                    <h6>{% if job.job_poster.user_type == 'PRO' %}Rehgien pro {% else %} Rehgien user{% endif %}</h6>
                </div>
              </div>
              <div class="jbdtR">
                <div class="jbdtTmSz">
                  <h6>Project size</h6>
                  <div class="jbdtl_desc_fld">
                    {{job.project_size|lower|capfirst}}
                  </div>
                </div>
                <div class="jbdtTmSz">
                  <h6>Project duration</h6>
                  <div class="jbdtl_desc_fld">
                    {{job.get_project_duration_display|capfirst}}
                  </div>
                </div>
                <div class="jbdtTmSz">
                  <h6>Job post date</h6>
                  <div class="jbdtl_desc_fld">
                    {{job.job_update_date.date}}
                  </div>
                </div>
              </div>
            </div>
            <div class="jbdtl_body">
              <div class="jbdtl_desc">
                <div class="jbdtl_desc_fld">
                  <b>{{job.title|capfirst}}</b>
                </div>
                <h6>Target areas of expertise</h6>
                <div class="jbdtl_desc_fld">
                  {% for skill in job.skill_areas %}
                    <form  action="{% url 'rehgien_pro:jobs_list'%}" method="get">
                      <button type="button" name="expertise_areas" value="{{skill}}">{{skill|capfirst}}</button>
                    </form>
                  {% endfor %}
                </div>
                <h6>Location preference</h6>
                <div class="jbdtl_desc_fld">
                  {% for loc in job.location %}
                    <form action="{% url 'rehgien_pro:jobs_list'%}" method="get">
                      <button type="button" name="location_target" value="{{loc}}">{{loc|capfirst}}</button>
                    </form>
                  {% endfor %}
                </div>
                <h6>More on the project</h6>
                <div class="jbdtl_desc_fld jbdtl_lngDsc">
                  {{job.description|capfirst}}
                </div>

              </div>
            </div>
            <div class="jbdtl_footer">
                <div class="jbdt_Int">
                  <div class="jbdtVwImWrp">
                    {% if job.job_viewers.all.count != 0 %}
                      {% for viewer in job.job_viewers.all|slice:':2' %}
                        <div class="jbdtVwIm{{forloop.counter}}">
                          <img src="
                            {% if viewer.profile_image %}
                              {{viewer.profile_image.url}}
                            {% else %}
                            {%static 'img/avatar.png'%}
                            {% endif %}
                          " alt="avatar">
                        </div>
                      {% endfor %}
                    {% else %}
                        <img src="{%static 'img/avatar.png'%}" alt="">
                    {% endif %}

                  </div>
                  <div class="jbdtIntCount">
                      <div class="jbdtIntVwCount">
                        {{job.job_viewers.count}}
                        <span>Views</span>
                      </div>
                      <div class="jbdtIntPpsCount">
                        {{job.job_post_proposal.count}}
                        <span>Proposals</span>
                      </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="jbt_spanHelper">
            <span>Before replying here's something you should know.</span>
            <ul>
              <li>
                You can only send one message. However, make it short, clear and capture important things.
                Also, read more below on how your message is handled.
            </li>
            </ul>
          </div>
          <div class="card">
            <div class="jbdtl_head">
                <h4>Reply to this job post</h4>
            </div>
            <div class="jbdtl_body">
              <div class="jbdtl_desc">
                  <div class="jbdt_respMsg">
                    {% include 'rehgien_pro/replied_to_job_post.html'%}
                  </div>
              </div>
            </div>
          </div>
       </div>
       <div class="col s12 md3 l3 xl3">

       </div>
    </div>
  </div>
</div>
{% endblock %}
