{%extends 'base1.html'%}
{%load static%}
{% block title %}<title> Rehgien | Real estate listings,apartments,Homes for sale,Neighborhood data </title>{% endblock %}
{%block content%}
<div class="_navBrMini">
  <div class="_navBrMini_links_wrp">
      <ul>
        <li><a href="{% url 'listings:property-listings' property_category='homes' property_listing_type='for_sale'%}">All for sale</a></li>
        <li><a href="{% url 'listings:property-listings' property_category='homes' property_listing_type='for_sale'%}?sort=newer">Latest for sale</a></li>
        <li><a href="{% url 'listings:property-listings' property_category='homes' property_listing_type='for_sale'%}?openhouse=yes">For sale with openhouse</a></li>
        <li><a href="{% url 'listings:property-listings' property_category='homes' property_listing_type='for_sale'%}?vr=yes">For sale with 3D video</a></li>
        <li><a href="{% url 'listings:property-listings' property_category='homes' property_listing_type='for_rent'%}">All for rent</a></li>
        <li><a href="{% url 'listings:property-listings' property_category='homes' property_listing_type='for_rent'%}?sort=newer">Latest rentals</a></li>
        <li><a href="{% url 'listings:property-listings' property_category='homes' property_listing_type='for_rent'%}?sort=pricelh">Low priced rentals</a></li>
        <li><a href="{% url 'listings:post_property'%}">Post your property</a></li>
      </ul>
  </div>
</div>
    <div class="HomePgBanner" style="background-image:url(https://res.cloudinary.com/rehgien-inc/image/upload/f_auto,fl_progressive:steep,q_auto/v1613061905/static/images/3_yueasp.jpg);">
        <div class="HmBannerOverlay">
          <h3>Discover places you'll love. <!--<span>So, where to next?</span>--></h3>
          <div id="search-section" class="container">
            <div class="row">
                <form class="HomeSearchBar" autocomplete="off" action="{% url 'listings:property-listings' property_category='homes' property_listing_type='for_sale'%}" method="GET">
                  <div class="HomeSearchBar_select_wrp">
                    <label><input type="radio" name="listing_type" value="for_sale" checked="checked"><span>Buy</span></label>
                    <label><input type="radio" name="listing_type" value="for_rent"><span>Rent</span></label>
                  </div>
                  <div class="HomeSearchBar_row_Itm">
                    <div id="s_geocoder">
                    </div>
                    <button type="submit">Search</button>
                  </div>
                </form>
            </div>
        </div>
      </div>
      <canvas id="ursebdfd"></canvas>
      <i id="down-arrow" class="material-icons">keyboard_arrow_down</i>
      <i id="down-arrow2" class="material-icons">keyboard_arrow_down</i>
    </div>
<section>
    <div class="svgCardsContainer container">
        <div class="svgRow row">
          <div class="HmPgTdsc">
            <h1 class="svg-title center">
               Buy,Sell or Rent with confidence
               <span><i>Through quality experiences & credible content</i></span>
             </h1>
          </div>
          <div class="svg-cardsWrp col s12 md4 l4">
            <div class="svg-card card">
              <div class="s-c-wrp">
                <img src="{%static 'img/4241603.png'%}" alt="looking for a house?">
              </div>
              <div class="s-c-cnt">
                <div style='width:30px;height:10px;background:#fb5f3d;border-radius:25px'>
                </div>
                <h6>Find your next home in a <br>few clicks.</h6>
                <p>
                  Choose between browsing and requesting the property you wan't.<br>
                  Whichever way you choose we have made it easy for you to make the best decision
                </p>
                <div class='hm-CtA-bWrap'>
                  <a href="{% url 'listings:property-listings' property_category='homes' property_listing_type='for_sale'%}">
                    <button class="hm-CtA-browse" type="button" name="button">
                      Browse
                    </button>
                  </a>
                  <a href="{% url 'markets:job_post_create'%}">
                    <button class="hm-CtA-request" type="button" name="button">
                      Make a Request
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="svg-cardsWrp col s12 md4 l4">
            <div class="svg-card card">
              <div class="s-c-wrp">
                <img src="{%static 'img/19197280.jpg'%}" alt="pros">
              </div>
              <div class="s-c-cnt">
                <div style='width:30px;height:10px;background:#fb5f3d;border-radius:25px'>
                </div>
                <h6>Enjoy a much safer home search <br>experience.</h6>
                <p>
                  We care about your safety and time.<br> Thats why we verify all agents before having them on our platform to protect
                  you from fraudsters.
                </p>
                <div class='hm-CtA-bWrap'>
                  <a href="#">
                    <button class="hm-CtA-findAg" type="button" name="button">
                      Learn More
                    </button>
                  </a>
                </div>
              </div>
          </div>

          </div>
          <div class="svg-cardsWrp col s12 md4 l4">
            <div class="svg-card card">
              <div class="s-c-wrp">
                <img src="{%static 'img/virtual-tour.png'%}" alt="vr1">
              </div>
              <div class="s-c-cnt">
                <div style='width:30px;height:10px;background:#fb5f3d;border-radius:25px'>
                </div>
                <h6>Selling or Renting doesn't <br> have to be hard.</h6>
                <p>
                  Quality presentations generate more leads. <br>
                  Get professional photos, video walkthroughs and interactive 3D video walkthroughs when you
                  work with our agents.
                </p>
                <div class='hm-CtA-bWrap'>
                  <a href="{%url 'profiles:business_list'%}?p_cat=real-estate-agents">
                    <button class="hm-CtA-findAg" type="button" name="button">
                      Find an agent
                    </button>
                  </a>
                  <a href="#">
                    <button class="hm-CtA-request" type="button" name="button">
                      Learn more
                    </button>
                  </a>
                </div>
              </div>
          </div>

          </div>
    </div>
</section>
<section>
  <div class="HmPg-neighborhoods container">
    <div class="row">
      <div class="Hm-nh-CardsWrp col s12">
        <h1>View neighborhood insights</h1>
        <div class="col s12 md4 l4 ">
          <div class="_PhomeP_nghIs_card card">
            <div class="_PhomeP_nghIs_card_ico">
              <img src="{% static 'img/opinion.svg'%}">
            </div>
            <h6>See what people have said about an area</h6>
            <p>Who better to tell you about an area than the locals?
              Hear directly from the locals or past residents of an area</p>
          </div>
        </div>
        <div class="col s12 md4 l4">
          <div class="_PhomeP_nghIs_card card">
            <div class="_PhomeP_nghIs_card_ico">
              <img src="{% static 'img/analysis.svg'%}">
            </div>
            <h6>View area data</h6>
            <p>We collect, analyze and deliver in a simple way various  neighborhood information like crime rate,
              proximity to local amenities e.t.c so that you are fully in the know</p>
          </div>
        </div>
        <div class="col s12 md4 l4">
          <div class="_PhomeP_nghIs_card card">
            <div class="_PhomeP_nghIs_card_ico">
              <img src="{% static 'img/business-chart.svg'%}">
            </div>
            <h6>View trends on property values and prices</h6>
            <p> Learn about where prices and values are or will be in the future.
              We aggregate all of this infomation so that you are fully in the know</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section>
  <div class="HmPg-Pros container">
    <div class="HmPg-pros-contentWrp row">
      <div class="Hm-pros-TextContent col s12">
          <div class="card">
              <div class="Hm-pros_card_ico">
                <img src="{% static 'img/58068.png'%}">
              </div>
              <h6>Rehgien for businesses</h6>
              <p>
                Quality and credibility is at the core of what we do. <br>
                That's why we work with qualified professionals like you. Access tools and features that help you
                do what you do best.
              </p>
              <div class="hmpg-pros-ActBtns">
                  <a href="/pro/home"><button type="button" name="button">Become a Rehgien Pro</button></a>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="getApp-card-row row">
        <div class="getApp-card card col s12 md6 l6">
            <div class="getappImgWrp">
                <img src="{% static 'img/6532.png'%}" alt="phone">
            </div>
            <h1>Get more flexibility</h1>
            <p>Do more on the go. Get our features customized for your phone.</p>
            <div class="appStoreBadges">
                <a href="#">
                  <button type="button" name="button">
                    <img src="{%static 'img/apple-store-badge.png'%}" alt="applestore">
                  </button>
                </a>
                <a href="#">
                  <button type="button" name="button">
                    <img src="{%static 'img/google-play-badge.png'%}" alt="googleplay">
                  </button>
                </a>
            </div>
        </div>
        <div class="getApp-card card col s12 md6 l6">
            <div class="getappImgWrp">
                <img src="{% static 'img/call-center.png'%}" alt="call-center">
            </div>
            <h1>Reach out to us</h1>
            <p>We are always happy to hear from you.</p>
            <div class="appStoreBadges">
                <a href="#">
                  <button type="button" name="button">
                    +254 79 889 5352
                  </button>
                </a>
            </div>
        </div>
    </div>
  </div>
</section>
<script type="text/javascript">
mapboxgl.accessToken = 'pk.eyJ1IjoicmV5a2VubmVkeSIsImEiOiJjam9td3ZkMnYwdjB5M3ZueWQ1YzVocThwIn0.PBVWnwga3qG6KX6_CoPy8g';
var geocoder = new MapboxGeocoder({
accessToken: mapboxgl.accessToken,
types: 'country,region,place,postcode,locality,neighborhood',
countries:'KE',
placeholder:'Enter an address, city, neighborhood or postcode.'
});

geocoder.addTo('#s_geocoder');
</script>
<script type="text/javascript">
  document.querySelector(".mapboxgl-ctrl-geocoder--input").name="location";
</script>
{%endblock%}

{% block footer %}
<footer id="hpf">
 <section id="footer" class="section section-follow black-text">
   <div class="container" style="width:100%;">
     <div class="row">
       <div class="f-details center">
         <a href="#"> Privacy Policy</a>
         <a href="#"> Terms & Conditions</a>
         <a href="#"> Advertise</a>
         <a href="#"> Mobile App</a>
         <a href="#"> FAQ'S</a>
         <a href="#"> Contact Us</a>
         <a href="{% url 'contact:about_us'%}"> About Us</a>
       </div>
       <div id="footer-details" class="col s12 center">
         <a href="#" class="black-text">
           <i class="fab fa-facebook fa-2x"></i>
         </a>
         <a href="#" class="black-text">
           <i class="fab fa-twitter fa-2x"></i>
         </a>
         <a href="#" class="black-text">
           <i class="fab fa-linkedin fa-2x"></i>
         </a>
         <a href="#" class="black-text">
           <i class="fab fa-instagram fa-2x"></i>
         </a>
         <p>While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy.</p>
       </div>
       <p class="flow-text black-text center" id="c-year"></p>
       <script type="text/javascript">
         var d = new Date();
         document.getElementById("c-year").innerHTML= 'Copyright '+ d.getFullYear();
       </script>
     </div>
   </div>
 </section>
 <div class="ft-bk-sl">
   <img src="{% static 'img/nairobi-skyline.png'%}">
 </div>
</footer>
{% endblock %}
