{%extends 'base.html'%}
{%load static%}
{% load cloudinary %}
{% block head_title %}<title>Rehgien|Find property experts & services </title>{% endblock %}
{% block header %}{% include 'header_section.html' %}{% endblock%}
{%block content%}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    const pro_heros = [
      "https://res.cloudinary.com/rehgien-inc/image/upload/f_auto,fl_progressive:steep,q_70/v1613061894/static/images/carpeter_hero_webv_gietdf.png",
      "https://res.cloudinary.com/rehgien-inc/image/upload/f_auto,fl_progressive:steep,q_70/v1613061899/static/images/photgrapher_hero_webv_ihbcwn.png",
      "https://res.cloudinary.com/rehgien-inc/image/upload/f_auto,fl_progressive:steep,q_70/v1613061904/static/images/realtor_hero_wbv_b3tccn.png",
      "https://res.cloudinary.com/rehgien-inc/image/upload/f_auto,fl_progressive:steep,q_70/v1613061899/static/images/plumber_hero_webv_pcjm70.png",
    ]

    const node = document.getElementById("main_Hero_background");

    const cycleImages = (images, container, step) => {
        images.forEach((image, index) => (
        setTimeout(() => {
            container.style.backgroundImage = `url(${image})`
        }, step * (index + 1))
      ))
      setTimeout(() => cycleImages(images, container, step), step * images.length)
    }

    cycleImages(pro_heros, node, 10000);

    $(".owl-carousel").owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        responsiveClass:true,
        responsive:{
           0:{
               items:1,
               nav:true
           },
           480:{
               items:4,
               nav:false
           },
           768:{
               items:4,
               nav:true,
           }
       }
      });

});
</script>
<div id="main_Hero_background" class="_mainHome_Bn_xcrs" style="background-image:url(https://res.cloudinary.com/rehgien-inc/image/upload/f_auto,fl_progressive:steep,q_auto/v1613061899/static/images/plumber_hero_webv_pcjm70.png)">
   <div class="_mH_Bn_xcrsoverlay">
      <div class="container">
          <div class="row">
            <div class="col s12 _home_Bnr_tt">
          <h1>Find property services & service providers <br> in one place</h1>
          <p>No more doubts, work only with verified and qualified pros on the next home project
          or service.</p>
          <div class="_home_Bnr_catwRP">
            <span>Popular picks:</span> &nbsp &nbsp
            <div class="_home_Bnr_catBtns">
              <a href="{% url 'listings:property_homepage' %}"><button type="button" name="button">Find a home</button></a>
              <a href="{% url 'profiles:business_homepage' %}"><button type="button" name="button">Find professionals</button></a>
            </div>
          </div>
            </div>
          </div>
      </div>
  </div>
</div>

<div class="container main_home_cCotainer">
  <div class="row">
    <div class="col s12">
      <h2>Shop by category <a href="{% url 'listings:shop_category'%}"><span>View all</span></a></h2>
      <div class="owl-carousel">
        <a href="https://res.cloudinary.com/rehgien-inc/image/upload/f_auto,fl_progressive:steep,q_70/v1613082347/static/images/home_fwwsxs.jpg">
            <div class="card">
              <img src="{%static 'img/thumbnails/home.jpg' %}">
              <div class="DtsWrapper_">
                <h6>Sale & rental Homes</h6>
              </div>
            </div>
        </a>
        <div class="card disabled">
          <img src="https://res.cloudinary.com/rehgien-inc/image/upload/f_auto,fl_progressive:steep,q_70/v1613082347/static/images/furniture_hmz2jm.jpg">
          <div class="DtsWrapper_">
            <h6>Furniture</h6>
            <button><span class="material-icons">handyman</span>Coming soon</button>
          </div>
        </div>
        <div class="card disabled">
          <img src="https://res.cloudinary.com/rehgien-inc/image/upload/f_auto,fl_progressive:steep,q_70/v1613082347/static/images/artwork_o1ph9x.jpg">
          <div class="DtsWrapper_">
            <h6>Home decor</h6>
            <button><span class="material-icons">handyman</span>Coming soon</button>
          </div>
        </div>
        <div class="card disabled">
          <img src="https://res.cloudinary.com/rehgien-inc/image/upload/f_auto,fl_progressive:steep,q_70/v1613082347/static/images/architecture_mbkqfl.jpg">
          <div class="DtsWrapper_">
            <h6>Architectural Designs</h6>
            <button><span class="material-icons">handyman</span>Coming soon</button>
          </div>
        </div>
        <div class="card disabled">
          <img src="https://res.cloudinary.com/rehgien-inc/image/upload/f_auto,fl_progressive:steep,q_70/v1613082347/static/images/home_improvement_tem5nf.jpg">
          <div class="DtsWrapper_">
            <h6>Home improvement</h6>
            <button><span class="material-icons">handyman</span>Coming soon</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container main_home_cCotainer">
  <div class="row">
    <div class="col s12">
      <h2>Browse local professionals <a href="{% url 'profiles:business_homepage' %}#allPros"><span>View all</span></a></h2>
      <div class="owl-carousel">
        {% for group in professional_groups%}
          <a href="{% url 'profiles:business_list'%}?p_cat={{group.slug}}">
            <div class="card">
              {% cloudinary group.group_image ImageTransformation %}
              <div class="DtsWrapper_">
                <h6>{{group.group_name|capfirst}}</h6>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% include 'profiles/popular_pro_services.html'%}

{% include 'profiles/recommended_pro_services.html'%}

<br>
<br>
<br>
<br>
<section>
  <div class="container">
    <div class="getApp-card-row row">
        <div class="getApp-card card col s12 md6 l6">
            <div class="getappImgWrp">
                <img src="{% static 'img/6532.png'%}" alt="phone">
            </div>
            <h1>Get more flexibility</h1>
            <p>Do more on the go. Get our features customized for your phone.</p>
            <div class="appStoreBadges">
                <a href="#">
                  <button type="button" name="button">
                    <img src="{%static 'img/apple-store-badge.png'%}" alt="applestore">
                  </button>
                </a>
                <a href="#">
                  <button type="button" name="button">
                    <img src="{%static 'img/google-play-badge.png'%}" alt="googleplay">
                  </button>
                </a>
            </div>
        </div>
        <div class="getApp-card card col s12 md6 l6">
            <div class="getappImgWrp">
                <img src="{% static 'img/call-center.png'%}" alt="call-center">
            </div>
            <h1>Reach out to us</h1>
            <p>We are always happy to hear from you.</p>
            <div class="appStoreBadges">
                <a href="#">
                  <button type="button" name="button">
                    +254 12 345 678
                  </button>
                </a>
            </div>
        </div>
    </div>
  </div>
</section>
{%endblock%}
{% block footer %}{% include 'footer_section.html' %}{% endblock %}
