{% extends 'base1.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags%}
{% load leaflet_tags %}
{% leaflet_js plugins="forms" %}
{% leaflet_css plugins="forms" %}

<section>
<div class="container">
<div class="row">
<form class="post-form" action="{% url 'listings:rental_update' listing.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="ListingFormStep">
      <h2>Step 1 of 6: Property Facts</h2>
      <div class="form-row">
          <div class="name">
            {{PropertyForm.property_name|as_crispy_field}}
          </div>
          <div class="price">
            {{PropertyForm.price|as_crispy_field}}
          </div>
      </div>

      <div class="type">
          {{PropertyForm.type|as_crispy_field}}
      </div>
  </div>

  <div class="ListingFormStep">
      <h2>Step 2 of 6: Photos and video</h2>
      <div class="photos">
        <p>Select pictures.<p>
          {{img_formset.management_form}}
          {% for form in img_formset%}
            {{form.as_p}}
          {%endfor%}
      </div>
      <div class="photos">
        <p>Add a video.<p>
          {{vid_formset.management_form}}
          {% for form in vid_formset%}
            {{form.as_p}}
          {%endfor%}
      </div>

      <div class="virtual-tour">
        <p>Provide a link from your virtual tour provider below. Dont have one? <a href="#">Contact US!</a></p>
          {{PropertyForm.virtual_tour_url|as_crispy_field}}
      </div>
  </div>

  <div class="ListingFormStep">
    <h2>Step 3 of 6: Location</h2>
    <div class="location">
      <p>Tell your clients where this property is located.</p>
            {{PropertyForm.location_name|as_crispy_field}}
      <p>Provide a point on the map. Zoom in for a better accuracy!</p>
            {{PropertyForm.location|as_crispy_field}}
    </div>
  </div>

<div class="ListingFormStep">
  <h2>Step 4 of 6: More information</h2>
  <div class="form-row1">
    <p>Giving more information about your property will raise chances of getting a client quickly.</p>
    <div class="bathrooms">
        {{PropertyForm.bathrooms|as_crispy_field}}
    </div>
    <div class="bedrooms">
        {{PropertyForm.bedrooms|as_crispy_field}}
    </div>
    <div class="total-rooms">
        {{PropertyForm.total_rooms|as_crispy_field}}
    </div>
    <div class="floor-number">
        {{PropertyForm.floor_number|as_crispy_field}}
    </div>
  </div>

  <div class="form-row2">
    <div class="lot-size">
      {{PropertyForm.floor_area|as_crispy_field}}
    </div>
    <div class="lot-size-unit">
      {{PropertyForm.size_units|as_crispy_field}}
    </div>
  </div>

  <div class="form-row3">
    <div class="units">
      {{PropertyForm.number_of_units|as_crispy_field}}
    </div>
    <div class="stories">
      {{PropertyForm.number_of_stories|as_crispy_field}}
    </div>
    <div class="parking-spaces">
        {{PropertyForm.parking_spaces|as_crispy_field}}
    </div>
  </div>

  <div class="form-row4">
      <div class="year-bullt">
        {{PropertyForm.year_built|as_crispy_field}}
      </div>
      <div class="remodel-year">
        {{PropertyForm.remodel_year|as_crispy_field}}
      </div>
  </div>
</div>

<div class="ListingFormStep">
  <h2>Step 5 of 6: Features</h2>
  <div class="form-row-choices1">
  <h5>#Room Details</h5>
    <div class="appliances">
      {{PropertyForm.appliances|as_crispy_field}}
    </div>
    <div class="basement">
      {{PropertyForm.basement|as_crispy_field}}
    </div>
    <div class="floor-covering">
      {{PropertyForm.floor_covering|as_crispy_field}}
    </div>
    <div class="rooms">
      {{PropertyForm.rooms|as_crispy_field}}
    </div>
    <div class="indoor-features">
      {{PropertyForm.indoor_features|as_crispy_field}}
    </div>
  </div>

  <div class="form-row-choices2">
    <h5>#Utility Details</h5>
    <div class="cooling-type">
      {{PropertyForm.cooling_type|as_crispy_field}}
    </div>
    <div class="heating-type">
      {{PropertyForm.heating_type|as_crispy_field}}
    </div>
    <div class="heating-fuel">
      {{PropertyForm.heating_fuel|as_crispy_field}}
    </div>
  </div>

  <div class="form-row-choices3">
    <h5>#Building Details</h5>
      <div class="building-amenities">
        {{PropertyForm.building_amenities|as_crispy_field}}
      </div>
      <div class="exterior">
        {{PropertyForm.exterior|as_crispy_field}}
      </div>
      <div class="outdoor-amenities">
        {{PropertyForm.outdoor_amenities|as_crispy_field}}
      </div>
      <div class="parking">
        {{PropertyForm.parking|as_crispy_field}}
      </div>
      <div class="roof">
        {{PropertyForm.roof|as_crispy_field}}
      </div>
      <div class="view">
        {{PropertyForm.view|as_crispy_field}}
      </div>
  </div>
</div>

<div class="ListingFormStep">
  <h2>Step 6 of 6: Contact details & final touches.</h2>
  <div class="form-row-info">
    <p><b>Owner information:</b> This is the final section of this form, add you details and choose a thumbnail picture. this will appear in the listing section</p>
    <div class="phone">
      {{PropertyForm.phone|as_crispy_field}}
    </div>
    <div class="email">
      {{PropertyForm.email|as_crispy_field}}
    </div>
    <br>
    <p>Provide a link to a website associated with this listing where homeseekers can find more information. Can be a personal or company website. </p>
    <div class="related_website">
      {{PropertyForm.related_website|as_crispy_field}}
    </div>
    <br>
    <p>Choose a thumbnail image for this property.</p>
    <div class="thumb">
      {{PropertyForm.thumb|as_crispy_field}}
    </div>
    <div class="description">
      <p>Lastly <b>say something</b> about your property or add some <b>additional details</b> we might have missed.</p>
      {{PropertyForm.description|as_crispy_field}}
    </div>
  </div>
  <p><b>By clicking update you agree that you own this property or are acting on behalf of the owner of this property as an Agent. Also you consent to our <a href="#">terms of service</a></b></p>
  <div class="submit-button">
    <input type="submit" value="Update">
  </div>
</div>
<div style="overflow:auto;">
  <div style="float:right;">
    <button type="button" id="prevStepBtn" onclick="nextPrev(-1)">Previous</button>
    <button type="button" id="nextStepBtn" onclick="nextPrev(1)">Next</button>
  </div>
</div>
<!-- Circles which indicate the steps of the form: -->
<div style="text-align:center;margin-top:40px;">
  <span class="StepIndicator"></span>
  <span class="StepIndicator"></span>
  <span class="StepIndicator"></span>
  <span class="StepIndicator"></span>
  <span class="StepIndicator"></span>
  <span class="StepIndicator"></span>
</div>
  </form>
</div>
</section>

<script>
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("ListingFormStep");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevStepBtn").style.display = "none";
  } else {
    document.getElementById("prevStepBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextStepBtn").style.display = "none";
  } else {
    document.getElementById("nextStepBtn").style.display = "inline";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("ListingFormStep");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementsByClassName("post-form").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("ListingFormStep");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("StepIndicator")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("StepIndicator");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
</script>
{% endblock %}
