{%extends 'base.html'%}
{% load static %}
{% block head_title %}<title>Rehgien | Find homes, home products and home designs</title>{% endblock %}
{%block content%}
{% include 'header_section.html' %}

  <div class="shopBnr" style="background-image:url(https://res.cloudinary.com/rehgien-inc/image/upload/f_auto,fl_progressive:steep,q_auto/v1613061908/static/images/shop1_uzfrdg.jpg)">
     <div class="_mH_Bn_xcrsoverlay">
        <div class="container">
            <div class="row">
              <div class="col s12 _home_Bnr_tt">
              <h1>Browse & Shop products listed by our professionals</h1>
              <p>
                Whether looking to buy/rent a home or shopping basic home products find what you want<br> in one place.
              </p>
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="container shop_link_cont">
    <div class="row">
      <div class="col s12">
        <div class="_shopCatg_cards">
          <a href="https://res.cloudinary.com/rehgien-inc/image/upload/f_auto,fl_progressive:steep,q_auto/v1613082347/static/images/home_fwwsxs.jpg">
              <div class="card">
                <img src="{%static 'img/thumbnails/home.jpg' %}">
                <div class="DtsWrapper_">
                  <h6>Sale & rental Homes</h6>
                </div>
              </div>
          </a>
          <div class="card disabled">
            <img src="https://res.cloudinary.com/rehgien-inc/image/upload/f_auto,fl_progressive:steep,q_auto/v1613082347/static/images/furniture_hmz2jm.jpg">
            <div class="DtsWrapper_">
              <h6>Furniture</h6>
              <button><span class="material-icons">handyman</span>Coming soon</button>
            </div>
          </div>
          <div class="card disabled">
            <img src="https://res.cloudinary.com/rehgien-inc/image/upload/f_auto,fl_progressive:steep,q_auto/v1613082347/static/images/artwork_o1ph9x.jpg">
            <div class="DtsWrapper_">
              <h6>Home decor</h6>
              <button><span class="material-icons">handyman</span>Coming soon</button>
            </div>
          </div>
          <div class="card disabled">
            <img src="https://res.cloudinary.com/rehgien-inc/image/upload/f_auto,fl_progressive:steep,q_auto/v1613082347/static/images/architecture_mbkqfl.jpg">
            <div class="DtsWrapper_">
              <h6>Architectural Designs</h6>
              <button><span class="material-icons">handyman</span>Coming soon</button>
            </div>
          </div>
          <div class="card disabled">
            <img src="https://res.cloudinary.com/rehgien-inc/image/upload/f_auto,fl_progressive:steep,q_auto/v1613082347/static/images/home_improvement_tem5nf.jpg">
            <div class="DtsWrapper_">
              <h6>Home improvement</h6>
              <button><span class="material-icons">handyman</span>Coming soon</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'footer_section.html' %}
{% endblock %}
