{% load static from staticfiles%}
{% load static %}
{% load cloudinary %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
  <link rel="shortcut icon" type="image/jpg" href="{%static 'img/logo-fav.png'%}">
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
  <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Rehgien|Buy</title>

  <!-- CSS  -->
  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <link rel="stylesheet" type="text/css" href="{%static 'css/material-icons.css'%}">
  <link href="{%static 'css/materialize.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{%static 'css/css/all.min.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!--<link rel="stylesheet" href="fontawesome-free-5.1.0-web/css/fontawesome.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">-->
  <link href="{%static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="location-body">
  <!-- <div id="preloader-animation">
    <img src="{% static 'img/Pulse.gif'%}" alt="Loading..">
  </div> -->
  <!-- navbar -->
  <div class="navbar-fixed">
  <!--<nav class="transparent z-depth-0">-->
    <nav class="teal" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" href="{% url 'homepage'%}" class="brand-logo center"><img class="logo" src="{%static 'img/logo.png'%}"></a>
      <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-base1"class="left hide-on-med-and-down">
        <li><a href="{% url 'location:onsale_listings'%}">Buy</a></li>
        <li><a href="{% url 'location:rental_listings'%}">Rent</a></li>
        <li><a href="#" id='ag-trigger' class="dropdown-trigger" data-target='ag-dropdown'>Find a pro</a></li>
        <li><a href="#">Request a property</a></li>

      </ul>

      <div id="ag-dropdown" class="dropdown-content hide-on-med-and-down">
        <div class="container">
          <div class="row">
            <div class="col s12 md6 l6 xl6">
              <div class="re_pros">
                <h6><b>Real Estate Profesionals</b></h6>
                <li><a href="{% url 'profiles:agent_list'%}"">Real Estate Agents</a></li>
                <li><a href="#">Property Managers</a></li>
                <li><a href="#">Appraisers/Valuers</a></li>
              </div>
            </div>
            <div class="col s12 md6 l6 xl6">
              <div class="o_pros">
                <h6><b>Other Profesionals</b></h6>
                <li><a href="#">Interior Designers</a></li>
                <li><a href="#">Real Estate Photographers</a></li>
                <li><a href="#">Plumbers</a></li>
                <li><a href="#">Home Movers</a></li>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ul id="nav-base2" class="right hide-on-med-and-down">
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'account_login' %}" class="modal-trigger"><i class="fas fa-user-alt-slash"></i> LogIn</a></li>
        <li><a href="{% url 'account_signup' %}" class="modal-trigger">SignUp</a></li>
        <!-- <li><a href="#"><b>or</b></a></li> -->
        <!-- <li><a href="#">Subscribe for updates</a></li> -->
        {% else %}
        <li><a href="{% url 'listings:sell_listing_form' %}">Sell</a></li>
        <li><a href="{% url 'listings:rental_listing_form' %}"> Post a Rental</a></li>
        <li><a id='ac-trigger' class="dropdown-trigger" data-target='ac-dropdown'><i class="far fa-user-circle fa-lg" style="color:green;"></i>
          {{request.user.first_name|make_list|first|upper}} {{request.user.last_name|make_list|first|upper}}</a>
      </li>

      </ul>
      <div id="ac-dropdown"class="dropdown-content hide-on-med-and-down">
        <div class="ac-drd-img">
          {% if request.user.profile.profile_image%}
          <img src="{{request.user.profile.profile_image.url}}" alt="profile.img" style="width:40px">
          {% else %}
          <img src="{% static 'img/avatar.png'%}" alt="avatar.png"style="width:40px">
          {% endif %}
        </div>
        <li><a href="{% url 'profiles:account'%}">My profile</a></li>
        <li><a href="#id01" class="modal-trigger"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
      </div>
      {% endif %}
      <ul id="mobile-nav" class="sidenav">
        <li><a href="{%url 'listings:homepage'%}">Home</a></li>
        <li><a href="{% url 'location:onsale_listings' %}">Buy</a></li>
        <li><a href="{% url 'location:rental_listings'%}">Rent</a></li>
        <li><a href="{% url 'listings:sell_listing_form' %}">Sell</a></li>
        <li><a href="{% url 'listings:rental_listing_form' %}">Post your Rental</a></li>
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'account_login' %}" class="modal-trigger"><i class="fas fa-user-alt-slash"></i>LogIn</a></li>
        <li><a href="{% url 'account_signup' %}" class="modal-trigger">SignUp</a></li>
        {% else %}
        <li><a href="{% url 'profiles:account'%}">My profile</a></li>
        <li><a><i class="far fa-user-circle" style="color:green;"></i>
          {{request.user.first_name|make_list|first|upper}} {{request.user.last_name|make_list|first|upper}}</a></li>
        <li><a href="#id01" class="modal-trigger">Logout</a></li>
        {% endif %}

      </ul>
    </div>
  </nav>
</div>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
         <li {% if message.tag %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<!-- logout  Modal-->

<div id="id01" class="modal">

  <h1>{% trans "Sign Out" %}</h1>

  <p>{% trans 'Are you sure you want to sign out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit">{% trans 'Sign Out' %}</button>
  </form>

</div>
{% block location_content %}

{% endblock %}

<!--  Scripts-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/mat.js' %}"></script>
<script src="{% static 'js/gall.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js/all.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.bootpag.js'%}"></script>
</body>
</html>
