{% extends 'base.html'%}
{%load static%}
{% load cloudinary %}
{% block head_title %}<title>Join as a service provider| Rehgien </title>{% endblock %}
{% block header %}{% include 'header_section.html' %}{% endblock%}
{% block content %}

<div class="joinAsPro-hero">
   <div class="joinAsPro-hero-overlay">
      <div class="container">
          <div class="row">
            <div class="col s12 md6 l6 xl6 joinAsPro-hero-bdTxt">
                <h1>List your services & start earning!</h1>
                <p>Grow your business and customer base by joining our service provider network. Apply today and start earning.</p>
                <div class="joinAsPro-hero-cat">
                    <a href="https://form.jotform.com/213254506473554" target="_blank" class="_whtBck"><i class="iconify" data-icon="ant-design:user-add-outlined"></i>Apply to Join</a>
                </div>
            </div>
            <div class="col s12 md6 l6 xl6 joinAsPro-hero-bdImg">
              <div class="joinAsPro_Bnr_Img_bx">
                  <img src="{% static 'img/proDashSnap.svg'%}">
              </div>
            </div>
          </div>
      </div>
      <div class="_heroBdDvdr">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 194">
          <polygon points="1280 -49.5 1280 145 3.3 338.5 0 338.5 0 -49.5 1280 -49.5" style="fill:none"/>
          <polygon points="1280 0.5 1280 194 1.3 194 1280 70.5" style="fill:#fff"/>
        </svg>
      </div>
  </div>
    <canvas class="HomeHerocanvas" width='32' height="32">
</div>


<div class="proJoinBnftsContScHm container">
  <div class="proJoinBnftsContScHmRw row">
    <div class="col s12 md4 l4 xl4">
      <div class="card">
        <div class="proJoinBnfts_cardImg">
          <i class="iconify" data-icon="healthicons:i-schedule-school-date-time-outline"></i>
        </div>
        <div class="proJoinBnfts_cardBdy">
          <h3>Set your schedule</h3>
          <p>
            No commitments required, control your schedule and work when and where you want.
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 md4 l4 xl4">
      <div class="card">
        <div class="proJoinBnfts_cardImg">
          <i class="iconify" data-icon="la:wallet"></i>
        </div>
        <div class="proJoinBnfts_cardBdy">
          <h3>Reliable earnings</h3>
          <p>
            Our mobile and web platforms help find you consistent work so you can make money you can depend on.
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 md4 l4 xl4">
      <div class="card">
        <div class="proJoinBnfts_cardImg">
          <i class="iconify" data-icon="codicon:graph-line"></i>
        </div>
        <div class="proJoinBnfts_cardBdy">
          <h3>Grow your business</h3>
          <p>
            We handle all the work of finding you clients in your area so you can focus on doing what you do best.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="proJoinwhIS-ContScHmBack">
  <div class="proJoinwhIS-ContScHm container">
    <div class="proJoinwhIS-ContScRwHm row">
      <div class="col s12 md6 l6 xl6">
        <div class="proJoinwhIS-img-sc">
          <img src="{% static 'img/worker-stock.png'%}">
        </div>
      </div>
        <div class="col s12 md6 l6 xl6">
          <div class="proJoinwhIStXt-bdy-sc">
            <h2>What is Rehgien</h2>
            <p>
              Rehgien connects people in search of local services - casual and
              formal- to local professionals and service providers who can offer
              such services.
              <br>
              <br>
              As a pro on Rehgien you get to offer your services when and where
              you want while saving yourself time and money to look for work or
              customers.
            </p>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="gettingStarted-ContScHmBack">
  <div class="gettingStartedContScHm container">
    <h2>Getting Started</h2>
    <div class="gettingStartedContScHmRw row">
      <div class="col s12 md4 l4 xl4">
        <div class="card">
          <div class="gettingStarted_cardImg">
            <img src="{% static 'img/userjoin.svg'%}">
          </div>
          <div class="gettingStarted_cardBdy">
            <h3>1. Apply to Join</h3>
            <p>
              Apply to join our network of service providers and get your free professional account.
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 md4 l4 xl4">
        <div class="card">
          <div class="gettingStarted_cardImg">
            <img src="{% static 'img/fillProfile.svg'%}">
          </div>
          <div class="gettingStarted_cardBdy">
            <h3>2. Build your profile</h3>
            <p>
              Once you get your account setup your profile and define how you want to work you work area preferences.
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 md4 l4 xl4">
        <div class="card">
          <div class="gettingStarted_cardImg">
            <img src="{% static 'img/earnMoney.svg'%}">
          </div>
          <div class="gettingStarted_cardBdy">
            <h3>3. Start getting jobs</h3>
            <p>
              Grow your business at your own terms. Our productivity tools will also help you do more work with less effort.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="become_a_pro_container">
    <div class="container">
      <div class="row">
        <div class="bcap_section">
          <div class="bcapSc_head">
            <h2>Your questions, answered</h2>
          </div>
          <div class="bcap_FAQ">

                <ul class="collapsible">
                  <li class="active">
                    <div class="collapsible-header">
                      Will i pay to join your network?
                      <span class="material-icons">keyboard_arrow_down</span>
                    </div>
                    <div class="collapsible-body"><span>
                      No! Creating an account and listing your services is free.
                    </span></div>
                  </li>
                  <li>
                    <div class="collapsible-header">
                      How long does it take to be approved to join?
                    <span class="material-icons">keyboard_arrow_down</span>
                    </div>
                    <div class="collapsible-body"><span>
                      We typically take 3-5 business days to review your details.
                      If we don't find any problems with your information, we will activate your account.
                    </span></div>
                  </li>

                </ul>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="ctaBannerMain-ContScHmBack" style="background:url({% static 'img/meeting.jpg'%})">
  <div class="ctaBannerMainContScHm container">
    <div class="ctaBannerMainContScHmRw row">
      <div class="ctaBnrInnerTxt">
        <h2>Ready to start earning?</h2>
        <a href="https://form.jotform.com/213254506473554" target="_blank">Apply to join</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
{% include 'footer_section.html'%}
{% endblock%}
