{% extends 'pro_base.html' %}
{% load static %}
{% load i18n %}
{% block title %}<title>Create pro business profile|Rehgien Pro</title>{% endblock %}
{% block header %}{% include 'rehgien_pro/pro_onboarding/header_section.html'%}{% endblock %}
{% block content %}
<script src="{% static 'js/jquery.min.js' %}"></script>
{{ form.media.css }}
{{ wizard.form.media }}
<div class="ProOnboardingWizard">
  <div class="pro_onboardingProgress" style="width:0"></div>
  <div class="container">
    <div class="row">
        <form method="post col s12">
            {% csrf_token %}
            <div class="proOnbdFormElS col s12">
                <div class="col s12 md8 l8 xl8 pr_ObdFormFields stepOne">
                  <div class="formSct">
                    <h2>
                      Select the services services you do.
                    </h2>
                  </div>
                    <div class="field">
                        <p>You'll show up in search resuts and get all the leads for the services you create</p>
                        {{form.professional_services}}
                    </div>
                </div>
                <div class="col s12 md4 l4 xl4 ">
                  <div class="helper_card_msgTxtRg">
                    <div class="card">
                        <h3>Services increase your visibility.</h3>
                        <div class="proObgHelpTips">
                          <div class="proObgHelpTipTx">
                            <span class="material-icons">person_search</span>
                            <p>Select services that correlty match what you offer.</p>
                          </div>
                          <div class="proObgHelpTipTx">
                            <span class="material-icons">work</span>
                            <p>Can't find a service then contact us and we will add it.</p>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
          <div class="OnbgSteps-footer col s12">
            <div class="OnbgSteps-footerBtns">
              {% if wizard.steps.prev %}
              <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Previous" %}</button>
              {% endif %}
              <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.next }}">{% trans "Next" %}</button>
            </div>
          </div>
            {{ wizard.management_form }}
        </form>
    </div>
  </div>
</div>

{% endblock %}
