{% extends 'rehgien_pro/dashboard/dashboard_base.html'%}
{% load static %}
{% block head_title %}<title>Rehgien Pro | Messages</title>{% endblock %}
{% block leadsActive %}active{% endblock %}
{% block dashboard_section %}
<div class="pro-page-section pro-lead-section">
    <div class="pro-page-section-head pro-lead-section-head">
        <h2>Your Leads</h2>
    </div>
    <div class="pro-page-section-body pro-lead-section-body ">
        <div class="pro-lead-section-body-cards-wrp">
            <div class="pro-lead-section-body-card">
                <h3>Leads</h3>
                <div class="proLSBC-card card">
                    <div class="proLSBC-card-section">
                        <h5>Today</h5>
                        <span>0</span>
                        <div class="proLSBC-card-section-trend upTrend">+14%</div>
                    </div>
                    <div class="proLSBC-card-dvdr"></div>
                    <div class="proLSBC-card-section">
                        <h5>Last 30 days</h5>
                        <span>0</span>
                        <div class="proLSBC-card-section-trend upTrend">+10%</div>
                    </div>
                    <div class="proLSBC-card-dvdr"></div>
                    <div class="proLSBC-card-section">
                        <h5>Avg. per day</h5>
                        <span>0</span>
                        <div class="proLSBC-card-section-trend downTrend">-5%</div>
                    </div>
                </div>
            </div>
            <div class="pro-lead-section-body-card">
                <h3>Conversion</h3>
                <div class="proLSBC-card card">
                    <div class="proLSBC-card-section">
                        <h5>Today</h5>
                        <span>0</span>
                        <div class="proLSBC-card-section-trend upTrend">+14%</div>
                    </div>
                    <div class="proLSBC-card-dvdr"></div>
                    <div class="proLSBC-card-section">
                        <h5>Last 30 days</h5>
                        <span>0</span>
                        <div class="proLSBC-card-section-trend upTrend">+10%</div>
                    </div>
                    <div class="proLSBC-card-dvdr"></div>
                    <div class="proLSBC-card-section">
                        <h5>Avg. per day</h5>
                        <span>0</span>
                        <div class="proLSBC-card-section-trend downTrend">-5%</div>
                    </div>
                </div>
            </div>      
        </div>
    </div>
</div>
{% endblock %}
