{% extends 'rehgien_pro/dashboard/dashboard_base.html'%}
{% load static %}
{% load humanize %}
{% load cloudinary %}
{% block head_title %}<title>Rehgien Pro | Manage Property Listings</title>{% endblock %}
{% block propActive %}active{% endblock %}
{% block dashboard_section %}
<div id="proDash_propertyListing" class="proDashFeedContainer proDash_sectionTab">
  <div class="proDash-Tab-section">
    <div class="proDashTab-head">
        <h2>Properties</h2>
    </div>
    <div class="quickActions_sc">
      <div class="quickActionItems">
        Quick Access:
        <div class="quickActionItems-links">
            <a href="{% url 'listings:homepage' %}" target="_blank"><button type="button" name="button"> <i class="material-icons">manage_search</i>Browse Other Properties</button></a>
            <a href="{% url 'profiles:business_homepage' %}" target="_blank"><button type="button" name="button"> <i class="material-icons">manage_search</i>Find a Professional</button></a>
            <a href="{% url 'profiles:business_homepage' %}" target="_blank"><button type="button" name="button"> <i class="material-icons">auto_graph</i>Rehgien Agency</button></a>
        </div>
      </div>
    </div>
    <div class="mng_prop_filters">
      <h3 class="proDash-sectionTitle">Search Your Properties</h3>
      <div class="mng_prop_filter_form_wrapper">
        <form class="mng_prop_filter_form" action="index.html" method="post">
          {% csrf_token %}
          <div class="mng_prop_filter_fields">
            <div class="mng_prop_filter_field mngpfl_location_input">
              <input type="text" name="location" value="" placeholder="Enter a location name">
            </div>
            <div data-isOpen="false" id="target_pro_col_filt" class="mng_prop_collapsible_fields">
                <div class="mng_prop_filter_field mngpfl_drpd_input">
                  <div class="input-field">
                     <select name="listing_type">
                       <option value="All" selected>Listing Type</option>
                       <option value="for_sale">For Sale</option>
                       <option value="for_sale">For Rent</option>
                     </select>
                   </div>
                </div>
                <div class="mng_prop_filter_field mngpfl_drpd_input">
                  <div class="input-field">
                     <select name="property_type">
                       <option value="All" selected>Property Type</option>
                       {% for home_type in home_types%}
                       <option value="{{home_type.name}}">{{home_type.name}}</option>
                       {% endfor %}
                     </select>
                   </div>
                </div>
                <div class="mng_prop_filter_field mngpfl_drpd_input">
                  <div class="input-field">
                     <select name="status_type">
                       <option value="All" selected>Status</option>
                       <option value="active">Active</option>
                       <option value="inactive">Inactive</option>
                     </select>
                   </div>
                </div>
            </div>
                         <button id="mng_prop_collapsible_switch" class="mng_prop_collapsible_switch hide-on-med-and-up" type="button" name="button">More Filters <i class="material-icons">expand_less</i></button>
            <div class="mng_prop_filters_submit">
              <button type="button" name="button">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="mng_prop_stats_hd">
      <div class="mng_prop_type_switch">
        <ul class="tabs">
            <li class="tab col s3"><a href="#mng_fs">For sale <span>{{user_fs_properties.count}}</span></a></li>
            <li class="tab col s3"><a href="#mng_fr">For Rent <span>{{user_fr_properties.count}}</span></a></li>
        </ul>
      </div>
      <div class="mng_prop_ext_btns">
        <a href="{% url 'listings:property_listing_form'%}" target="_blank"><button type="button" name="button"><span class="material-icons">add</span>Post new property</button></a>
      </div>
    </div>
    <div id="mng_fs" class="mng_prp_ls_ mng_ls_fs_xxjsde">
      <div class="mng-pls-st-tbl-wrp">
              {% if user_fs_properties%}
                <div class="mng-pls-tbl-vw">
                  <table>
                    <thead>
                      <tr>
                        <th>Property</th>
                        <th>Leads</th>
                        <th>Stats</th>
                        <th>Posted on</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    {% for property in user_fs_properties %}
                      <tr>
                          <td>
                              <div id="rec-card" class="card">
                              <div id="rec-img" class="card-image">
                                <a href="{{property.get_absolute_url}}" target="_blank">
                                  {% for home_photo in property.home_photos.all %}
                                    {% if forloop.last %}
                                      {% cloudinary home_photo.photo ImageTransformation %}
                                    {% endif %}
                                  {% endfor %}
                              </a>
                              </div>
                              <div id="rec-content" class="card-content">
                                <ol>
                                  <li class="rec-h-name">{{property.property_name|truncatechars:25}}</li>
                                  <li class="rec-h-location">{{property.location_name|truncatechars:30}}</li>
                                  <li class="rec-h-features">{{property.bathrooms}} ba| {{property.bedrooms}} bds| {{property.floor_area}} {{property.size_units}}</li>
                                  <li class="rec-h-price">Ksh: {{property.price|intcomma}}</li>
                                </ol>
                              </div>
                              </div>
                          </td>
                          <td>
                            <div class="_dashlistingLeads">

                              {{property.all_leads.count}} till now
                              <div class="_dashLsgLdUsers">
                                 {% for lead in property.all_leads %}
                                    <div class="_dashLsgLdUserImg{{forloop.counter}}">
                                      <img src="
                                        {% if lead.user.profile_image %}
                                          {{lead.user.profile_image.url}}
                                        {% else %}
                                          {% static 'img/avatar.png'%}
                                        {% endif %}
                                      " alt="">
                                    </div>
                                  {%endfor%}
                                  {% if property.all_leads.count > 4 %}
                                    <div class="_dashLsgLdUserExtra">
                                      +{{ property.all_leads.count|add:"-4" }}
                                    </div>
                                  {% else %}
                                    <div class="_dashLsgLdUserExtra">
                                      +0
                                    </div>
                                  {% endif %}

                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="_dashLsgAcStats">
                              {% if property.views_trend > 0 %}
                                <span class="material-icons">trending_up</span>
                              {% else %}
                                <span class="material-icons">trending_flat</span>
                              {% endif %}
                                <div class="_dashLsgAcStd">
                                  <h4>{{property.total_views_count}} &nbsp + &nbsp<span>{{property.recent_views_count}}</span></h4>
                                  <h5>Total Views</h5>
                                </div>
                            </div>
                          </td>
                          <td>
                            <span id="rec-date" class="card-title"><p>{{property.publishdate.date}}</p></span>
                          </td>
                          <td>
                            <div class="_dashLsgAcStatus">
                                {% if property.is_active %}
                                  <span>Active</span>
                                  Till {{property.active_until|date}}
                                {% else %}
                                  <span>Inactive</span>
                                  From {{property.publishdate|date}}
                                {% endif %}
                            </div>
                          </td>
                          <td>
                            <div class="card-links">
                                <a href="{% url 'listings:property_update' property_category=property.property_category|lower pk=property.pk%}" target="_blank"><button id="link-edit" type="button" name="button">
                                  <span class="material-icons" style="color:#1100ff">mode_edit</span>
                                </button></a>
                                <form action="{% url 'listings:property_delete' property_category=property.property_category|lower pk=property.pk%}" method="post">
                                  {% csrf_token %}
                                  <button id="link-del" type="submit" name="button">
                                    <span class="material-icons" style="color:#ff0000">delete_forever</span>
                                  </button>
                                </form>
                            </div>
                          </td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              {% else %}
                <div class="mng-npr-empty">
                  <div class="mng-npr-empty-ct">
                    <img src="{% static 'img/rent.svg'%}" alt="empty">
                    <div class="npr-desc">
                      <h5>Manage the properties you've listed in one place</h5>
                      <p>See all your listed properties in one place. Monitor their perfomance, the number of views they have, leads generated, and more!</p>
                      <a href="{% url 'listings:property_listing_form'%}" target="_blank"><button type="button" name="button"><span class="material-icons">add</span>Post new property</button></a>
                    </div>

                  </div>
                </div>
              {% endif%}
      </div>
    </div>
    <div id="mng_fr" class="mng_prp_ls_ mng_ls_fr_xxjsde">
      <div class="mng-pls-st-tbl-wrp">
              {% if user_fr_properties%}
                <div class="mng-pls-tbl-vw">
                  <table>
                    <thead>
                      <tr>
                        <th>Property</th>
                        <th>Leads</th>
                        <th>Stats</th>
                        <th>Posted on</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    {% for property in user_fr_properties %}
                      <tr>
                          <td>
                              <div id="rec-card" class="card">
                              <div id="rec-img" class="card-image">
                                <a href="{{property.get_absolute_url}}" target="_blank">
                                  {% for home_photo in property.home_photos.all %}
                                    {% if forloop.last %}
                                      {% cloudinary home_photo.photo ImageTransformation %}
                                    {% endif %}
                                  {% endfor %}
                              </a>
                              </div>
                              <div id="rec-content" class="card-content">
                                <ol>
                                  <li class="rec-h-name">{{property.property_name|truncatechars:25}}</li>
                                  <li class="rec-h-location">{{property.location_name|truncatechars:30}}</li>
                                  <li class="rec-h-features">{{property.bathrooms}} ba| {{property.bedrooms}} bds| {{property.floor_area}} {{property.size_units}}</li>
                                  <li class="rec-h-price">Ksh: {{property.price|intcomma}} P/M</li>
                                </ol>
                              </div>
                              </div>
                          </td>
                          <td>
                            <div class="_dashlistingLeads">

                              {{property.all_leads.count}} till now
                              <div class="_dashLsgLdUsers">
                                 {% for lead in property.all_leads %}
                                    <div class="_dashLsgLdUserImg{{forloop.counter}}">
                                      <img src="
                                        {% if lead.user.profile_image %}
                                          {{lead.user.profile_image.url}}
                                        {% else %}
                                          {% static 'img/avatar.png'%}
                                        {% endif %}
                                      " alt="">
                                    </div>
                                  {%endfor%}
                                  {% if property.all_leads.count > 4 %}
                                    <div class="_dashLsgLdUserExtra">
                                      +{{ property.all_leads.count|add:"-4" }}
                                    </div>
                                  {% else %}
                                    <div class="_dashLsgLdUserExtra">
                                      +0
                                    </div>
                                  {% endif %}

                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="_dashLsgAcStats">
                              {% if property.views_trend > 0 %}
                                <span class="material-icons">trending_up</span>
                              {% else %}
                                <span class="material-icons">trending_flat</span>
                              {% endif %}
                                <div class="_dashLsgAcStd">
                                  <h4>{{property.total_views_count}} &nbsp + &nbsp<span>{{property.recent_views_count}}</span></h4>
                                  <h5>Total Views</h5>
                                </div>
                            </div>
                          </td>
                          <td>
                            <span id="rec-date" class="card-title"><p>{{property.publishdate.date}}</p></span>
                          </td>
                          <td>
                            <div class="_dashLsgAcStatus">
                                {% if property.is_active %}
                                  <span>Active</span>
                                  Till {{property.active_until|date}}
                                {% else %}
                                  <span>Inactive</span>
                                  From {{property.publishdate|date}}
                                {% endif %}
                            </div>
                          </td>
                          <td>
                            <div class="card-links">
                                <a href="{% url 'listings:property_update' property_category=property.property_category|lower pk=property.pk%}" target="_blank"><button id="link-edit" type="button" name="button">
                                  <span class="material-icons" style="color:#1100ff">mode_edit</span>
                                </button></a>
                                <form action="{% url 'listings:property_delete' property_category=property.property_category|lower pk=property.pk%}" method="post">
                                  {% csrf_token %}
                                  <button id="link-del" type="submit" name="button">
                                    <span class="material-icons" style="color:#ff0000">delete_forever</span>
                                  </button>
                                </form>
                            </div>
                          </td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              {% else %}
              <div class="mng-npr-empty">
                <div class="mng-npr-empty-ct">
                  <img src="{% static 'img/rent.svg'%}" alt="empty">
                  <div class="npr-desc">
                    <h5>Manage the properties you've listed in one place</h5>
                    <p>See all your listed properties in one place. Monitor their perfomance, the number of views they have, leads generated, and more!</p>
                    <a href="{% url 'listings:property_listing_form'%}" target="_blank"><button type="button" name="button"><span class="material-icons">add</span>Post new property</button></a>
                  </div>

                </div>
              </div>
              {% endif%}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function(){

    $('#mng_prop_collapsible_switch').on('click', function(){
        let trigger = $(this);
        let is_open = $("#target_pro_col_filt").attr('data-isOpen');
        let target = $('#target_pro_col_filt');
        if (is_open === 'false') {
            target.css('display','flex');
            target.attr('data-isOpen', 'true');
            trigger.addClass('active').html("Less Filters <i class='material-icons'>expand_less</i>");
        }else {
            target.css('display','none');
            target.attr('data-isOpen', 'false');
            trigger.removeClass('active');
            trigger.addClass('active').html("More Filters <i class='material-icons'>expand_more</i>");
        }

    });

  });

</script>

{% endblock %}
