{% extends 'base1.html'%}
{% load static %}
{% block title %}<title>Error 403 Permission Denied | Rehgien</title>{% endblock %}
{% block content %}
  <div class="container errorPage">
      <div class="row">
          <div class="errorMessageBox">
              <img src="{% static 'img/403 Error.svg' %}" alt="page not found">
              <h2>Permission denied.</h2>
              <h3>It seems you don't have the right permissions for this page/resource.</h3>
              <a href="{% url 'homepage' %}"><button type="button" name="button">Return to Rehgien</button></a>
          </div>
      </div>
  </div>
{% endblock %}

{% block footer%}{% include 'footer_section.html'%}{% endblock %}
