{% extends 'base1.html'%}
{% load static %}
{% block title %}<title>Error 500 Server error | Rehgien</title>{% endblock %}
{% block content %}
  <div class="container errorPage">
      <div class="row">
          <div class="errorMessageBox">
              <img src="{% static 'img/500 Error.svg' %}" alt="page not found">
              <h2>Oops! Something went wrong. <br> But, its not you its us.</h2>
              <h3>Our team is working very hard to fix this problem and restore normal service.</h3>
              <a href="{% url 'homepage' %}"><button type="button" name="button">Return to Rehgien</button></a>
          </div>
      </div>
  </div>
{% endblock %}

{% block footer%}{% include 'footer_section.html'%}{% endblock %}
