{%load static%}
{% load compress %}
{% load cloudinary %}
{% load i18n %}
{% load analytical %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% analytical_head_top %}
  <!-- <meta name="viewport" content="width=1024"/> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" type="image/png" href="{%static 'img/logo-fav.png'%}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="Find local professionals and service providers for virtually any task.">
  <meta name="keywords" content="Find professionals, Hire professionals, Find local service providers">
  {% block title %}{% endblock %}
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css' type='text/css' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
  {% compress css %}
  <!-- CSS  -->
  <link rel="stylesheet" type="text/css" href="{%static 'css/material-icons.css'%}">
  <link href="{%static 'css/materialize.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{%static 'css/css/all.min.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{%static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="{% static 'OwlCarousel/assets/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{% static 'OwlCarousel/assets/owl.theme.default.min.css'%}">
  <link rel="stylesheet" href="{% static 'tagsInputAutocomplete/jquery.tagsinput-revisited.min.css'%}">
  <link rel="stylesheet" href="{% static 'JqueryTimepicker/css/jquery.timepicker.css'%}">
  <link rel="stylesheet" href="{% static 'JqueryDateTimepicker/jquery.datetimepicker.css'%}">
  <link rel="stylesheet" href="{% static 'calendar/css/theme2.css'%}">
  <link rel="stylesheet" href="{% static 'dropzone/dropzone.min.css'%}">
  <link rel="stylesheet" href="{% static 'dropzone/dropzone.css'%}">
  <link rel="stylesheet" href="{% static 'intl-tel-input-master/build/css/intlTelInput.css'%}">
  <link rel="stylesheet" href="{% static 'PhotoCropper/cropper.min.css'%}">
  <link rel="stylesheet" href="{% static 'introJs/introjs.css'%}">
  {% endcompress %}
    <!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" /> -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet "  media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Libre+Baskerville&display=swap" rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link href="https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap" rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap" rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,600&display=swap" rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
  <script async charset="utf-8" src="//cdn.embedly.com/widgets/platform.js"></script>
  <!-- no-JS fallback -->
  <noscript>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  </noscript>
  {% analytical_head_bottom %}

  <!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1213617242508005');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1213617242508005&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->

</head>
<body>
{% analytical_body_top %}
<header>
  <div class="navbar-fixed">
    <nav role="navigation">
    <div class="nav-wrapper">
      <div class="nav-wrapper-inner">
            <a id="logo-wrapper" href="{% url 'homepage'%}" class="brand-logo left" style="height:60px;">
              <div class="base_lgo">
                <img src="{% static 'img/RehgienLogoBlack.png'%}" alt="rehgien logo">
              </div>
            </a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><button type="button" name="button"><i class="material-icons">menu</i></button></a>
        </div>
    </div>
  </nav>

  <ul id="mobile-nav" class="sidenav">
    <ul class="Mnav-logoUl">
      <li>
            <div class="sidenavBtnClose">
                <button type="button" name="button" class="sidenav-close">
                  <span class="material-icons">clear</span>
                </button>
            </div>
            <div class="brand-logo center Mnav-logoWrapper">
              <a href="{% url 'homepage'%}">
                <img src="{% static 'img/RehgienLogoBlack.png'%}" alt="rehgien logo">
              </a>
            </div>
      </li>
    </ul>

    <ul class="Mnav-UlItems collapsible expandable">
      <li><a href="{%url 'homepage'%}"><p><i class="iconify" data-icon="akar-icons:home"></i>Home</p></a></li>
      <li><a href="{% url 'about_us'%}"><p><i class="iconify" data-icon="uil:cloud-info"></i>About us</p></a></li>
      <li><a href="http://blog.rehgien.com/"><p><i class="iconify" data-icon="fluent:news-28-regular"></i>Blog</p></a></li>
      <li><a href="{% url 'contact_us' %}"><p><i class="iconify" data-icon="ic:baseline-alternate-email"></i>Contact Us</p></a></li>
      <li class="active">
        <div class="collapsible-header  Mnav-collapsible-header"><p><i class="iconify" data-icon="carbon:group-account"></i>Are you a pro?</p><span class="material-icons">expand_more</span></div>
        <div class="collapsible-body Mnav-collapsible-body">
          <ul class="collapsible">
              <li style="border-bottom:none"><a href="{% url 'rehgien_pro:pro_join_landing' %}"><p>Join as a pro</p></a></li>
          </ul>
        </div>
      </li>
    </ul>

  </ul>
  </div>
</header>

<script type="text/javascript">
  window.onload = function() {
    document.querySelector(".preloader").style.display = "none";
  };
</script>
<div class="preloader valign-wrapper">
  <div class="preloader-content">
    <div class="preloader-img">
    </div>
    <div id="preloader-c" class="preloader-wrapper small active">
     <div class="spinner-layer spinner-red-only">
       <div class="circle-clipper left">
         <div class="circle"></div>
       </div><div class="gap-patch">
         <div class="circle"></div>
       </div><div class="circle-clipper right">
         <div class="circle"></div>
       </div>
     </div>
   </div>
  </div>
</div>

<main>
  {% if messages%}
      <ul class="messages" id="message_box">
          {% for message in messages%}
           <li {% if message.tag %} class="{{ message.tags }}" {% endif %}>
             {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
               <span class="material-icons" style="color:#0aef13;">check_circle_outline</span>
             {% else %}
               <span class="material-icons" style="color:red;">highlight_off</span>
             {% endif %}
             {{ message }}
           </li>
          {% endfor %}
      </ul>
  {%endif%}
  {%block content%}
  {%endblock%}
</main>

{% block footer %}

{% endblock footer%}

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6059fe29067c2605c0bb6c0b/1f1fohlne';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

{% compress js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
          var message_ele = document.getElementById("message_box");
          if (message_ele != null) {
            setTimeout(function(){
               message_ele.style.display = "none";
            }, 6000);
          }

      });
    </script>
    <script src="{% static 'JqueryUI/jquery-ui.min.js'%}"></script>
      <script src="{% static 'OwlCarousel/owl.carousel.min.js'%}"></script>
      <script src="{% static 'JqueryTimepicker/js/jquery.timepicker.js'%}"></script>
      <script src="{% static 'JqueryDateTimepicker/jquery.datetimepicker.full.js'%}"></script>
      <script src="{% static 'dropzone/dropzone.min.js' %}"></script>
      <script src="{% static 'PhotoCropper/cropper.min.js'%}"></script>
      <script src="{% static 'PhotoCropper/jquery-cropper.min.js'%}"></script>
      <!-- <script src="{% static 'starlight/starlight.js'%}"></script> -->
      <script src="{% static 'calendar/js/caleandar.js' %}"></script>
      <script src="{% static 'js/materialize.js' %}"></script>
      <script src="{% static 'js/init.js' %}"></script>
      <script src="{% static 'js/gall.js' %}"></script>
      <script src="{% static 'js/mat.js' %}"></script>
      <script src="{% static 'js/bubbles.js' %}"></script>
      <script src="{% static 'intl-tel-input-master/build/js/intlTelInput-jquery.min.js'%}"></script>
      <!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script> -->
      <!-- <script src="{% static 'js/jquery.autocomplete.js' %}"></script> -->
      <script src="{% static 'js/our_search_code.js' %}"></script>
      <script src="{% static 'progressBar/progressbar.js'%}"></script>
      <script src="{% static 'progressBar/progressbar.min.js'%}"></script>
      <script src="{% static 'tagsInputAutocomplete/jquery.tagsinput-revisited.min.js'%}"></script>
      <script src="{% static 'dynamic_formsets_src/jquery.formset.js'%}"></script>
      <script src="{% static 'introJs/intro.js'%}"></script>
  {% endcompress %}
      <!-- <script src="https://media.twiliocdn.com/sdk/js/chat/v3.3/twilio-chat.min.js"></script> -->
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script type="text/javascript">
              AOS.init()
      </script>
  {% analytical_body_bottom %}
  </body>
</html>
