{%load static%}
{% load compress %}
{% load cloudinary %}
{% load i18n %}
{% load analytical %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% analytical_head_top %}
  <!-- <meta name="viewport" content="width=1024"/> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" type="image/png" href="{%static 'img/logo-fav.png'%}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="Find local professionals and service providers for virtually any task.">
  <meta name="keywords" content="Find professionals, Hire professionals, Find local service providers">
  {% block title %}{% endblock %}
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css' type='text/css' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
  {% compress css %}
  <!-- CSS  -->
  <link rel="stylesheet" type="text/css" href="{%static 'css/material-icons.css'%}">
  <link href="{%static 'css/materialize.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{%static 'css/css/all.min.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{%static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="{% static 'OwlCarousel/assets/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{% static 'OwlCarousel/assets/owl.theme.default.min.css'%}">
  <link rel="stylesheet" href="{% static 'tagsInputAutocomplete/jquery.tagsinput-revisited.min.css'%}">
  <link rel="stylesheet" href="{% static 'JqueryTimepicker/css/jquery.timepicker.css'%}">
  <link rel="stylesheet" href="{% static 'JqueryDateTimepicker/jquery.datetimepicker.css'%}">
  <link rel="stylesheet" href="{% static 'calendar/css/theme2.css'%}">
  <link rel="stylesheet" href="{% static 'dropzone/dropzone.min.css'%}">
  <link rel="stylesheet" href="{% static 'dropzone/dropzone.css'%}">
  <link rel="stylesheet" href="{% static 'intl-tel-input-master/build/css/intlTelInput.css'%}">
  <link rel="stylesheet" href="{% static 'PhotoCropper/cropper.min.css'%}">
  <link rel="stylesheet" href="{% static 'introJs/introjs.css'%}">
  {% endcompress %}
    <!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" /> -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet "  media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Libre+Baskerville&display=swap" rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link href="https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap" rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap" rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,600&display=swap" rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script async charset="utf-8" src="//cdn.embedly.com/widgets/platform.js"></script>
  <!-- no-JS fallback -->
  <noscript>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  </noscript>
  {% analytical_head_bottom %}
</head>
<body>
{% analytical_body_top %}
<header>
  <div class="navbar-fixed">
    <nav class="teal" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-wrapper" href="{% url 'homepage'%}" class="brand-logo left" style="height:60px;">
        <div class="base_lgo">
          <img src="{% static 'img/RehgienLogoBlack.png'%}" alt="rehgien logo">
        </div>
      </a>
      <!-- <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-base1"class="left hide-on-med-and-down">
        <li><a href="#" id='ag-trigger' class="dropdown-trigger" data-target='ag-dropdown'>Find professionals</a></li>
        <li><a href="#" class="dropdown-trigger" data-target='marketplace-dropdown'>Shop by category</a></li>
        <li><a href="{% url 'markets:job_post_home'%}" >Post a Job</a></li>
      </ul>
      <div id="marketplace-dropdown" class="dropdown-content hide-on-med-and-down _XnavDrop_dwn">
        <div class="container">
          <div class="row_box">
            <h6><b>Shop categories</b><div></div> <span><a href="{% url 'listings:shop_category' %}">View all categories</a></span></h6>
            <div class="row">
              <div class="col s12 md6 l6 xl6 _nav_drd_lItems_sxui_col">
                <div class="_nav_drd_lItems_wrpx col s12">
                  <div class="_nav_drd_lItems_sxui col s12">
                      <span class="col s12">Real estate</span>
                        <ul class="col s12">
                          <li><a href="{% url 'listings:property_homepage' %}">Sale & rental homes</a></li>
                          <li><a href="#" class="link_disabled">Architectural Designs</a></li>
                        </ul>
                      <span class="col s12">Furniture</span>
                        <ul class="col s12">
                          <li><a href="#" class="link_disabled">Bedroom</a></li>
                          <li><a href="#" class="link_disabled">Kitchen</a></li>
                          <li><a href="#" class="link_disabled">Living room</a></li>
                        </ul>
                  </div>
                </div>
              </div>
              <div class="col s12 md6 l6 xl6 _nav_drd_lItems_sxui_col">
                <div class="_nav_drd_lItems_wrpx col s12">
                  <div class="_nav_drd_lItems_sxui col s12">
                      <span class="col s12">Home improvement</span>
                        <ul class="col s12">
                          <li><a href="#" class="link_disabled">Tile </a></li>
                          <li><a href="#" class="link_disabled">Building materials </a></li>
                        </ul>
                        <span class="col s12">Home Decor</span>
                          <ul class="col s12">
                            <li><a href="#" class="link_disabled">Artwork</a></li>
                            <li><a href="#" class="link_disabled">Wall decor</a></li>
                          </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="ag-dropdown" class="dropdown-content hide-on-med-and-down _XnavDrop_dwn">

          <div class="container">
            <div class="row_box">
              <h6><b>Professional categories</b> <div></div> <span><a href="{% url 'profiles:business_homepage' %}#allPros">View all categories</a></span></h6>
              <div class="row">
                <div class="col s12 md3 l3 xl3 nav_pro_list_col _nav_drd_lItems_sxui_col ">
                    <div class="_nav_drd_lItems_wrpx col s12">
                        <div class="_nav_pro_list _nav_drd_lItems_sxui col s12">
                            <span class="col s12">Real Estate Services</span>
                              <ul class="col s12">
                                  <li><a href="{% url 'profiles:business_list'%}?p_cat=valuers">valuers</a></li>
                                  <li><a href="{% url 'profiles:business_list'%}?p_cat=real-estate-agents">realestate agents</a></li>
                                  <li><a href="{% url 'profiles:business_list'%}?p_cat=property-managers">property managers</a></li>
                                  <li><a href="{% url 'profiles:business_list'%}?p_cat=facility-managers">facility managers</a></li>
                                  <li><a href="{% url 'profiles:business_list'%}?p_cat=building-inspectors">building-inspectors</a></li>
                              </ul>
                              <span class="col s12">Surveying and construction</span>
                              <ul class="col s12">
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=land-surveyors">land surveyors</a></li>
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=quantity-surveyors">quantity surveyors</a></li>
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=construction-managers">construction managers</a></li>
                              </ul>
                        </div>
                    </div>
                </div>
                <div class="col s12 md3 l3 xl3 nav_pro_list_col _nav_drd_lItems_sxui_col">
                    <div class="_nav_drd_lItems_wrpx col s12">
                        <div class="_nav_pro_list _nav_drd_lItems_sxui col s12">
                            <span class="col s12">Architecture and building design</span>
                              <ul class="col s12">
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=architects">architects</a></li>
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=landscape-architects">landscape architects</a></li>
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=landscape-designers">landscape designers</a></li>
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=general-contrators">general contrators</a></li>
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=interior-designers-and-decorators">interior designers and decorators</a></li>
                              </ul>
                            <span class="col s12">General services</span>
                            <ul class="col s12">
                              <li><a href="{% url 'profiles:business_list'%}?p_cat=photographers">photographers</a></li>
                              <li><a href="{% url 'profiles:business_list'%}?p_cat=movers">movers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col s12 md3 l3 xl3 nav_pro_list_col _nav_drd_lItems_sxui_col">
                    <div class="_nav_drd_lItems_wrpx col s12">
                        <div class="_nav_pro_list _nav_drd_lItems_sxui col s12">
                            <span class="col s12">Renovation and remodeling</span>
                              <ul class="col s12">
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=carpenters">carpenters</a></li>
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=door-dealers">door dealers</a></li>
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=carpet-dealers">carpet dealers</a></li>
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=building-supplies-suppliers">building supplies dealers</a></li>
                              </ul>
                            <span class="col s12">Appliances and systems</span>
                            <ul class="col s12">
                              <li><a href="{% url 'profiles:business_list'%}?p_cat=plumbers">plumbers</a></li>
                              <li><a href="{% url 'profiles:business_list'%}?p_cat=home-automation-and-home-media">home automation and home media</a></li>
                              <li><a href="{% url 'profiles:business_list'%}?p_cat=electricians">electricians</a></li>
                              <li><a href="{% url 'profiles:business_list'%}?p_cat=solar-energy-systems">solar energy systems</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col s12 md3 l3 xl3 nav_pro_list_col _nav_drd_lItems_sxui_col">
                  <div class="_nav_drd_lItems_wrpx col s12">
                      <div class="_nav_pro_list _nav_drd_lItems_sxui col s12">
                        <span class="col s12">Cleaning services</span>
                        <ul class="col s12">
                          <li><a href="{% url 'profiles:business_list'%}?p_cat=house-cleaners">house cleaners</a></li>
                          <li><a href="{% url 'profiles:business_list'%}?p_cat=carpet-and-upholstery-cleaners">carpet and upholstery cleaners</a></li>
                          <li><a href="{% url 'profiles:business_list'%}?p_cat=window-cleaners">window cleaners</a></li>
                          <li><a href="{% url 'profiles:business_list'%}?p_cat=garbage-cleaners">garbage cleaners</a></li>
                          <li><a href="{% url 'profiles:business_list'%}?p_cat=pest-control">pest control</a></li>
                        </ul>
                        <span class="col s12" style='margin-top:25px;'>Are you a pro?</span>
                        <ul class="col s12 catRe_pros">
                          <li><a href="{% url 'rehgien_pro:pro_join_landing' %}">Join as a pro</a></li>
                          <li><a href="{% url 'partnership:partner_program_home' %}">Partner with us</a></li>
                        </ul>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div> -->

      <!-- <ul id="nav-base2" class="right">
        {% if request.user.user_type != 'PRO' %}
        <li class="hide-on-med-and-down"><a href="{% url 'rehgien_pro:pro_join_landing' %}"><button class="join_as_pro" type="button" name="button">Join as a pro</button></a></li>
        {% endif %}
        {% if request.user.is_authenticated and request.user.user_type == 'PRO' %}
        <li class="hide-on-med-and-down"><a href="{% url 'rehgien_pro:rehgien_pro_homepage'%}"><button class="gToRgnProBtnNav" type="button" name="button">Rehgien Pro</button></a></li>
        {% else %}
        <li class="hide-on-med-and-down"><a href="{% url 'rehgien_pro:rehgien_pro_homepage'%}">Rehgien Pro</a></li>
        {% endif %}
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'account_login' %}" class="modal-trigger"> Sign In</a></li>
        {% else %}
        <li>
          <div class="global_Nav_dropdown">
              <button type="button" name="button" class="dropdown-trigger" data-target='globalWishListDpdown'>
                <span class="material-icons">favorite</span>
              </button>
              <div id="globalWishListDpdown" class="dropdown-content globalDpdown_elem global_dpd_wishl_sc">
                  <div class="global_dpdwn_hd">
                    <h5>Your Wish List</h5>
                  </div>
                  <div class="globalDpdwn_body">
                    <a href="{% url 'profiles:user_saved_properties'%}">
                      <div class="globalDpdwn_wishlist_item">
                        <img src="{% static 'img/property_sky.jpg'%}" alt="properties">
                        <span>
                            <h5>Properties</h5>
                            <p>{{request.user.listings_home_saves_related.all.count}} Item{{ request.user.listings_home_saves_related.all.count|pluralize }}</p>
                        </span>
                      </div>
                    </a>

                    <a href="{% url 'profiles:saved_pros'%}">
                      <div class="globalDpdwn_wishlist_item">
                        <img src="{% static 'img/thumbnails/system_&_appliances.jpg'%}" alt="Professionals">
                        <span>
                            <h5>Professionals</h5>
                            <p>{{request.user.business_page_saves.all.count}} Item{{ request.user.business_page_saves.all.count|pluralize }}</p>
                        </span>
                      </div>
                    </a>
                  </div>
                  <div class="globalDpdwn_footer"><a href="{% url 'profiles:user_wishlist'%}">View All</a></div>
              </div>
          </div>
        </li>
        <li>
          <div class="global_Nav_dropdown">
              <button type="button" name="button" class="dropdown-trigger" data-target='globalNotfDpdown'>
                <span class="material-icons">notifications</span>
              </button>
              <div id="globalNotfDpdown" class="dropdown-content globalDpdown_elem global_dpd_botf_sc">
                  <div class="global_dpdwn_hd">
                    <h5>Notifications</h5>
                  </div>
                  <div class="globalDpdwn_body">
                    <div class="globalntfempty_">
                      <i class="material-icons">notifications_none</i>
                      <p>No Notifications Right Now</p>
                    </div>
                  </div>
                  <div class="globalDpdwn_footer"><a href="{% url 'profiles:notifications' %}">See All Notifications</a></div>
              </div>
          </div>
        </li>
        <li>
          <div class="global_Nav_dropdown">
              <button type="button" name="button" class="dropdown-trigger global-dash-usrAct" data-target='globalActDpdown'>
                <div class="global-usrActDt">
                  <img src="
                    {% if request.user.profile_image%}
                      {{ request.user.profile_image.url}}
                    {% else %}
                      {% static 'img/avatar.png'%}
                    {% endif %}
                  " alt="">
                  <div class="global_ac_u_mkfirst">
                      {{request.user.username|make_list|slice:'2'|join:'' }}
                    <i class="material-icons">expand_more</i>
                  </div>
                </div>
                <div id="globalActDpdown" class="dropdown-content globalDpdown_elem global_dpd_acct_sc">
                    <div class="global_dpd_acct_sc_prof">
                        <div class="_globalaeuwends-aks">
                          <img src="
                            {% if request.user.profile_image%}
                              {{ request.user.profile_image.url}}
                            {% else %}
                              {% static 'img/avatar.png'%}
                            {% endif %}
                          " alt="">
                        </div>
                        <div class="globalAsdalewl-lsdm_kask">
                          <h5>Your Profile</h5>
                          <h6>
                                {{request.user.username|truncatechars:'25' }}
                          </h6>
                        </div>
                    </div>
                    <ul>
                      {% if request.user.user_type == 'PRO'%}
                      <li><a href="{% url 'profiles:pro_business_page_edit' pk=request.user.pro_business_profile.pk %}">Go to business page</a></li>
                      <li><a href="{% url 'rehgien_pro:dashboard_home'%}">Dashboard</a></li>
                      {% endif %}
                      <li><a href="{% url 'profiles:account_settings'%}">Account Settings</a></li>
                      <li><a href="{% url 'homepage' %}">Go to Rehgien</a></li>
                      <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                    </ul>
                </div>
              </button>
            </div>
        </li>
       {% endif %}
      </ul> -->

    </div>
  </nav>

    <!-- <ul id="mobile-nav" class="sidenav">
      <ul class="Mnav-logoUl">
        <li>
              <div class="sidenavBtnClose">
                  <button type="button" name="button" class="sidenav-close">
                    <span class="material-icons">clear</span>
                  </button>
              </div>
              <div class="brand-logo center Mnav-logoWrapper">
                <a href="{% url 'listings:homepage'%}">
                  <img src="{% static 'img/RehgienLogoBlack.png'%}" alt="rehgien logo">
                </a>
              </div>
        </li>
      </ul>

      <ul class="Mnav-UlItems collapsible expandable">
        <li><a href="{%url 'homepage'%}"><p><i class="material-icons">home</i>Home</p></a></li>
        <li class="active">
          <div class="collapsible-header Mnav-collapsible-header"><p><i class="material-icons">engineering</i>Find professionals</p><span class="material-icons">expand_more</span></div>
          <div class="collapsible-body Mnav-collapsible-body">
            <ul class="collapsible">
              <span><a href="{% url 'profiles:business_homepage' %}#allPros">View all categories</a></span>
              <li>
                <div class="collapsible-header sub_collapsHeader"><p>Real Estate Services</p><span class="material-icons">expand_more</span></div>
                <div class="collapsible-body sub_collapsBody">
                  <div class="Mnav-re_pros">
                    <a href="{% url 'profiles:business_list'%}?p_cat=valuers"><p>valuers</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=real-estate-agents"><p>realestate agents</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=property-managers"><p>property managers</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=facility-managers"><p>facility managers</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=building-inspectors"><p>building-inspectors</p></a>
                  </div>
                </div>
              </li>

              <li>
                <div class="collapsible-header sub_collapsHeader"><p>Surveying and construction</p><span class="material-icons">expand_more</span></div>
                <div class="collapsible-body sub_collapsBody">
                  <div class="Mnav-re_pros">
                    <a href="{% url 'profiles:business_list'%}?p_cat=land-surveyors"><p>land surveyors</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=quantity-surveyors"><p>quantity surveyors</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=construction-managers"><p>construction managers</p></a>
                  </div>
                </div>
              </li>

              <li>
                <div class="collapsible-header sub_collapsHeader"><p>Architecture and building design</p><span class="material-icons">expand_more</span></div>
                <div class="collapsible-body sub_collapsBody">
                  <div class="Mnav-re_pros">
                    <a href="{% url 'profiles:business_list'%}?p_cat=architects"><p>architects</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=landscape-architects"><p>landscape architects</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=landscape-designers"><p>landscape designers</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=general-contrators"><p>general contrators</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=interior-designers-and-decorators"><p>interior designers and decorators</p></a>
                  </div>
                </div>
              </li>

              <li>
                <div class="collapsible-header sub_collapsHeader"><p>General services</p><span class="material-icons">expand_more</span></div>
                <div class="collapsible-body sub_collapsBody">
                  <div class="Mnav-re_pros">
                    <a href="{% url 'profiles:business_list'%}?p_cat=photographers"><p>photographers</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=movers"><p>movers</p></a>
                  </div>
                </div>
              </li>

              <li>
                <div class="collapsible-header sub_collapsHeader"><p>Renovation and remodeling</p><span class="material-icons">expand_more</span></div>
                <div class="collapsible-body sub_collapsBody">
                  <div class="Mnav-re_pros">
                    <a href="{% url 'profiles:business_list'%}?p_cat=carpenters"><p>carpenters</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=door-dealers"><p>door dealers</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=carpet-dealers"><p>carpet dealers</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=building-supplies-suppliers"><p>building supplies dealers</p></a>
                  </div>
                </div>
              </li>

              <li>
                <div class="collapsible-header sub_collapsHeader"><p>Appliances and systems</p><span class="material-icons">expand_more</span></div>
                <div class="collapsible-body sub_collapsBody">
                  <div class="Mnav-re_pros">
                    <a href="{% url 'profiles:business_list'%}?p_cat=plumbers"><p>plumbers</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=home-automation-and-home-media"><p>home automation and home media</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=electricians"><p>electricians</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=solar-energy-systems"><p>solar energy systems</p></a>
                  </div>
                </div>
              </li>

              <li>
                <div class="collapsible-header sub_collapsHeader"><p>Cleaning services</p><span class="material-icons">expand_more</span></div>
                <div class="collapsible-body sub_collapsBody">
                  <div class="Mnav-re_pros">
                    <a href="{% url 'profiles:business_list'%}?p_cat=house-cleaners"><p>house cleaners</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=carpet-and-upholstery-cleaners"><p>carpet and upholstery cleaners</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=window-cleaners"><p>window cleaners</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=garbage-cleaners"><p>garbage cleaners</p></a>
                    <a href="{% url 'profiles:business_list'%}?p_cat=pest-control"><p>pest control</p></a>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </li>
        <li class="active">
          <div class="collapsible-header Mnav-collapsible-header"><p><i class="material-icons">storefront</i>Shop by category</p><span class="material-icons">expand_more</span></div>
          <div class="collapsible-body Mnav-collapsible-body">
            <ul class="collapsible">
              <span><a href="{% url 'listings:shop_category' %}">View all categories</a></span>
              <li>
                  <div class="collapsible-header sub_collapsHeader"><p>Real estate</p><span class="material-icons">expand_more</span></div>
                  <div class="collapsible-body sub_collapsBody">
                    <div class="Mnav-re_pros">
                      <a href="{% url 'listings:property_homepage' %}"><p>Sale & rental homes</p></a>
                      <a href="#" class="link_disabled"><p>Architectural Designs</p></a>
                    </div>
                  </div>
              </li>

              <li>
                  <div class="collapsible-header sub_collapsHeader"><p>Furniture</p><span class="material-icons">expand_more</span></div>
                  <div class="collapsible-body sub_collapsBody">
                    <div class="Mnav-re_pros">
                      <a href="#" class="link_disabled"><p>Bedroom</p></a>
                      <a href="#" class="link_disabled"><p>Kitchen</p></a>
                      <a href="#" class="link_disabled"><p>Living room</p></a>
                    </div>
                  </div>
              </li>

              <li>
                  <div class="collapsible-header sub_collapsHeader"><p>Home Decor</p><span class="material-icons">expand_more</span></div>
                  <div class="collapsible-body sub_collapsBody">
                    <div class="Mnav-re_pros">
                      <a href="#" class="link_disabled"><p>Artwork</p></a>
                      <a href="#" class="link_disabled"><p>Wall decor</p></a>
                    </div>
                  </div>
              </li>
            </ul>
          </div>
        </li>
        <li><a href="{% url 'markets:job_post_home'%}"><p><i class="material-icons">post_add</i>Post a Job</p></a></li>
        <li><a href="{% url 'rehgien_pro:rehgien_pro_homepage'%}"><p><i class="material-icons">business_center</i>Rehgien Pro</p></a></li>
        <li class="active">
          <div class="collapsible-header  Mnav-collapsible-header"><p><i class="material-icons">upgrade</i>Are you a pro?</p><span class="material-icons">expand_more</span></div>
          <div class="collapsible-body Mnav-collapsible-body">
            <ul class="collapsible">
                <li style="border-bottom:none"><a href="{% url 'rehgien_pro:pro_join_landing' %}"><p>Join as a pro</p></a></li>
                <li style="border-bottom:none"><a href="{% url 'partnership:partner_program_home' %}"><p>Partner with us</p></a></li>
            </ul>
          </div>
        </li>
      </ul>

    </ul> -->
  </div>
</header>
<script type="text/javascript">
  window.onload = function() {
    document.querySelector(".preloader").style.display = "none";
  };
</script>
<div class="preloader valign-wrapper">
  <div class="preloader-content">
    <div class="preloader-img">
    </div>
    <div id="preloader-c" class="preloader-wrapper small active">
     <div class="spinner-layer spinner-red-only">
       <div class="circle-clipper left">
         <div class="circle"></div>
       </div><div class="gap-patch">
         <div class="circle"></div>
       </div><div class="circle-clipper right">
         <div class="circle"></div>
       </div>
     </div>
   </div>
  </div>
</div>

<main>
  {% if messages%}
      <ul class="messages" id="message_box">
          {% for message in messages%}
           <li {% if message.tag %} class="{{ message.tags }}" {% endif %}>
             {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
               <span class="material-icons" style="color:#0aef13;">check_circle_outline</span>
             {% else %}
               <span class="material-icons" style="color:red;">highlight_off</span>
             {% endif %}
             {{ message }}
           </li>
          {% endfor %}
      </ul>
  {%endif%}
  {%block content%}
  {%endblock%}
</main>

{% block footer %}

{% endblock footer%}

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6059fe29067c2605c0bb6c0b/1f1fohlne';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

{% compress js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
          var message_ele = document.getElementById("message_box");
          if (message_ele != null) {
            setTimeout(function(){
               message_ele.style.display = "none";
            }, 6000);
          }

      });
    </script>
    <script src="{% static 'JqueryUI/jquery-ui.min.js'%}"></script>
      <script src="{% static 'OwlCarousel/owl.carousel.min.js'%}"></script>
      <script src="{% static 'JqueryTimepicker/js/jquery.timepicker.js'%}"></script>
      <script src="{% static 'JqueryDateTimepicker/jquery.datetimepicker.full.js'%}"></script>
      <script src="{% static 'dropzone/dropzone.min.js' %}"></script>
      <script src="{% static 'PhotoCropper/cropper.min.js'%}"></script>
      <script src="{% static 'PhotoCropper/jquery-cropper.min.js'%}"></script>
      <!-- <script src="{% static 'starlight/starlight.js'%}"></script> -->
      <script src="{% static 'calendar/js/caleandar.js' %}"></script>
      <script src="{% static 'js/materialize.js' %}"></script>
      <script src="{% static 'js/init.js' %}"></script>
      <script src="{% static 'js/gall.js' %}"></script>
      <script src="{% static 'js/mat.js' %}"></script>
      <script src="{% static 'js/bubbles.js' %}"></script>
      <script src="{% static 'intl-tel-input-master/build/js/intlTelInput-jquery.min.js'%}"></script>
      <!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script> -->
      <!-- <script src="{% static 'js/jquery.autocomplete.js' %}"></script> -->
      <script src="{% static 'js/our_search_code.js' %}"></script>
      <script src="{% static 'progressBar/progressbar.js'%}"></script>
      <script src="{% static 'progressBar/progressbar.min.js'%}"></script>
      <script src="{% static 'tagsInputAutocomplete/jquery.tagsinput-revisited.min.js'%}"></script>
      <script src="{% static 'dynamic_formsets_src/jquery.formset.js'%}"></script>
      <script src="{% static 'introJs/intro.js'%}"></script>
  {% endcompress %}
      <!-- <script src="https://media.twiliocdn.com/sdk/js/chat/v3.3/twilio-chat.min.js"></script> -->
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script type="text/javascript">
              AOS.init()
      </script>
  {% analytical_body_bottom %}
  </body>
</html>
