{%load static%}
{% load cloudinary %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <meta name="viewport" content="width=1024"/> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css' type='text/css' />
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
  <link rel="shortcut icon" type="image/png" href="{%static 'img/logo-fav.png'%}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Rehgien|Find property experts & service providers</title>

  <!-- CSS  -->
  <link rel="stylesheet" type="text/css" href="{%static 'css/material-icons.css'%}">
  <link href="{%static 'css/materialize.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{%static '/css/css/all.min.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{%static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="{% static 'OwlCarousel/assets/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{% static 'OwlCarousel/assets/owl.theme.default.min.css'%}">
  <link rel="stylesheet" href="{% static 'tagsInputAutocomplete/jquery.tagsinput-revisited.min.css'%}">
  <link rel="stylesheet" href="{% static 'JqueryTimepicker/css/jquery.timepicker.css'%}">
  <link rel="stylesheet" href="{% static 'JqueryDateTimepicker/jquery.datetimepicker.css'%}">
  <link rel="stylesheet" href="{% static 'calendar/css/theme2.css'%}">
  <link rel="stylesheet" href="{% static 'dropzone/dropzone.min.css'%}">
  <link rel="stylesheet" href="{% static 'dropzone/dropzone.css'%}">
  <script src="{%static 'js/js/all.min.js'%}"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Libre+Baskerville&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script async charset="utf-8" src="//cdn.embedly.com/widgets/platform.js"></script>
</head>
<body>
<header>
  <div class="navbar-fixed">
    <nav class="teal" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-wrapper" href="{% url 'homepage'%}" class="brand-logo left" style="height:60px;">
        <div class="base_lgo">
          <img src="{% static 'img/RehgienLogoBlack.svg'%}" alt="rehgien logo">
        </div>
      </a>
      <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-base1"class="left hide-on-med-and-down">
        <li><a href="#" id='ag-trigger' class="dropdown-trigger" data-target='ag-dropdown'>Find professionals</a></li>
        <li><a href="#" class="dropdown-trigger" data-target='marketplace-dropdown'>Shop by category</a></li>
        <li><a href="{% url 'markets:job_post_home'%}" >Post a Job</a></li>
      </ul>
      <div id="marketplace-dropdown" class="dropdown-content hide-on-med-and-down _XnavDrop_dwn">
        <div class="container">
          <div class="row_box">
            <h6><b>Shop categories</b><div></div> <span><a href="{% url 'listings:shop_category' %}">View all categories</a></span></h6>
            <div class="row">
              <div class="col s12 md6 l6 xl6 _nav_drd_lItems_sxui_col">
                <div class="_nav_drd_lItems_wrpx col s12">
                  <div class="_nav_drd_lItems_sxui col s12">
                      <span class="col s12">Real estate</span>
                        <ul class="col s12">
                          <li><a href="{% url 'listings:property_homepage' %}">Sale & rental homes</a></li>
                          <li><a href="#" class="link_disabled">Architectural Designs</a></li>
                        </ul>
                      <span class="col s12">Furniture</span>
                        <ul class="col s12">
                          <li><a href="#" class="link_disabled">Bedroom</a></li>
                          <li><a href="#" class="link_disabled">Kitchen</a></li>
                          <li><a href="#" class="link_disabled">Living room</a></li>
                        </ul>
                  </div>
                </div>
              </div>
              <div class="col s12 md6 l6 xl6 _nav_drd_lItems_sxui_col">
                <div class="_nav_drd_lItems_wrpx col s12">
                  <div class="_nav_drd_lItems_sxui col s12">
                      <span class="col s12">Home improvement</span>
                        <ul class="col s12">
                          <li><a href="#" class="link_disabled">Tile </a></li>
                          <li><a href="#" class="link_disabled">Building materials </a></li>
                        </ul>
                        <span class="col s12">Home Decor</span>
                          <ul class="col s12">
                            <li><a href="#" class="link_disabled">Artwork</a></li>
                            <li><a href="#" class="link_disabled">Wall decor</a></li>
                          </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="ag-dropdown" class="dropdown-content hide-on-med-and-down _XnavDrop_dwn">

          <div class="container">
            <div class="row_box">
              <h6><b>Professional categories</b> <div></div> <span><a href="{% url 'profiles:business_homepage' %}">View all categories</a></span></h6>
              <div class="row">
                <div class="col s12 md3 l3 xl3 nav_pro_list_col _nav_drd_lItems_sxui_col ">
                    <div class="_nav_drd_lItems_wrpx col s12">
                        <div class="_nav_pro_list _nav_drd_lItems_sxui col s12">
                            <span class="col s12">Real Estate Services</span>
                              <ul class="col s12">
                                  <li><a href="{% url 'profiles:business_list'%}?p_cat=valuers">valuers</a></li>
                                  <li><a href="{% url 'profiles:business_list'%}?p_cat=real-estate-agents">realestate agents</a></li>
                                  <li><a href="{% url 'profiles:business_list'%}?p_cat=property-managers">property managers</a></li>
                                  <li><a href="{% url 'profiles:business_list'%}?p_cat=facility-managers">facility managers</a></li>
                                  <li><a href="{% url 'profiles:business_list'%}?p_cat=building-inspectors">building-inspectors</a></li>
                              </ul>
                              <span class="col s12">Surveying and construction</span>
                              <ul class="col s12">
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=land-surveyors">land surveyors</a></li>
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=quantity-surveyors">quantity surveyors</a></li>
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=construction-managers">construction managers</a></li>
                              </ul>
                        </div>
                    </div>
                </div>
                <div class="col s12 md3 l3 xl3 nav_pro_list_col _nav_drd_lItems_sxui_col">
                    <div class="_nav_drd_lItems_wrpx col s12">
                        <div class="_nav_pro_list _nav_drd_lItems_sxui col s12">
                            <span class="col s12">Architecture and building design</span>
                              <ul class="col s12">
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=architects">architects</a></li>
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=landscape-architects">landscape architects</a></li>
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=landscape-designers">landscape designers</a></li>
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=general-contrators">general contrators</a></li>
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=interior-designers-and-decorators">interior designers and decorators</a></li>
                              </ul>
                            <span class="col s12">General services</span>
                            <ul class="col s12">
                              <li><a href="{% url 'profiles:business_list'%}?p_cat=photographers">photographers</a></li>
                              <li><a href="{% url 'profiles:business_list'%}?p_cat=movers">movers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col s12 md3 l3 xl3 nav_pro_list_col _nav_drd_lItems_sxui_col">
                    <div class="_nav_drd_lItems_wrpx col s12">
                        <div class="_nav_pro_list _nav_drd_lItems_sxui col s12">
                            <span class="col s12">Renovation and remodeling</span>
                              <ul class="col s12">
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=carpenters">carpenters</a></li>
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=door-dealers">door dealers</a></li>
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=carpet-dealers">carpet dealers</a></li>
                                <li><a href="{% url 'profiles:business_list'%}?p_cat=building-supplies-suppliers">building supplies dealers</a></li>
                              </ul>
                            <span class="col s12">Appliances and systems</span>
                            <ul class="col s12">
                              <li><a href="{% url 'profiles:business_list'%}?p_cat=plumbers">plumbers</a></li>
                              <li><a href="{% url 'profiles:business_list'%}?p_cat=home-automation-and-home-media">home automation and home media</a></li>
                              <li><a href="{% url 'profiles:business_list'%}?p_cat=electricians">electricians</a></li>
                              <li><a href="{% url 'profiles:business_list'%}?p_cat=solar-energy-systems">solar energy systems</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col s12 md3 l3 xl3 nav_pro_list_col _nav_drd_lItems_sxui_col">
                  <div class="_nav_drd_lItems_wrpx col s12">
                      <div class="_nav_pro_list _nav_drd_lItems_sxui col s12">
                        <span class="col s12">Cleaning services</span>
                        <ul class="col s12">
                          <li><a href="{% url 'profiles:business_list'%}?p_cat=house-cleaners">house cleaners</a></li>
                          <li><a href="{% url 'profiles:business_list'%}?p_cat=carpet-and-upholstery-cleaners">carpet and upholstery cleaners</a></li>
                          <li><a href="{% url 'profiles:business_list'%}?p_cat=window-cleaners">window cleaners</a></li>
                          <li><a href="{% url 'profiles:business_list'%}?p_cat=garbage-cleaners">garbage cleaners</a></li>
                          <li><a href="{% url 'profiles:business_list'%}?p_cat=pest-control">pest control</a></li>
                        </ul>
                        <span class="col s12" style='margin-top:25px;'>Are you a pro?</span>
                        <ul class="col s12 catRe_pros">
                          <li><a href="#">Join as a pro</a></li>
                          <li><a href="#">Join insider programme</a></li>
                          <li><a href="#">Partner with us</a></li>
                        </ul>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <ul id="nav-base2" class="right hide-on-med-and-down">
        <li><a href="{% url 'rehgien_pro:rehgien_pro_homepage'%}">Rehgien Pro</a></li>
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'account_login' %}" class="modal-trigger"> LogIn</a></li>
        <li>or</li>
        <li><a href="{% url 'account_signup' %}" class="modal-trigger">SignUp</a></li>
        {% else %}
        <li><a id='ac-trigger'>
          <span class="material-icons">account_circle</span>
         </a>
      </li>

      </ul>
      {% endif %}
    </div>
  </nav>
    <div id="ac-dropdown" class="hide-on-med-and-down">
      <button id="acDropdownClose" type="button" style="background-image:url({%static 'img/close.svg' %});"></button>
      <div class="ac-drd-img valign-wrapper">
      <div class="ac-drd-img-wrapper">
        {% if request.user.profile_image%}
        <img src="{{request.user.profile_image.url}}" alt="profile.img" style="width:40px">
        {% else %}
        <img src="{% static 'img/avatar.png'%}" alt="avatar.png"style="width:40px">
        {% endif %}
      </div>
        <div class="ac-drd-li-wrapper">
          <li>Hello {{request.user.first_name}}</li>
        </div>
      </div>
      <div class="ac-drd-linkItems">
        <li><a href="{% url 'profiles:account'%}">Account</a></li>
        <li><a href="{% url 'account_logout' %}">Logout</a></li>
      </div>
    </div>

  <ul id="mobile-nav" class="sidenav">
    <ul class="Mnav-logoUl">
      <li><a href="{% url 'listings:homepage'%}" class="brand-logo center Mnav-logoWrapper">
        <div class="mnv_Lg">
          <img src="{% static 'img/RehgienLogoBlack.svg'%}" alt="rehgien logo">
        </div>
      </a>
      </li>
    </ul>
    <ul class="Mnav-UlItems collapsible">
      <li><a href="{%url 'homepage'%}">Home</a></li>
      <li>
        <div class="collapsible-header Mnav-collapsible-header"><h6>Find professionals</h6><i class="fas fa-chevron-right"></i></div>
        <div class="collapsible-body Mnav-collapsible-body">
          <ul>
            <span><a href="{% url 'profiles:business_homepage' %}">View all categories</a></span>
            <div class="Mnav-re_pros">
              <h6>Real Estate Services</h6>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=valuers">valuers</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=real-estate-agents">realestate agents</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=property-managers">property managers</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=facility-managers">facility managers</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=building-inspectors">building-inspectors</a></li>
              <h6>Surveying and construction</h6>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=land-surveyors">land surveyors</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=quantity-surveyors">quantity surveyors</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=construction-managers">construction managers</a></li>
              <h6>Architecture and building design</h6>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=architects">architects</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=landscape-architects">landscape architects</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=landscape-designers">landscape designers</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=general-contrators">general contrators</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=interior-designers-and-decorators">interior designers and decorators</a></li>
              <h6>General services</h6>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=photographers">photographers</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=movers">movers</a></li>
              <h6>Renovation and remodeling</h6>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=carpenters">carpenters</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=door-dealers">door dealers</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=carpet-dealers">carpet dealers</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=building-supplies-suppliers">building supplies dealers</a></li>
              <h6>Appliances and systems</h6>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=plumbers">plumbers</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=home-automation-and-home-media">home automation and home media</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=electricians">electricians</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=solar-energy-systems">solar energy systems</a></li>
              <h6>Cleaning services</h6>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=house-cleaners">house cleaners</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=carpet-and-upholstery-cleaners">carpet and upholstery cleaners</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=window-cleaners">window cleaners</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=garbage-cleaners">garbage cleaners</a></li>
              <li><a href="{% url 'profiles:business_list'%}?p_cat=pest-control">pest control</a></li>
              <h6>Are you a pro?</h6>
              <li><a href="#">Join as a pro</a></li>
              <li><a href="#">Join insider programme</a></li>
              <li><a href="#">Partner with us</a></li>
            </div>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header Mnav-collapsible-header"><h6>Shop by category</h6><i class="fas fa-chevron-right"></i></div>
        <div class="collapsible-body Mnav-collapsible-body">
          <ul>
            <span><a href="{% url 'listings:shop_category' %}">View all categories</a></span>
            <div class="Mnav-re_pros">
              <h6>Real estate</h6>
              <li><a href="{% url 'listings:property_homepage' %}">Sale & rental homes</a></li>
              <li><a href="#" class="link_disabled">Architectural Designs</a></li>
              <h6>Furniture</h6>
              <li><a href="#" class="link_disabled">Bedroom</a></li>
              <li><a href="#" class="link_disabled">Kitchen</a></li>
              <li><a href="#" class="link_disabled">Living room</a></li>
              <h6>Home Decor</h6>
              <li><a href="#" class="link_disabled">Artwork</a></li>
              <li><a href="#" class="link_disabled">Wall decor</a></li>
            </div>
          </ul>
        </div>
      </li>
      <li><a href="{% url 'markets:job_post_home'%}">Post a Job</a></li>
      <li><a href="{% url 'rehgien_pro:rehgien_pro_homepage'%}">Rehgien Pro</a></li>
      {% if not request.user.is_authenticated %}
      <ul>
        <div class="Mnav-authWrapper">
          <li>You are not signed in</li>
          <div class="Mnav-authLinks">
            <li><a href="{% url 'account_login' %}" class="modal-trigger">LogIn</a></li>
            <li>or</li>
            <li><a href="{% url 'account_signup' %}" class="modal-trigger">SignUp</a></li>
          </div>
        </div>
      </ul>
      {% else %}

      <li>
        <div class="collapsible-header Mnav-collapsible-header">
            <a style="color:#000;"><span class="material-icons">account_circle</span></a>
            <i class="fas fa-chevron-right"></i>
        </div>
        <div class="collapsible-body Mnav-collapsible-body">
          <ul>
            <li><a href="{% url 'profiles:account'%}">My Profile</a></li>
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
          </ul>
        </div>
      </li>
      {% endif %}
    </ul>

  </ul>
  </div>
</header>
<script type="text/javascript">
  window.onload = function() {
    document.querySelector(".preloader").style.display = "none";
  };
</script>
<div class="preloader valign-wrapper">
  <div class="preloader-content">
    <div class="preloader-img">
    </div>
    <div id="preloader-c" class="preloader-wrapper small active">
     <div class="spinner-layer spinner-red-only">
       <div class="circle-clipper left">
         <div class="circle"></div>
       </div><div class="gap-patch">
         <div class="circle"></div>
       </div><div class="circle-clipper right">
         <div class="circle"></div>
       </div>
     </div>
   </div>
  </div>
</div>

<main>
{% if messages%}
    <ul class="messages" id="message_box">
        {% for message in messages%}
         <li {% if message.tag %} class="{{ message.tags }}" {% endif %}>
           {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
           <i class="far fa-check-circle" style="color:#0aef13;"></i>
           {% else %}
           <i class="fas fa-times" style='color:red'></i>
           {% endif %}
           {{ message }}
         </li>
        {% endfor %}
    </ul>
{%endif%}
  {%block content%}
  {%endblock%}
</main>

{% block footer %}

{% endblock footer%}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
      var message_ele = document.getElementById("message_box");
      if (message_ele != null) {
        setTimeout(function(){
           message_ele.style.display = "none";
        }, 6000);
      }

      $(document).on( 'click', '#ac-trigger', function() {
          $('#ac-dropdown').css('display','block');
      });
      $(document).on('click', '#acDropdownClose', function() {
          $('#ac-dropdown').css('display','none')
      });
  });
</script>
<script src="{% static 'JqueryUI/jquery-ui.min.js'%}"></script>
  <script src="{% static 'OwlCarousel/owl.carousel.min.js'%}"></script>
  <script src="{% static 'JqueryTimepicker/js/jquery.timepicker.js'%}"></script>
  <script src="{% static 'JqueryDateTimepicker/jquery.datetimepicker.full.js'%}"></script>
    <script src="{% static 'dropzone/dropzone.min.js' %}"></script>
  <!-- <script src="{% static 'starlight/starlight.js'%}"></script> -->
  <script src="{% static 'calendar/js/caleandar.js' %}"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script src="{% static 'js/gall.js' %}"></script>
  <script src="{% static 'js/mat.js' %}"></script>
  <script src="{% static 'js/bubbles.js' %}"></script>
  <!-- <script src="{% static 'js/jquery.autocomplete.js' %}"></script> -->
  <script src="{% static 'js/our_search_code.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/js/all.min.js' %}"></script>
  <script src="{% static 'progressBar/progressbar.js'%}"></script>
  <script src="{% static 'progressBar/progressbar.min.js'%}"></script>
  <script src="{% static 'tagsInputAutocomplete/jquery.tagsinput-revisited.min.js'%}"></script>
  <script src="{% static 'dynamic_formsets_src/jquery.formset.js'%}"></script>
  <script src="https://media.twiliocdn.com/sdk/js/chat/v3.3/twilio-chat.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script type="text/javascript">
          AOS.init()
  </script>
  </body>
</html>
