{%load static%}
{% load compress %}
{% load cloudinary %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css' type='text/css' />
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
  <link rel="shortcut icon" type="image/png" href="{%static 'img/logo-fav-pro.png'%}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="Professional tools built to help grow your business. Find customers, targeted ad campaigns, engage with customers, create 3D tours, project management">
  <meta name="keywords" content="Find customers, marketing campaigns, customer engagement, virtual tours, project management">
  {% block title %}{% endblock %}
  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{%static 'css/material-icons.css'%}">
  <link href="{%static 'css/materialize.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{%static 'css/css/all.min.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{%static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="{% static 'OwlCarousel/assets/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{% static 'OwlCarousel/assets/owl.theme.default.min.css'%}">
  <link rel="stylesheet" href="{% static 'tagsInputAutocomplete/jquery.tagsinput-revisited.min.css'%}">
  <link rel="stylesheet" href="{% static 'JqueryTimepicker/css/jquery.timepicker.css'%}">
  <link rel="stylesheet" href="{% static 'JqueryDateTimepicker/jquery.datetimepicker.css'%}">
  <link rel="stylesheet" href="{% static 'calendar/css/theme2.css'%}">
  <link rel="stylesheet" href="{% static 'JqueryUI/jquery-ui.min.css'%}">
  <link rel="stylesheet" href="{% static 'intl-tel-input-master/build/css/intlTelInput.css'%}">
  <link rel="stylesheet" href="{% static 'PhotoCropper/cropper.min.css'%}">
  {% endcompress %}
  <!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" /> -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Libre+Baskerville&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script async charset="utf-8" src="//cdn.embedly.com/widgets/platform.js"></script>
  {% block head_title %}{% endblock %}
</head>
<body>
<script type="text/javascript">
  window.onload = function() {
    document.querySelector(".preloader").style.display = "none";
  };
</script>
<div class="preloader valign-wrapper">
  <div class="preloader-content">
    <div class="preloader-img">
    </div>
    <div id="preloader-c" class="preloader-wrapper small active">
     <div class="spinner-layer spinner-red-only">
       <div class="circle-clipper left">
         <div class="circle"></div>
       </div><div class="gap-patch">
         <div class="circle"></div>
       </div><div class="circle-clipper right">
         <div class="circle"></div>
       </div>
     </div>
   </div>
  </div>
</div>

{% block header %}
{% endblock %}
<main>
  {% if messages%}
      <ul class="messages" id="message_box">
          {% for message in messages%}
           <li {% if message.tag %} class="{{ message.tags }}" {% endif %}>
             {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
               <span class="material-icons" style="color:#0aef13;">check_circle_outline</span>
             {% else %}
               <span class="material-icons" style="color:red;">highlight_off</span>
             {% endif %}
             {{ message }}
           </li>
          {% endfor %}
      </ul>
  {%endif%}
  {%block content%}
  {%endblock%}
</main>

{% block footer %}

{% endblock footer%}

{% compress js %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
      var message_ele = document.getElementById("message_box");
      if (message_ele != null) {
        setTimeout(function(){
           message_ele.style.display = "none";
        }, 6000);
      }
  });
</script>
<script src="{% static 'JqueryUI/jquery-ui.min.js'%}"></script>
  <script src="{% static 'OwlCarousel/owl.carousel.min.js'%}"></script>
  <script src="{% static 'JqueryTimepicker/js/jquery.timepicker.js'%}"></script>
  <script src="{% static 'JqueryDateTimepicker/jquery.datetimepicker.full.js'%}"></script>
  <script src="{% static 'PhotoCropper/cropper.min.js'%}"></script>
  <script src="{% static 'PhotoCropper/jquery-cropper.min.js'%}"></script>
  <!-- <script src="{% static 'starlight/starlight.js'%}"></script> -->
  <script src="{% static 'calendar/js/caleandar.js' %}"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script src="{% static 'js/gall.js' %}"></script>
  <script src="{% static 'js/mat.js' %}"></script>
  <script src="{% static 'js/bubbles.js' %}"></script>
  <script src="{% static 'intl-tel-input-master/build/js/intlTelInput-jquery.min.js'%}"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script> -->
  <!-- <script src="{% static 'js/jquery.autocomplete.js' %}"></script> -->
  <script src="{% static 'js/our_search_code.js' %}"></script>
  <script src="{% static 'progressBar/progressbar.js'%}"></script>
  <script src="{% static 'progressBar/progressbar.min.js'%}"></script>
  <script src="{% static 'tagsInputAutocomplete/jquery.tagsinput-revisited.min.js'%}"></script>
  <script src="{% static 'dynamic_formsets_src/jquery.formset.js'%}"></script>
  {% endcompress %}
  <script src="https://media.twiliocdn.com/sdk/js/chat/v3.3/twilio-chat.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <!-- <script type="text/javascript">
          AOS.init()
  </script> -->
  </body>
</html>
