{% load static %}
<header id="main_hdr_hmpg_aiuu">
  <div class="navbar-fixed">
    <nav role="navigation">
    <div class="nav-wrapper">
      <a id="logo-wrapper" href="{% url 'rehgien_pro:rehgien_pro_homepage'%}" class="brand-logo left" style="height:60px;">
        <div class="base_lgo">
          <img src="{% static 'img/RehgienProLogoW.png'%}" alt="rehgien pro logo">
        </div>
      </a>
      <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-base1"class="left hide-on-med-and-down">
        <li><a href="#"  class="dropdown-trigger" data-target='pro_solutions'>Solutions</a></li>
        <li><a href="#" class="dropdown-trigger" data-target='pro_resources'>Resources</a></li>
      </ul>

      <div id="pro_solutions" class="dropdown-content hide-on-med-and-down _RgnProNav_dwn">
        <div class="container">
          <div class="pro_nav_rbox">
            <div class="row">
              <div class="col s12 md6 l6 xl6 pro_nav_drd_lItems_sxui_col">
                <div class="pro_nav_drd_lItems_wrpx col s12">
                  <div class="pro_nav_drd_lItems_sxui col s12">
                    <a href="{% url 'rehgien_pro:jobs_list'%}">
                      <div class="pro_sltn_wrpx">
                        <span class="material-icons">person_search</span>
                          <div class="pro_sltn_wrpxBd">
                              <div class="pro_sltn_title">
                                Find customers
                              </div>
                              <p>Let us connnect you to your next client. Your next project is a step away!</p>
                          </div>
                      </div>
                    </a>
                    <a href="#" class="link_disabled">
                      <div class="pro_sltn_wrpx">
                        <span class="material-icons">duo</span>
                          <div class="pro_sltn_wrpxBd">
                              <div class="pro_sltn_title">
                                Customer Experience
                              </div>
                              <p>Engage with your clients more deeply. Chat live or have video calls with ease.</p>
                          </div>
                      </div>
                    </a>
                    <a href="#" class="link_disabled">
                      <div class="pro_sltn_wrpx">
                        <span class="material-icons">folder</span>
                          <div class="pro_sltn_wrpxBd">
                              <div class="pro_sltn_title">
                                Project management
                              </div>
                              <p>Organize your projects build teams and collaborate for maximum productivity.</p>
                          </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col s12 md6 l6 xl6 pro_nav_drd_lItems_sxui_col">
                <div class="pro_nav_drd_lItems_wrpx col s12">
                  <div class="pro_nav_drd_lItems_sxui col s12">
                    <a href="#" class="link_disabled">
                      <div class="pro_sltn_wrpx">
                        <span class="material-icons">3d_rotation</span>
                          <div class="pro_sltn_wrpxBd">
                              <div class="pro_sltn_title">
                                Virtual Experiences
                              </div>
                              <p>Go 3D with virtual reality tools and showcase your best work
                              in the best possible way.</p>
                          </div>
                      </div>
                    </a>
                    <a href="#" class="link_disabled">
                      <div class="pro_sltn_wrpx">
                        <span class="material-icons">campaign</span>
                          <div class="pro_sltn_wrpxBd">
                              <div class="pro_sltn_title">
                                Marketing options
                              </div>
                              <p>Meet new clients with our integrated marketing tools.</p>
                          </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="pro_resources" class="dropdown-content hide-on-med-and-down _RgnProNav_dwn">
        <div class="container">
          <div class="pro_nav_rbox">
            <div class="row">
              <div class="col s12 md6 l6 xl6 pro_nav_drd_lItems_sxui_col">
                <div class="pro_nav_drd_lItems_wrpx col s12">
                  <div class="pro_nav_drd_lItems_sxui col s12">
                    <a href="{% url 'rehgien_pro:blog_posts'%}?blog_category=product-updates">
                      <div class="pro_sltn_wrpx">
                        <span class="material-icons">important_devices</span>
                          <div class="pro_sltn_wrpxBd">
                              <div class="pro_sltn_title">
                                Product updates
                              </div>
                              <p>Get the latest news about new Rehgien features and updates.</p>
                          </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col s12 md6 l6 xl6 pro_nav_drd_lItems_sxui_col">
                <div class="pro_nav_drd_lItems_wrpx col s12">
                  <div class="pro_nav_drd_lItems_sxui col s12">
                    <a href="{% url 'rehgien_pro:blog_posts'%}?blog_category=tutorials" >
                      <div class="pro_sltn_wrpx">
                        <span class="material-icons">video_library</span>
                          <div class="pro_sltn_wrpxBd">
                              <div class="pro_sltn_title">
                                Tutorials
                              </div>
                              <p>Learn how to use rehgien features and tools. </p>
                          </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ul id="nav-base2" class="right">
        {% if request.user.user_type != 'PRO' %}
        <li class="hide-on-med-and-down"><a href="{% url 'rehgien_pro:pro_join_landing' %}"><button class="join_as_pro" type="button" name="button">Join as a pro</button></a></li>
        {% endif %}
        {% if request.user.is_authenticated and request.user.user_type == 'PRO' %}
        <li class="hide-on-med-and-down"><a href="{% url 'rehgien_pro:rehgien_pro_homepage'%}"><button class="gToRgnProBtnNav" type="button" name="button">Rehgien Pro</button></a></li>
        {% else %}
        <li class="hide-on-med-and-down"><a href="{% url 'rehgien_pro:rehgien_pro_homepage'%}">Rehgien Pro</a></li>
        {% endif %}
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'account_login' %}" class="modal-trigger"> Sign In</a></li>
        {% else %}
        <li>
          <div class="global_Nav_dropdown">
              <button type="button" name="button" class="dropdown-trigger" data-target='globalWishListDpdown'>
                <span class="material-icons">favorite</span>
              </button>
              <div id="globalWishListDpdown" class="dropdown-content globalDpdown_elem global_dpd_wishl_sc">
                  <div class="global_dpdwn_hd">
                    <h5>Your Wish List</h5>
                  </div>
                  <div class="globalDpdwn_body">
                    <a href="{% url 'profiles:user_saved_properties'%}">
                      <div class="globalDpdwn_wishlist_item">
                        <img src="{% static 'img/property_sky.jpg'%}" alt="properties">
                        <span>
                            <h5>Properties</h5>
                            <p>{{request.user.listings_home_saves_related.all.count}} Item{{ request.user.listings_home_saves_related.all.count|pluralize }}</p>
                        </span>
                      </div>
                    </a>

                    <a href="{% url 'profiles:saved_pros'%}">
                      <div class="globalDpdwn_wishlist_item">
                        <img src="{% static 'img/thumbnails/system_&_appliances.jpg'%}" alt="Professionals">
                        <span>
                            <h5>Professionals</h5>
                            <p>{{request.user.business_page_saves.all.count}} Item{{ request.user.business_page_saves.all.count|pluralize }}</p>
                        </span>
                      </div>
                    </a>
                  </div>
                  <div class="globalDpdwn_footer"><a href="{% url 'profiles:user_wishlist'%}">View All</a></div>
              </div>
          </div>
        </li>
        <li>
          <div class="global_Nav_dropdown">
              <button type="button" name="button" class="dropdown-trigger" data-target='globalNotfDpdown'>
                <span class="material-icons">notifications</span>
              </button>
              <div id="globalNotfDpdown" class="dropdown-content globalDpdown_elem global_dpd_botf_sc">
                  <div class="global_dpdwn_hd">
                    <h5>Notifications</h5>
                  </div>
                  <div class="globalDpdwn_body">
                    <div class="globalntfempty_">
                      <i class="material-icons">notifications_none</i>
                      <p>No Notifications Right Now</p>
                    </div>
                  </div>
                  <div class="globalDpdwn_footer"><a href="{% url 'profiles:notifications' %}">See All Notifications</a></div>
              </div>
          </div>
        </li>
        <li>
          <div class="global_Nav_dropdown">
              <button type="button" name="button" class="dropdown-trigger global-dash-usrAct" data-target='globalActDpdown'>
                <div class="global-usrActDt">
                  <img src="
                    {% if request.user.profile_image%}
                      {{ request.user.profile_image.url}}
                    {% else %}
                      {% static 'img/avatar.png'%}
                    {% endif %}
                  " alt="">
                  <div class="global_ac_u_mkfirst">
                      {{request.user.username|make_list|slice:'2'|join:'' }}
                    <i class="material-icons">expand_more</i>
                  </div>
                </div>
                <div id="globalActDpdown" class="dropdown-content globalDpdown_elem global_dpd_acct_sc">
                    <div class="global_dpd_acct_sc_prof">
                        <div class="_globalaeuwends-aks">
                          <img src="
                            {% if request.user.profile_image%}
                              {{ request.user.profile_image.url}}
                            {% else %}
                              {% static 'img/avatar.png'%}
                            {% endif %}
                          " alt="">
                        </div>
                        <div class="globalAsdalewl-lsdm_kask">
                          <h5>Your Profile</h5>
                          <h6>
                                {{request.user.username|truncatechars:'25' }}
                          </h6>
                        </div>
                    </div>
                    <ul>
                      {% if request.user.user_type == 'PRO'%}
                      <li><a href="{% url 'profiles:pro_business_page_edit' pk=request.user.pro_business_profile.pk %}">Go to business page</a></li>
                      <li><a href="{% url 'rehgien_pro:dashboard_home'%}">Dashboard</a></li>
                      {% endif %}
                      <li><a href="{% url 'profiles:account_settings'%}">Account Settings</a></li>
                      <li><a href="{% url 'homepage' %}">Go to Rehgien</a></li>
                      <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                    </ul>
                </div>
              </button>
            </div>
        </li>
       {% endif %}
      </ul>
    </div>
  </nav>
  <ul id="mobile-nav" class="sidenav">
    <ul class="Mnav-logoUl">
      <li>
            <div class="sidenavBtnClose">
                <button type="button" name="button" class="sidenav-close">
                  <span class="material-icons">clear</span>
                </button>
            </div>
            <div class="brand-logo center Mnav-logoWrapper">
              <a href="{% url 'rehgien_pro:rehgien_pro_homepage'%}">
                <img src="{% static 'img/RehgienProLogo.png'%}" alt="rehgien pro logo">
              </a>
            </div>
      </li>
    </ul>
    <ul class="Mnav-UlItems collapsible expandable">
      <li><a href="{%url 'rehgien_pro:rehgien_pro_homepage'%}"><p><i class="material-icons">home</i>Home</p></a></li>
      <li class="active">
        <div class="collapsible-header Mnav-collapsible-header"><p><i class="material-icons">cloud_circle</i>Solutions</p><span class="material-icons">expand_more</span></div>
        <div class="collapsible-body Mnav-collapsible-body">
          <ul>
            <div class="Mnav-re_pros pro_links">
              <!-- <h6><span class="material-icons">person_search</span>Find customers</h6> -->
              <li><a href="{%url 'rehgien_pro:jobs_list'%}"><p><i class="material-icons">person_search</i>Find customers</p></a></li>
              <!-- <h6><span class="material-icons">duo</span>Customer Experience</h6> -->
              <li><a href="#" class="link_disabled"><p><i class="material-icons">duo</i>Customer Experience</p></a></li>
              <!-- <h6><span class="material-icons">folder</span>Project management</h6> -->
              <li><a href="#" class="link_disabled"><p><i class="material-icons">folder</i>Project management</p></a></li>
              <!-- <h6><span class="material-icons">3d_rotation</span>Virtual Experiences</h6> -->
              <li><a href="#" class="link_disabled"><p><i class="material-icons">3d_rotation</i>Virtual Experiences</p></a></li>
              <!-- <h6><span class="material-icons">campaign</span>Marketing options</h6> -->
              <li><a href="#" class="link_disabled"><p><i class="material-icons">campaign</i>Marketing options</p></a></li>
            </div>
          </ul>
        </div>
      </li>
      <li><a href="{% url 'homepage'%}"><p><i class="material-icons">weekend</i>Rehgien Home</p></a></li>
      <li class="active">
        <div class="collapsible-header  Mnav-collapsible-header"><p><i class="material-icons">upgrade</i>Are you a pro?</p><span class="material-icons">expand_more</span></div>
        <div class="collapsible-body Mnav-collapsible-body">
          <ul class="collapsible">
              <li style="border-bottom:none"><a href="{% url 'rehgien_pro:pro_join_landing' %}"><p>Join as a pro</p></a></li>
              <li style="border-bottom:none"><a href="{% url 'partnership:partner_program_home' %}"><p>Partner with us</p></a></li>
          </ul>
        </div>
      </li>
    </ul>

  </ul>

  </div>
</header>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(document).on( 'click', '#ac-trigger', function() {
        $('#ac-dropdown').css('display','block');
    });
    $(document).on('click', '#acDropdownClose', function() {
        $('#ac-dropdown').css('display','none')
    });

    const black_logo =  "{% static 'img/RehgienProLogo.png'%}";

    const white_logo = "{% static 'img/RehgienProLogoW.png'%}";

    $(window).scroll(function() {
      if($(this).scrollTop() > 1) {
          $('header').removeAttr('id');
          $('.base_lgo img').attr('src', black_logo)
      } else {
          $('header').attr('id','main_hdr_hmpg_aiuu');
          $('.base_lgo img').attr('src', white_logo)
      }
    });

});
</script>
