{% extends 'base1.html'%}
{% block content %}

<div class="container about_us who_we_are">
  <div class="row">
      <h1>Our story</h1>
      <p>
      Just after finishing college we came stumbling to the tough problem of finding
      a new place to live. The real hustle however was never about the lack of home
      options but the lack of authenticity in the process. There was simply no
      way to establish the authenticity of any information you found out there and
      the chances of falling into a scam were very high. So like many more people
      we also found ourselves wasting alot of time relying on referals and
      physically going to check out the places ourselves, something which we found
      to be extremely inneficient.
      <br>
      <br>

      Therefore, we set out on a mission to try and solve this problem once and
      for all. During this process we soon realized that the authenticity
      problem was not present in home searching only but also present
      when working with other home service providers like plumbers, carpenters,
      cleaners and movers. From that we built rehgien the first true professional
      only property service marketplace that puts the entire property service
      market in one place making it easy and safe for people to access virtually
      any property/home service by working with only verified professionals.

      <br>
      <br>
      With Rehgien whether you are a professional looking to build your business
      and get hired or a client looking for a pro to get a particular job done
      we have built great tools and processes that help you get what you want
      with ease and flexibility.
      <br>
      <br>

      In an era of instant access to everything don't spend your entire day searching for a pro to
      get a job done! Rehgien takes care of that for you by ensuring you only have the best at your disposal.
      To stay true to this mission, we enforce strict methods of ensuring only verified pros
      can be found here and scammers are always kept out.
      For us the experience people get when they use our platforms daily is what drives us and we
      will always ensure the trust they give us is respected.


      </p>
  </div>
</div>
<br>
<br>
<br>
{% endblock %}
{% block footer %}{% include 'footer_section.html'%}{% endblock %}
