{% extends "base1.html"%}
{% load static %}
{% block content %}

<section class="slider">
  <ul class="slides">
    <li>
      <img class="banner-img" src="{% static 'img/about_banner.jpeg' %}">
      <div class="caption align white-text">
        <h2>"Learn more about Us</h2>
        <h5>We are continually building to make your life easier</h5>
      </div>
    </li>
</ul>
</section>

<section class="ds-section">
  <div id="ds-cont" class="container">
    <div class="row">
      <div class="col s12">
        <h4 class=" d-h4">About us</h4>
        <div class="ds-texts">
          <p>
            This is a platform for all the industry players to come together, connect share
            and most importantly learn and understand the technological innovations being
            used in the industry we are intending to start the proptech converstation in kenya,
            create awareness and provide a holistic understanding of proptech and its role in the
            industry
          </p>
          <h4 class=" d-h4">Who are we?</h4>
          <p>
            We are a group of people from the built environment who are passionate about technology
            in the industry in kenya and Africa as a whole
          </p>
          <h4 class=" d-h4"> What we do </h4>
          <p>
            We are ambassadors for proptech in Kenya and aim to promote, connect and grow
            the industry in Kenya. We also aim to adopt a global perspective by building
            strong relationships with simpler bodies and proptech all over the world.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="t-section">
  <div id="t-cont" class="container">
      <h3 class=" t-h3">Team</h3>
    <div class="row">
      <div class="col s12 m6 l6 xl4">
        <div id="t-card" class="card">
          <img src="{% static 'img/mutua.jpg' %}" alt="mutua">
          <h5 class="t-name"> Mutua Kennedy</h5>
        </div>
      </div>
      <div class="col s12 m6 l6 xl4">
        <div id="t-card" class="card">
          <img src="{% static 'img/jevans.jpg' %}" alt="jevans">
          <h5 class="t-name"> Gevans Otieno</h5>
        </div>
      </div>
      <div class="col s12 m6 l6 xl4">
        <div id="t-card" class="card">
          <img src="{% static 'img/lewis.jpg' %}" alt="lewis">
          <h5 class="t-name">Peter Lewis</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="news-events">
  <div id="news-cont" class="container">
    <h3>News and events</h3>
    <div class="row">
      <div id="n-cards" class="col s12 m6 l6 xl4">
        <div id="news-card" class="card">
            <h5 class="news-h5">Upcoming Events</h5>
          <img src="{% static 'img/news_icon.jpg' %}" alt="Upcoming events">
          <p>Currently no event is scheduled. Contact us below to get notified instantly of future events!</p>
        </div>
      </div>
      <div id="n-cards" class="col s12 m6 l6 xl4">
        <div id="news-card" class="card">
          <h5 class="news-h5">Past Events</h5>
            <img src="{% static 'img/news_icon.jpg' %}" alt="Past events">
            <p>No past events availlable. Contact us below to get notified instantly of future events!</p>
        </div>
      </div>
    </div>
    <!-- <button type="button" name="button" class="btn large"> See more!</button> -->
  </div>
</section>
<section class="contact-us">
  <div id="c-cont" class="container">
  <h3>Talk to Us now!</h3>
    <div class="row">
        <form id="contactUsForm" action="{% url 'contact:about_us' %}" class="col s12" method="POST">
          {% csrf_token %}
          <div id="c-names" class="row">
            <div class="c-input-field col s12">
              <input id="c-name" type="text" name="c-name" class="validate" placeholder="Enter your name">
            </div>
            </div>
            <div id="c-phone" class="row">
              <div class="c-input-field col s12">
                <input id="c-phone_number" type="number" name="c-phone_number" min="0" class="validate" placeholder="Phone number">
              </div>
            </div>
          <div id="c-fEmail" class="row">
            <div class="c-input-field col s12">
              <input id="c-from_email" type="email" name="c-from_email" class="validate" placeholder="Enter your email">
            </div>
          </div>
          <div class="row">
            <div class="c-input-field col s12">
              <input disabled id="c-recepient" type="hidden" name="c-recepient" value="homeykenya5@gmail.com" class="validate">
            </div>
          </div>
          <div id="c-eMessage" class="row">
            <div class="c-input-field col s12">
              <textarea id="c-message" rows="8" name="c-message" cols="80" placeholder="Enter your message"></textarea>
            </div>
          </div>
          <button id="c-SendButton" type="submit" name="button"> Send Message</button>
        </form>
        </div>
  </div>
</section>


{% endblock %}
