{% extends "socialaccount/base.html" %}
{% load account socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Account Connections" %}{% endblock %}

{% block content %}
<div class="container connections-cont">
    <div class="row">
        <div class="connections-page">
            <h1>Account Connections</h1>

            {% if form.accounts %}
                <p>You can sign in to your account using any of the following third party accounts</p>

                <form method="post" action="{% url 'socialaccount_connections' %}">
                    {% csrf_token %}

                    <fieldset>
                        {% if form.non_field_errors %}
                        <div id="errorMsg">{{ form.non_field_errors }}</div>
                        {% endif %}

                        {% for base_account in form.accounts %}
                            {% with base_account.get_provider_account as account %}
                            <div class="cn_base_accounts">
                                <label for="id_account_{{ base_account.id }}">
                                    <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
                                    <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}"></span>
                                </label>
                                <div class="socialaccount_provider-card">
                                    <div class="socialaccount_provider-card-brand">{{account.get_brand.name}}</div>
                                    {{ account }}
                                </div>
                            </div>
                            {% endwith %}
                        {% endfor %}

                        <div class="cn_submit">
                            <button type="submit">{% trans 'Remove' %}</button>
                        </div>

                    </fieldset>

                </form>

            {% else %}
                <p>You currently have no social network accounts connected to this account.</p>
            {% endif %}
                <br>
                <h2>Connect another account</h2>
                <div class="_authLogIn_method">
                    <a href="{% provider_login_url 'facebook' method='oauth2' process='connect' %}"><i class="iconify" data-icon="akar-icons:facebook-fill" style="color:#3b5998"></i><div class="_authSignUp_method-a-dvdr"></div>Facebook</a>
                    <a href="{% provider_login_url 'google' method='oauth2' process='connect' %}"><i class="iconify" data-icon="flat-color-icons:google"></i><div class="_authSignUp_method-a-dvdr"></div>Google</a>
                </div>

            {% include "socialaccount/snippets/login_extra.html" %}
        </div>
    </div>
</div>
{% endblock %}
