{% extends 'pro_base.html'%}
{% load static %}
{% block title %}<title>Grow your brand | Rehgien Pro</title>{% endblock %}
{% block header %}{% include 'pro_header2.html'%}{% endblock %}
{% block content %}
<div class="ragency_nav_section">
  <div class="ragency_nav_section_links">
    <ul>
      <li><a href="#webDesign">Website Design</a></li>
      <li><span></span></li>
      <li><div class="rg_agencyTooltip"><i class="material-icons">info</i>Coming Soon</div><a href="#" class="disabled">Business Branding</a></li>
      <li><span></span></li>
      <li><div class="rg_agencyTooltip"><i class="material-icons">info</i>Coming Soon</div><a href="#" class="disabled">Videos & Animation</a></li>
    </ul>
  </div>
</div>
<div class="ragency_banner_wrapper">
  <div class="ragency_banner" style="background-image:url({% static 'img/ragency_banner1.png'%})">
    <div class="ragency_banner_overlay">
      <div class="container">
        <div class="row">
          <div class="col s12 m6 l6 xl6">
            <div class="ragencyBanner_content">
              <div class="ragencyBanner_text">
                <span>Website Design</span>
                <h1>Leave an Outstanding Online Impression</h1>
                <p>
                  Having a strong online brand is essential to converting more customers for your business. With our long
                  experience in working with professionals like yourself, we have learnt to build websites with a purpose and tailored to our clients needs.</p>
                <a href="#messageRagency"><button type="button" name="button">Get free consultation</button></a>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6 xl6">

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<a id="webDesign"></a>
<div class="ragency_body_content">
  <div class="section_grey_back_" style="padding:10px">
    <div class="container">
      <div class="row">
        <div class="col s12 ragency_bd_hw_iworks">
            <div class="col s12 ragency_section_head">
                <h2 class="col s12">How it Works</h2>
                <p>A proven process that guarantees to drive the best value to you and your business</p>
            </div>
            <div class="col s12 md3 l3 xl3">

              <div class="card">
                <div class="hw_iworks_card_body">
                  <img src="{% static 'img/telephone.png' %}" alt="">
                  <h3>Intro Call</h3>
                  <p>Together we'll go through your project requirements and identify which path will match best with your business</p>
                </div>
              </div>
            </div>
            <div class="col s12 md3 l3 xl3">

              <div class="card">
                  <div class="hw_iworks_card_body">
                    <img src="{% static 'img/design.png' %}" alt="">
                    <h3>Design Approval</h3>
                    <p>Our team will design and iterate on your website untill you get the perfect match. After approval your site will go live.</p>
                  </div>
              </div>
            </div>
            <div class="col s12 md3 l3 xl3">

              <div class="card">
                <div class="hw_iworks_card_body">
                  <img src="{% static 'img/video-conference.png' %}" alt="">
                  <h3>In Person Training</h3>
                  <p>We will train you on how to manage and maximize the use of your new shiny website</p>
                </div>
              </div>
            </div>
            <div class="col s12 md3 l3 xl3">

              <div class="card">
                <div class="hw_iworks_card_body">
                  <img src="{% static 'img/maintenance.png' %}" alt="">
                  <h3>Maintainance</h3>
                  <p>Our team will conduct periodic checkins and assist with any issues you may have.</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section_wh_back_wh" style="padding:10px">
    <div class="container ">
      <div class="row">
        <div class="col s12 ragency_intro_call">
            <div class="col s12 md7 xl7 l7">
              <div class="card">
                <div class="introcall_card_body">
                  <h3>What to expect during your intro call</h3>
                  <p>
                    The intro call is an crucial step in the journey to turning your idea into a reality.
                    Your dedicated account manager will work with you on the following:
                    <br>
                      <br>
                    <span><i class="material-icons">check_circle</i>Understanding your requirements for the project</span>
                    <span><i class="material-icons">check_circle</i>Understanding your business better</span>
                    <span><i class="material-icons">check_circle</i>Suggest and advice on the best package for you to pick</span>
                    <span><i class="material-icons">check_circle</i>Answer any questions you may have</span>
                  </p>
                  <a href="#messageRagency"><button type="button" name="button">Get free consultation</button></a>
                </div>
              </div>
            </div>
            <div class="col s12 md5 xl5 l5">
              <div class="card">
                <div class="ragency_card_grid">
                  <div class="top_col">
                    <img class="cgrid_img_1" src="{% static 'img/meeting.jpg' %}" alt="">
                    <img class="cgrid_img_2" src="{% static 'img/meeting.jpg' %}" alt="">
                    <img class="cgrid_img_3" src="{% static 'img/meeting.jpg' %}" alt="">
                  </div>

                  <div class="bottom_col">
                    <img class="cgrid_img_4" src="{% static 'img/meeting.jpg' %}" alt="">
                  </div>

                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section_wh_back_wh">
    <div class="container">
      <div class="row">
        <div class="col s12 ragency_wh_you_get">
          <div class=" col s12 ragency_section_head">
            <h2 class="col s12">Hassle Free Ownership</h2>
            <p>Apart from giving you a professional look, rehgien handles all the stressfull work of managing your site so you don't have to</p>
          </div>
            <div class="col s12 md6 xl6 l6">
              <div class="card">
                <div class="wh_yget_card_head">
                    <img src="{% static 'img/stat_1.jpg' %}" alt="">
                </div>
                <div class="wh_yget_card_body">
                  <h3>Let Rehgien do all the work!</h3>
                  <p>We will build your website and ensure its always upto date with your new information</p>
                </div>
              </div>
              <div class="card">
                <div class="wh_yget_card_head">
                    <img src="{% static 'img/stat_2.jpg' %}" alt="">
                </div>
                <div class="wh_yget_card_body">
                  <h3>Secure & SEO friendly</h3>
                  <p>Our sites are built with secure technologies and very SEO friendly</p>
                </div>
              </div>
              <div class="card">
                <div class="wh_yget_card_head">
                    <img src="{% static 'img/photography_rehgienAgency.jpg' %}" alt="">
                </div>
                <div class="wh_yget_card_body">
                  <h3>Unlimitted media file uploads</h3>
                  <p>With Rehgien Websites you will never run out of space. Upload as much content as you can!</p>
                </div>
              </div>
            </div>
            <div class="col s12 md6 xl6 l6">
              <div class="card">
                <div class="wh_yget_card_head">
                    <img src="{% static 'img/stat_4.jpg' %}" alt="">
                </div>
                <div class="wh_yget_card_body">
                  <h3>Hosting and Domain included </h3>
                  <p>We will purchase a domain and manage your entire hosting so you can focus on what really matters-growing your business!</p>
                </div>
              </div>
              <div class="card">
                <div class="wh_yget_card_head">
                    <img src="{% static 'img/web_design_rehgienAgency.jpg' %}" alt="">
                </div>
                <div class="wh_yget_card_body">
                  <h3>Fully responsive website</h3>
                  <p>Your site will always impress on every device.</p>
                </div>
              </div>
              <div class="card">
                <div class="wh_yget_card_head">
                    <img src="{% static 'img/stat_3.jpg' %}" alt="">
                </div>
                <div class="wh_yget_card_body">
                  <h3>Rehgien Tools Integration</h3>
                  <p>If you are a rehgien pro your site will be able to benefit from business tool integrations availlable on the rehgien ecosystem</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <a id="messageRagency"></a>
  <div class="section_blk_back_">
    <div class="container ">
      <div class="row">
        <div class="col s12 ragency_contact_us">
          <div class="col s12 md6 xl6 l6">
            <div class="col s12 card_contact">
              <div class=" col s12 rag_bd_contactMsg">
                <span>Contact Us</span>
                <h3>Lets get in touch</h3>
                <p>Contact us and lets discuss your project and how we can help</p>
              </div>
              <div class="col s12 rag_bd_contact_alt">
                <span>+2547 1796 6627</span>
                <span><a href="mailto:mutakennedy81@gmail.com">mutakennedy81@gmail.com</a></span>
              </div>
            </div>
          </div>
            <div class="col s12 md6 xl6 l6">
              <div class="col s12 card_contact">
                <div class="col s12 rag_bd_form">
                  <form action="{% url 'rehgien_pro:r_agency_home'%}" method="post">
                    {% csrf_token %}
                    <div class="col s12 ragency_cform_fields">
                        <div class="col s12 rag_c_fields_row">
                            <div class="col s12 md6 l6 xl6">
                                <h6>First Name<span>*</span></h6>
                                {{contactForm.first_name}}
                                {{ contactForm.first_name.errors }}
                            </div>
                            <div class="col s12 md6 l6 xl6">
                                <h6>First Name<span>*</span></h6>
                                {{contactForm.last_name}}
                                {{ contactForm.last_name.errors }}
                            </div>
                        </div>
                        <div class="col s12 rag_c_fields_row">
                            <div class="col s12 md6 l6 xl6">
                              <h6>Phone Number<span>*</span></h6>
                              {{contactForm.phone}}
                              {{ contactForm.phone.errors }}
                            </div>
                            <div class="col s12 md6 l6 xl6">
                              <h6>Company Name<span>*</span></h6>
                              {{contactForm.company_name}}
                              {{ contactForm.company_name.errors }}
                            </div>
                        </div>
                        <div class="col s12 rag_c_fields_row">
                          <div class="col s12 md6 l6 xl6">
                              <h6>Email<span>*</span></h6>
                              {{contactForm.email}}
                              {{ contactForm.email.errors }}
                          </div>
                          <div class="col s12 md6 l6 xl6">
                              <h6>Service Type<span>*</span></h6>
                              {{contactForm.service_type}}
                              {{ contactForm.service_type.errors }}
                          </div>
                        </div>
                        <div class="col s12 rag_c_fields_col">
                            <div class="col s12">
                                <h6>Message <span>*</span></h6>
                                {{contactForm.message}}
                                {{ contactForm.message.errors }}
                            </div>
                        </div>
                        <div class="rag_c_fields_submit">
                          <button type="submit" name="button">Send a request</button>
                        </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
