<div id="prls_pagination" class="ls_pagination">
    {% if listings.has_previous %}
        <a class="pagination-action _rvwpageNumber" data-PageNumber="1" href="#">
            <span class="material-icons">first_page</span>
        </a>
        <a id="_pPrevPageLink" data-PageNumber="{{ listings.previous_page_number }}" class="pagination-action _rvwpageNumber" href="#">
            <span class="material-icons">chevron_left</span>
        </a>
    {% endif %}
    {% for num in listings.paginator.page_range %}
        {% if listings.number == num %}
            <span class="pagination-number pagination-current" data-PageNumber="{{ num }}">{{ num }}</span>
        {% elif num > listings.number|add:'-3' and num < listings.number|add:'3' %}
            <a class="pagination-number _rvwpageNumber" data-PageNumber="{{ num }}" href="#">{{ num }}</a>
        {% endif %}
    {% endfor %}
        {% if listings.has_next %}
        <span class="pagination-of">...</span>
        <span class="pagination-total"> {{ listings.paginator.num_pages }}</span>
        <a id="_pNextPageLink" data-PageNumber="{{ listings.next_page_number }}" class="pagination-action _rvwpageNumber" href="#">
          <span class="material-icons">chevron_right</span>
        </a>
        <a class="pagination-action _rvwpageNumber" data-PageNumber="{{ listings.paginator.num_pages }}" href="#">
          <span class="material-icons">last_page</span>
        </a>
    {% endif %}
</div>
